{% extends "layouts/main.html" %}

{% block beforeContent %}

{% endblock %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Summary test</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




        <div id="site-1-details" class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Site details
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="../delete-site?site=1&return=manual-entry-review">
                  Delete site<span class="govuk-visually-hidden"> 1</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <!-- Only show site name for multiple site journeys -->
              <!-- Activity dates logic -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Activity dates
                </dt>
                <dd class="govuk-summary-list__value">
                  1 January 1 to 1 January 1
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="individual-site-activity-dates?site=1&returnTo=review-site-details#site-1-details"
                    class="govuk-link">
                    Change<span class="govuk-visually-hidden"> activity dates</span>
                  </a>
                </dd>
              </div>
              <!-- Activity description logic -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Activity description
                </dt>
                <dd class="govuk-summary-list__value">
                  Description
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="individual-site-activity-description?site=1&returnTo=review-site-details#site-1-details"
                    class="govuk-link">
                    Change<span class="govuk-visually-hidden"> activity description</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Single or multiple sets of coordinates
                </dt>
                <dd class="govuk-summary-list__value">
                  Enter multiple sets of coordinates to mark the boundary of the site
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="how-do-you-want-to-enter-the-coordinates?site=1&returnTo=review-site-details&clearData=true#site-1-details"
                    class="govuk-link">
                    Change<span class="govuk-visually-hidden"> single or multiple sets of coordinates</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinate system
                </dt>
                <dd class="govuk-summary-list__value">
                  OSGB36 (National Grid)<br>
                  Eastings and Northings
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="which-coordinate-system?site=1&returnTo=review-site-details&clearData=true#site-1-details"
                    class="govuk-link">
                    Change<span class="govuk-visually-hidden"> coordinate system</span>
                  </a>
                </dd>
              </div>
              <!-- Coordinate display based on method -->
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Start and end points
                </dt>
                <dd class="govuk-summary-list__value">
                  1, 1
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="enter-multiple-coordinates?site=1&returnTo=review-site-details#site-1-details"
                    class="govuk-link">
                    Change<span class="govuk-visually-hidden"> coordinates</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Point 2
                </dt>
                <dd class="govuk-summary-list__value">
                  1, 1
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Point 3
                </dt>
                <dd class="govuk-summary-list__value">
                  1, 1
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="vertical-align: top;">
                  Map view
                </dt>
                <dd class="govuk-summary-list__value">
                  <img src="/public/images/map-square.jpg" alt="Map showing site 1 location" />
                </dd>
              </div>
            </dl>
            
          </div>
        </div>

    </div>
</div>




{% endblock %}
