{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/account-bar.html" %}
    
    {% if data['applicationSubmitted'] == "true" %}
    {% include "../includes/back-link.html" %}
    {% else %}
    <a class="govuk-back-link" href="task-list.html" style="margin-bottom: 0;">Go back to your project</a>
    {% endif %}
    
{% endblock %}


{% set pageHeadingTextHTML %}
  {% if data['applicationSubmitted'] == "true" %}
    {{ data['exemption-project-name-text-input'] }}
  {% else %}
    Check your answers before sending your information
  {% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerName'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% if data['applicationSubmitted'] == "true" %}
      <span class="govuk-caption-l">	EXE/2025/004 – Exempt activity</span>
    {% else %}
      <!-- No caption -->
    {% endif %}
    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>

    {% if data['applicationSubmitted'] == "true" %}
      <!-- No project name card -->
    {% else %}
     <!--Start of Project details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Project details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-project-name-text-input'] }}
        </dd>
        
          {% if data['applicationSubmitted'] == "true" %}

          {% else %}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-name?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Project name</span></a>
          </dd>
          {% endif %}
          
      </div>
      </dl>

      </div>
      </div>

    {% endif %}


    
      
      <!-- Show pontoon scenario details -->
      {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
      
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Your answers from 'Check if you need a marine licence'
          </h2>
        </div>
        <div class="govuk-summary-card__content">
  
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Where will the activity take place?
          </dt>
          <dd class="govuk-summary-list__value">
            In a river, estuary, or channel, up to the normal tidal limit at mean high water spring tide
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Which waters will the activity take place in?
          </dt>
          <dd class="govuk-summary-list__value">
            English waters or Northern Ireland offshore waters
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Which type of activity will take place?
          </dt>
          <dd class="govuk-summary-list__value">
            Construction
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            What is the purpose of your construction activity?
          </dt>
          <dd class="govuk-summary-list__value">
            To build or make something new
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            What does the construction activity involve?
          </dt>
          <dd class="govuk-summary-list__value">
            Pontoons
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Will a harbour authority or someone working for them carry out the activity?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Will the activity take place in a harbour authority area?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Do you have harbour authority consent to build a pontoon?
          </dt>
          <dd class="govuk-summary-list__value">
            Not yet, but I will have it before starting
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Will the pontoon deck be larger than 30 square metres when finished?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            In the 6 months before the activity begins, will the harbour authority have built or approved more than 10 pontoons?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Why this activity is exempt
          </dt>
          <dd class="govuk-summary-list__value">
            Based on your answers, your activity is exempt under <a href="http://www.legislation.gov.uk/uksi/2011/409/article/25A" rel="noreferrer noopener" target="_blank">Article 25A of the Marine Licence (Exempted Activities) Order 2011 (opens in new tab)</a> 
          </dd>
        </div>
      </dl>

      {% if data['applicationSubmitted'] == "true" %}

      {% else %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body">If you need to change any of these answers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>delete this exempt activity information from <a href="home" class="govuk-link--no-visited-state">your projects</a></li>
        <li>restart the process by <a href="#">checking if you need a marine licence</a></li>
      </ul>
      {% endif %}
      

      <!-- Show scientific samples scenario details -->
      {% elif data['exemption'] == "sample-notification" %}
      
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Your answers from the 'Check if you need a marine licence' service
          </h2>
        </div>
        <div class="govuk-summary-card__content">

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Where will the activity take place?
              </dt>
              <dd class="govuk-summary-list__value">
                In or over the sea
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which waters will the activity take place in?
              </dt>
              <dd class="govuk-summary-list__value">
                English waters or Northern Ireland offshore waters
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which type of activity will take place?
              </dt>
              <dd class="govuk-summary-list__value">
                Removal of a substance or object
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will you carry out the removal?
              </dt>
              <dd class="govuk-summary-list__value">
                Using a vehicle, vessel, aircraft, marine structure, or floating container
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will the substance or object to be removed, be removed from the seabed?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What does the activity involve?
              </dt>
              <dd class="govuk-summary-list__value">
                Scientific research
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What will be removed?
              </dt>
              <dd class="govuk-summary-list__value">
                Samples for testing and analysis
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will each sample have a volume of 1 cubic metre or less?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is the removal activity likely to cause an obstruction or danger to navigation?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will the activity take place within 200 metres of a marine protected area (MPA)?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key">
                Why this activity is exempt
              </dt>
              <dd class="govuk-summary-list__value">
                Based on your answers, your activity is exempt under  
            <a href="https://www.legislation.gov.uk/uksi/2011/409/article/17A" rel="noreferrer noopener" target="_blank">
            Article 17a of the Marine Licensing (Exempted Activities) Order 2011 (opens in new tab)</a>
              </dd>
            </div>
          </dl>

          {% if data['applicationSubmitted'] == "true" %}

          {% else %}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body">If you need to change any of these answers:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>delete this exempt activity information from <a href="home" class="govuk-link--no-visited-state">your projects</a></li>
            <li>restart the process by <a href="#">checking if you need a marine licence</a></li>
          </ul>
          {% endif %}

      
      

      {% endif %}
    </dl>
      </div>
    </div>
    <!-- End of project details -->

    <!-- Start of dates -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Activity dates
        </h2>

        {% if data['applicationSubmitted'] == "true" %}

        {% else %}
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="activity-dates.html?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Activity dates</span></a>
          </li>
        </ul>
        {% endif %}

      </div>
      <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          {% set paddedDay = data['exemption-start-date-date-input-day'] %}
          {% if paddedDay | length == 1 %}
          {% set paddedDay = '0' + paddedDay %}
          {% endif %}

          {% set paddedMonth = data['exemption-start-date-date-input-month'] %}
          {% if paddedMonth | length == 1 %}
          {% set paddedMonth = '0' + paddedMonth %}
          {% endif %}

          {% set formattedDate = data['exemption-start-date-date-input-year'] + '-' + paddedMonth + '-' + paddedDay %}
          {{ formattedDate | govukDate }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End date
        </dt>
        <dd class="govuk-summary-list__value">
          {% set paddedDay = data['exemption-end-date-date-input-day'] %}
          {% if paddedDay | length == 1 %}
          {% set paddedDay = '0' + paddedDay %}
          {% endif %}

          {% set paddedMonth = data['exemption-end-date-date-input-month'] %}
          {% if paddedMonth | length == 1 %}
          {% set paddedMonth = '0' + paddedMonth %}
          {% endif %}

          {% set formattedDate = data['exemption-end-date-date-input-year'] + '-' + paddedMonth + '-' + paddedDay %}
          {{ formattedDate | govukDate }}
        </dd>
      </div>
    </dl>
      </div>
    </div>
    
   
    <!-- Start of site details -->

<!-- Common to all routes -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Site details
    </h2>

    {% if data['applicationSubmitted'] == "true" %}

    {% else %}
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="review-location?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Location details</span></a>
      </li>
    </ul>
    {% endif %}

  </div>
  <div class="govuk-summary-card__content">

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you want to draw the site on our map?
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['exemption-do-you-want-to-draw-the-site-on-our-map-radios'] }}
    </dd>
    
  </div>


  <!-- Start of map drawing -->
  {% if data['exemption-do-you-want-to-draw-the-site-on-our-map-radios'] == "Yes"  %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">
      Map drawing
    </dt>

    
  </div>

</dl>  

  <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
  {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
  <img src="/public/images/pontoon-map-drawn.jpg" alt="Map view" class="govuk-!-margin-bottom-2" style="width: 100%;">

  {% elif data['exemption'] == "sample-notification" %}
  <img src="/public/images/worthing-map-drawn.jpg" alt="Map view" class="govuk-!-margin-bottom-2" style="width: 100%;">
  {% endif %}

<!-- End of map drawing -->


<!-- Start of coordinates - common to all coordinates (not displaying for maps) -->
{% elif data['exemption-do-you-want-to-draw-the-site-on-our-map-radios'] == "No, I've got the coordinates"  %}
<!-- Common to all coordinates--> 
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How do you want to provide the coordinates?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] }}
  </dd>
</div>

<!-- End of common to all coordinates-->

<!-- Start of upload file -->
{% if data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] == "Upload a file"  %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which type of file do you want to upload?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-which-type-of-file-radios'] }}
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    File uploaded
  </dt>
  <dd class="govuk-summary-list__value">
    coordinates.kml
  </dd>
</div>

</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
</div>
</dl>  

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}

</div>
</div>

{% endif %}
<!-- End of upload file -->

<!-- Start of enter coordinates manually -->

<!-- Start of entering square or circle coordinates -->
{% if data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] == "Enter them manually"  %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How do you want to enter the coordinates?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] }}
  </dd>

</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Which coordinate system do you want to use?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-what-coordinate-system-radios'] }}<br> 
        {% if data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter multiple sets of coordinates to mark the boundary of the site" or
        data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter one set of coordinates and a width to create a circular site" or
        data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a square and its width" %}
          
        {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %} Latitude and longitude
        
        {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %} Eastings and Northings

        {% endif %}
         
        {% endif %}
  </dd>
  
</div>

<!-- Start of it's a circle -->
{% if data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter one set of coordinates and a width to create a circular site" %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Enter the coordinates at the centre point of the site
  </dt>
  <dd class="govuk-summary-list__value">
   {{ data['exemption-enter-the-coordinates-at-the-centre-point-latitude-text-input'] }}, {{ data['exemption-enter-the-coordinates-at-the-centre-point-longitude-text-input'] }}
  </dd>
  
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Width of circular site
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-width-of-site-number-input'] }} metres
  </dd>
  
</div>
</dl>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
  
</div>
</dl>   

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-circle.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-circle.jpg" alt="Map view" style="width: 100%;">
{% endif %}

<!-- End of it's a circle -->

<!-- Start of it's a square -->
{% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a square and its width" %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What are the coordinates of the centre of the square?
  </dt>
  <dd class="govuk-summary-list__value">
   {{ data['exemption-what-are-the-coordinates-of-the-square-latitude-text-input'] }}, {{ data['exemption-what-are-the-coordinates-of-the-square-longitude-text-input'] }}
  </dd>
  
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Width of square
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-width-of-square-number-input'] }} metres
  </dd>
  
</div>
</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
  
</div>
</dl>   


<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-square.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-square.jpg" alt="Map view" style="width: 100%;">
{% endif %}


<!-- End of square -->

<!-- Start of enter multiple coords -->
{% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Start and end points
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-1-latitude'] }}, {{ data['coordinates-point-1-longitude'] }}
</dd>

</div>

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 2
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-2-latitude'] }}, {{ data['coordinates-point-2-longitude'] }}
</dd>

</div>

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 3
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-3-latitude'] }}, {{ data['coordinates-point-3-longitude'] }}
</dd>

</div>

<!-- Only display Point 4 if data was entered -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 4
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-4-latitude'] }}, {{ data['coordinates-point-4-longitude'] }}
</dd>

</div>
{% endif %}

<!-- Only display Point 5 if data was entered -->
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Point 5
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-5-latitude'] }}, {{ data['coordinates-point-5-longitude'] }}
</dd>

</div>
{% endif %}
</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Map view
</dt>

</div>
</dl>  

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<!-- Display the correct map depending on how many points are shown -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
  <img src="/public/images/pontoon-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% else %}
  <img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% else %}
<img src="/public/images/pontoon-map-3-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}

{% elif data['exemption'] == "sample-notification" %}
<!-- Display the correct map depending on how many points are shown -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
  <img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% else %}
  <img src="/public/images/worthing-map-4-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% else %}
<img src="/public/images/worthing-map-3-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% endif %}

{% endif %}
<!-- End of enter multiple coords -->

</div>
</div>
<!-- End of entering square or circle coordinates -->
{% endif %}  


<!-- End of enter coordinates manually -->

{% endif %}
<!-- Closing summary card divs and button - common to all -->
</div>
</div>

    <!-- End of site details -->





  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Public register
      </h2>

      {% if data['applicationSubmitted'] == "true" %}

      {% else %}
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="public-register?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Do you believe the information you have provided should be withheld from the public register?</span></a>
        </li>
      </ul>
      {% endif %}

    </div>
    <div class="govuk-summary-card__content">

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you believe the information you have provided should be withheld from the public register?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['exemption-public-register-radios'] }}
      </dd>
    </div>

    {% if data['exemption-public-register-radios'] == "Yes" %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Provide details of why the information should be withheld 
      </dt>
      <dd class="govuk-summary-list__value">
      {{ data['exemption-public-register-text-area'] }}
      </dd>

    </div>
    {% endif %}
  </dl>
  </div>
  </div>

  {% if data['applicationSubmitted'] == "true" %}

{% else %}
<form action="check-answers-router" method="post" novalidate>
  <h2 class="govuk-heading-m">Now send your information</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Confirm and send"
        }) }}
  
{% endif %}

  
      </form>
</div>
</div>

{% endblock %}