{% extends "../layouts/main.html" %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    List of applications
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">
          {{ pageHeadingTextHTML }}
        </h1>


        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Your reference</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">MMO reference</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Skegness 2024</td>
                <td class="govuk-table__cell">Draft</td>
                <td class="govuk-table__cell">5079235</td>
                <td class="govuk-table__cell govuk-!-text-align-right"><a href="../tasklist">View application</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Jurassic coast 02</td>
                <td class="govuk-table__cell">Draft</td>
                <td class="govuk-table__cell">0987613</td>
                <td class="govuk-table__cell govuk-!-text-align-right"><a href="../tasklist">View application</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Torquay 01</td>
                <td class="govuk-table__cell">Submitted</td>
                <td class="govuk-table__cell">6416437</td>
                <td class="govuk-table__cell govuk-!-text-align-right"><a href="../tasklist">View application</a></td>
            </tr>
            </tbody>
        </table>

        {{
            govukButton
            ({
                text: "Create new application",
                classes: "govuk-button--secondary"
            })
        }}


    </div>


</div>


{% endblock %}
