<div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
  <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">

  <nav aria-label="Prototype sections">
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="index.html" class="govuk-link--no-visited-state">Home</a></li>
      <li><a href="lcml-archive.html" class="govuk-link--no-visited-state">LCML – previous iterations</a></li>
      <li><a href="exemptions-private-beta.html" class="govuk-link--no-visited-state">Exemptions – Private beta</a></li>
      <li><a href="exemptions-alpha.html" class="govuk-link--no-visited-state">Exemptions – Alpha</a></li>
      <li><a href="sample-plans.html" class="govuk-link--no-visited-state">Sample Plans</a></li>
      <li><a href="iat-archive.html" class="govuk-link--no-visited-state">IAT archive</a></li>
      <li><a href="about-the-prototype.html" class="govuk-link--no-visited-state">About this prototype</a></li>
      <li><a href="alpha-2024.html" class="govuk-link--no-visited-state">Previous alpha</a></li>
    </ul>
  </nav>

</div>
