<div class="govuk-grid-column-one-quarter proto-nav">
  {{ mojSideNavigation({
    label: "Prototype sections",
    items: [
      { text: "Home – LCML iteration 3", href: "index.html", active: navActive == "index" },
      { text: "LCML – previous iterations", href: "lcml-archive.html", active: navActive == "lcml-archive" },
      { text: "Exemptions – Private beta", href: "exemptions-private-beta.html", active: navActive == "exemptions-private-beta" },
      { text: "IAT", href: "iat.html", active: navActive == "iat" },
      { text: "Defra ID tactical fix", href: "defra-id-tactical-fix.html", active: navActive == "defra-id-tactical-fix" },
      { text: "Exemptions – Alpha", href: "exemptions-alpha.html", active: navActive == "exemptions-alpha" },
      { text: "Exemptions archive", href: "exemptions-archive.html", active: navActive == "exemptions-archive" },
      { text: "Sample Plans", href: "sample-plans.html", active: navActive == "sample-plans" },
      { text: "About this prototype", href: "about-the-prototype.html", active: navActive == "about-the-prototype" },
      { text: "Previous alpha", href: "alpha-2024.html", active: navActive == "alpha-2024" }
    ]
  }) }}
</div>
