{# app/views/versions/iat/layouts/iat/card-selection.njk #}

{% extends "layouts/main.html" %}

{# Import GOV.UK button macro #}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ h1 }} – Marine licence IAT
{% endblock %}

{% block content %}
  {% if caption %}
  <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}
  <h1 class="govuk-heading-l">{{ h1 }}</h1>

  {% if hintHtml %}
    <div class="govuk-inset-text">
      {{ hintHtml | safe }}
    </div>
  {% endif %}

  {# Render each answer block exactly as supplied in rawAnswers #}
  {% for a in rawAnswers %}
    <div class="govuk-!-margin-bottom-6 govuk-!-padding-4 govuk-border">
      {{ a.text | safe }}

      <div class="govuk-!-margin-top-3">
        <form method="post" style="display: inline-block; margin-right: 0.5rem;" novalidate>
          <input type="hidden" name="selection" value="{{ a.id }}">
          {{ govukButton({ text: "Continue", classes: "govuk-!-margin-bottom-0" }) }}
        </form>
        
        {{ govukButton({ 
          text: "Download a PDF record of my answers",
          classes: "govuk-button--secondary govuk-!-margin-bottom-0",
          href: "#"
        }) }}
      </div>
    </div>
  {% endfor %}
{% endblock %}