/*  @import "colours";   */
/* @import "typography";   */
/* @import "css3";   */

// @include media(mobile) { => max-width: 640 px
// @include media(tablet) { => min-width: 641px




.map-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 8px;
  height: 600px;

  &.confirm-location-map {
    height: 580px;

  }
  &.results-explained-map {
    height: 620px;
  }
  
  &.map-figure--error {
    box-shadow: -12px 0 #fff, -20px 0 #d4351c;
    border: 1px solid #ccc;
    height: 608px;
    .govuk-error-message {
      margin: 10px 10px 0 10px !important;
    }
    .map--result, .map--result-confirm {
      border: none !important;
    }
  }
  
  .mobile-heading {
    padding-bottom: 10px;
  } 
}

.map--result {
  border: 1px solid #b1b4b6;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  }

  .map {
    position: relative;
    width: 100%;
    height: 620px;
  }

  .map-legend {
    height: 100%;
    width: 150px;
    text-align: left;
    padding: 0 11px;
    background: #fff;
    order: 2;
    z-index: 1;



    &-list {
      display: flex;
      list-style: none;
      height: 600px;
      flex-flow: column nowrap;
      justify-content: space-evenly;

  
    .map-legend-item {
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      width: auto;

    }
  
    .map-legend-image {
      display: block;
      margin-bottom: 3px;
      width: 60px;

      &--tall {
        max-height: 30px;
        width: auto;
      }

    }

    .map-legend-image-with-border {
      border: 2px solid black;
      // The box shadow is there to mask a gap between the image and the border
      box-shadow: inset 0px 0px 0px 1px black;
    }

  }
}


#map--result:fullscreen {
  .map {
    height: 100%;
  }
}

.map--result-confirm {
  border: 1px solid #b1b4b6;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.pdf-download {
  text-align: right;
}

.ol-scale-line {
  left: 115px;
}
