{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set siteNoticeHeading = "When did you first display the notice?" %}
{% set siteNoticeError = "Enter the date you first displayed the notice" %}

{# The captions go inside the legend, so the error border runs up to the top
   of them. _location-page.html then leaves its own captions out. #}
{% set siteNoticeCaptionsInHeading = true %}
{% set siteNoticeCaptions %}<span class="govuk-caption-l">Dawlish Harbour pontoon</span><span class="govuk-caption-l">Location {{ locationNumber }}</span>{% endset %}

{# Rendered above the caption and heading by _location-page.html #}
{% set siteNoticeErrorSummary %}
{% if showError %}
	{{ govukErrorSummary({
		titleText: "There is a problem",
		errorList: [
			{
				text: siteNoticeError,
				href: "#displayed-date-day"
			}
		]
	}) }}
{% endif %}
{% endset %}

{% set siteNoticeForm %}
<form action="date-displayed-router?location={{ locationNumber }}" method="post" novalidate>

	{{ govukDateInput({
		id: "displayed-date",
		namePrefix: "displayed-date",
		fieldset: {
			legend: {
				html: siteNoticeCaptions + siteNoticeHeading,
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
			}
		},
		hint: {
			text: "For example, 15 3 2026"
		},
		errorMessage: {
			text: siteNoticeError
		} if showError,
		items: [
			{ name: "day", classes: "govuk-input--width-2", value: location.day, attributes: { autocomplete: "off", inputmode: "numeric" } },
			{ name: "month", classes: "govuk-input--width-2", value: location.month, attributes: { autocomplete: "off", inputmode: "numeric" } },
			{ name: "year", classes: "govuk-input--width-4", value: location.year, attributes: { autocomplete: "off", inputmode: "numeric" } }
		]
	}) }}

	{{ govukButton({
		text: "Save and continue"
	}) }}

</form>
{% endset %}

{% include "./_location-page.html" %}
