{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set siteNoticeHeading = "Location name" %}
{% set siteNoticeError = "Enter the location name" %}

{% set siteNoticeForm %}
<form action="location-name-router?location={{ locationNumber }}" method="post" novalidate>

	{% if showError %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: [
				{
					text: siteNoticeError,
					href: "#location-name"
				}
			]
		}) }}
	{% endif %}

	{{ govukInput({
		id: "location-name",
		name: "location-name",
		value: location.name,
		label: {
			text: siteNoticeHeading,
			classes: "govuk-label--l",
			isPageHeading: true
		},
		hint: {
			text: "Give a specific description of where you displayed this notice, so we can tell it apart from any other locations. For example, ‘Tynemouth harbour, noticeboard by north pier’ rather than just ‘Tynemouth harbour.’"
		},
		errorMessage: {
			text: siteNoticeError
		} if showError
	}) }}

	{{ govukButton({
		text: "Save and continue"
	}) }}

</form>
{% endset %}

{% include "./_location-page.html" %}
