{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set siteNoticeHeading = "Location name" %}
{% set siteNoticeError = "Enter the location name" %}

{# The captions go inside the label, so the error border runs up to the top
   of them. _location-page.html then leaves its own captions out. #}
{% set siteNoticeCaptionsInHeading = true %}
{% set siteNoticeCaptions %}<span class="govuk-caption-l">Dawlish Harbour pontoon</span><span class="govuk-caption-l">Location {{ locationNumber }}</span>{% endset %}

{# Rendered above the caption and heading by _location-page.html #}
{% set siteNoticeErrorSummary %}
{% if showError %}
	{{ govukErrorSummary({
		titleText: "There is a problem",
		errorList: [
			{
				text: siteNoticeError,
				href: "#location-name"
			}
		]
	}) }}
{% endif %}
{% endset %}

{% set siteNoticeForm %}
<form action="location-name-router?location={{ locationNumber }}" method="post" novalidate>

	{{ govukInput({
		id: "location-name",
		name: "location-name",
		value: location.name,
		label: {
			html: siteNoticeCaptions + siteNoticeHeading,
			classes: "govuk-label--l",
			isPageHeading: true
		},
		hint: {
			text: "Give a specific description of where you displayed this notice, so we can tell it apart from any other locations. For example, ‘Tynemouth harbour, noticeboard by north pier’ rather than just ‘Tynemouth harbour.’"
		},
		errorMessage: {
			text: siteNoticeError
		} if showError
	}) }}

	{{ govukButton({
		text: "Save and continue"
	}) }}

</form>
{% endset %}

{% include "./_location-page.html" %}
