{% extends "../layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
              <h1 class="gem-c-title__text govuk-heading-xl">
                Apply for a marine licence
              </h1>
        </div>


        <p>Register and apply for a marine licence to do work that will disturb the seabed, for example construction work, laying cables and pipes, dredging, disposing of waste and working with explosives.</p>

        <p><a href="https://www.gov.uk/guidance/wildlife-licences">Apply for a wildlife licence</a> to do work that might disturb protected species.</p>


        <a class="gem-c-button govuk-button govuk-button--start govuk-!-margin-bottom-8" role="button" rel="external" data-module="govuk-button" draggable="false"
           href="sign-in-or-create-account">
            Start now

          <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>



        <h2  class="govuk-heading-m ">
          Before you start
        </h2>

        <p>Use this service to:</p>

        <ul class="govuk-body govuk-list--bullet">
          <li>apply for a marine licence</li>
          <li>ask for advice on how to prepare and submit a licence application</li>
        </ul>

        <p>You’ll need an email to register to use the service.</p>

        <p>The <a href="https://www.gov.uk/guidance/do-i-need-a-marine-licence">marine licensing guidance</a> has details about which activities need a licence.</p>



        <h2 class="govuk-heading-m govuk-!-margin-top-6">Fees</h2>

        <p>Fees for licences vary depending on the size of the project and how complicated the application is.</p>

        <p>Check the <a href="/government/publications/marine-licensing-fees">full list of charges</a> for advice and licence fees.</p>

        <p>You’ll need a credit or debit card to pay your fee.</p>



        <h2  class="govuk-heading-m govuk-!-margin-top-6">Northern Ireland, Scotland and Wales</h2>

        <p>Apply for a licence from:</p>

        <ul class="govuk-body govuk-list--bullet">
          <li><a rel="external" href="https://www.daera-ni.gov.uk/articles/marine-licensing">Department of Environment Northern Ireland</a></li>
          <li><a rel="external" href="https://www.gov.scot/policies/marine-and-fisheries-licensing/marine-licensing/">Marine Scotland</a></li>
          <li><a rel="external" href="https://naturalresources.wales/permits-and-permissions/marine-licensing/?lang=en">Natural Resources Wales</a></li>
        </ul>






    </div>


</div>





{% endblock %}
