{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/account-bar.html" %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Enter multiple pairs of coordinates to mark the boundary of the site
{% endset %}


<!-- Set the text for each error type -->
<!-- Set the text for each error type -->
{% set errorTextHTML %}
    {% if data['errorlatitudelongitude'] == "true" %}
      Enter the latitude and longitude coordinates
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="multiple-coordinates-column govuk-grid-column-three-quarters">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
            </h2>
            <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in data['errors'] %}
                <li>
                    <a href="#{{ error.anchor }}">{{ error.text }}</a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        <!--  END OF 'error summary' -->


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                        
        {% include "../includes/lat-long-content.html" %}

        {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

        <p class="govuk-hint">Eastings and northings should only include numbers. For example: 123456</p>

        {% endif %}
        

        <!-- go to routes.js for routing  -->
        <form action="enter-multiple-coordinates-router" method="post" novalidate>

            <dl class="govuk-summary-list govuk-!-margin-bottom-3 multiple-coordinates" style>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">

                    </dt>
                    <dd class="govuk-summary-list__value summary-header">
                        {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}Latitude
                        {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}Eastings

                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value summary-header">
                        {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}Longitude

                        {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}Northings

                        {% endif %}
                    </dd>
                </div>

                
                <div class="govuk-summary-list__row{% if data['error-coordinates-point-1-latitude'] == 'true' or data['error-coordinates-point-1-longitude'] == 'true' %} coordinate-row-error{% endif %}">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Start and end point
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-1-latitude">Latitude of start and end point</label>
                        <input class="govuk-input{% if data['error-coordinates-point-1-latitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-1-latitude"
                          name="coordinates-point-1-latitude"
                          type="text"
                          value="{{ data['coordinates-point-1-latitude'] }}"
                          autocomplete="off">
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-1-longitude">Longitude of start and end point</label>
                        <input class="govuk-input{% if data['error-coordinates-point-1-longitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-1-longitude"
                          name="coordinates-point-1-longitude"
                          type="text"
                          value="{{ data['coordinates-point-1-longitude'] }}"
                          autocomplete="off">
                      </dd>
                  </div>
                  
                  <div class="govuk-summary-list__row{% if data['error-coordinates-point-2-latitude'] == 'true' or data['error-coordinates-point-2-longitude'] == 'true' %} coordinate-row-error{% endif %}">   
                      <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Point 2
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-2-latitude">Latitude of point 2</label>
                        <input class="govuk-input{% if data['error-coordinates-point-2-latitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-2-latitude"
                          name="coordinates-point-2-latitude"
                          type="text"
                          value="{{ data['coordinates-point-2-latitude'] }}"
                          autocomplete="off">
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-2-longitude">Longitude of point 2</label>
                        <input class="govuk-input{% if data['error-coordinates-point-2-longitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-2-longitude"
                          name="coordinates-point-2-longitude"
                          type="text"
                          value="{{ data['coordinates-point-2-longitude'] }}"
                          autocomplete="off">
                      </dd>
                  </div>
                  
                  <div class="govuk-summary-list__row{% if data['error-coordinates-point-3-latitude'] == 'true' or data['error-coordinates-point-3-longitude'] == 'true' %} coordinate-row-error{% endif %}">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Point 3
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-3-latitude">Latitude of point 3</label>
                        <input class="govuk-input{% if data['error-coordinates-point-3-latitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-3-latitude"
                          name="coordinates-point-3-latitude"
                          type="text"
                          value="{{ data['coordinates-point-3-latitude'] }}"
                          autocomplete="off">
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-3-longitude">Longitude of point 3</label>
                        <input class="govuk-input{% if data['error-coordinates-point-3-longitude'] == 'true' %} govuk-input--error{% endif %}"
                          id="coordinates-point-3-longitude"
                          name="coordinates-point-3-longitude"
                          type="text"
                          value="{{ data['coordinates-point-3-longitude'] }}"
                          autocomplete="off">
                      </dd>
                    </div>

                <!-- Hidden row 4 - can be made visible -->
                <div class="govuk-summary-list__row" {% if not query.fromreview %}style="display: none;"{% endif %}>
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Point 4
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-4-latitude">
							{% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                        
                            Latitude of point 4

                            {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

                            Eastings of point 4

                            {% endif %}
						  </label>
                        <input class="govuk-input" id="coordinates-point-4-latitude" name="coordinates-point-4-latitude" type="text" value="{{ data['coordinates-point-4-latitude'] }}" autocomplete="off">
                    </dd>
                    <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-4-longitude">
							{% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                        
                            Longitude of point 4

                            {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

                            Northings of point 4

                            {% endif %}
						  </label>
                        <input class="govuk-input" id="coordinates-point-4-longitude" name="coordinates-point-4-longitude" type="text" value="{{ data['coordinates-point-4-longitude'] }}" autocomplete="off">
                    </dd>
                    <dd class="govuk-summary-list__value">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> point</span></a>
                      </dd>
                </div>

                <!-- Hidden row 5 - can be made visible -->
                <div class="govuk-summary-list__row" {% if not query.fromreview %}style="display: none;"{% endif %}>
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Point 5
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-5-latitude">
							{% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                        
                            Latitude of point 5

                            {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

                            Eastings of point 5

                            {% endif %}
						  </label>
                        <input class="govuk-input" id="coordinates-point-5-latitude" name="coordinates-point-5-latitude" type="text" value="{{ data['coordinates-point-5-latitude'] }}" autocomplete="off">
                    </dd>
                    <dd class="govuk-summary-list__value">
                        <label class="govuk-label govuk-visually-hidden" for="coordinates-point-5-longitude">
							{% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                        
                            Longitude of point 5

                            {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

                            Northings of point 5

                            {% endif %}
						  </label>
                        <input class="govuk-input" id="coordinates-point-5-longitude" name="coordinates-point-5-longitude" type="text" value="{{ data['coordinates-point-5-longitude'] }}" autocomplete="off">
                    </dd>
                    <dd class="govuk-summary-list__value">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> point</span></a>
                      </dd>
                </div>
            </dl>

            <p class="govuk-!-margin-bottom-7"><a href="#" class="add-point-link govuk-link--no-visited-state">Add another point</a></p>


            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue"
                }) }}
            </div>

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 1 - Missing - Latitude or Easting</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] == 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 2 - Missing - Longitude or Northing</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=true&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] == 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 3 - Invalid - Latitude or Easting</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=true&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] == 'true'  and  data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 4 - Invalid - Longitude or Northing</option>

    </select>

</form>

{% endblock %}


{% block pageScripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get elements
    const addPointLink = document.querySelector('.add-point-link');
    const row4 = document.querySelector('.govuk-summary-list__row:nth-of-type(5)');
    const row5 = document.querySelector('.govuk-summary-list__row:nth-of-type(6)');

    // Check for existing data and show rows accordingly
    const point4Lat = document.getElementById('coordinates-point-4-latitude');
    const point4Long = document.getElementById('coordinates-point-4-longitude');
    const point5Lat = document.getElementById('coordinates-point-5-latitude');
    const point5Long = document.getElementById('coordinates-point-5-longitude');

    // Show row 4 if it has data
    if (point4Lat.value || point4Long.value) {
        row4.style.display = '';
    }

    // Show row 5 if it has data
    if (point5Lat.value || point5Long.value) {
        row5.style.display = '';
    }
    
    // Add click handler for "Add another point"
    addPointLink.addEventListener('click', function(e) {
        e.preventDefault();
        
        // If row 4 is hidden, show it first
        if (row4.style.display === 'none') {
            row4.style.display = '';
        }
        // If row 4 is visible but row 5 is hidden, show row 5
        else if (row5.style.display === 'none') {
            row5.style.display = '';
        }
    });

    // Handle delete links for both rows
    [row4, row5].forEach(row => {
        const deleteLink = row.querySelector('.govuk-link');
        deleteLink.addEventListener('click', function(e) {
            e.preventDefault();
            
            // Clear input values
            row.querySelectorAll('input').forEach(input => {
                input.value = '';
            });
            
            // Hide the row
            row.style.display = 'none';
        });
    });

    // Fix whitespace in labels
    document.querySelectorAll('.govuk-label.govuk-visually-hidden').forEach(label => {
        // Normalize whitespace in label text
        label.innerHTML = label.innerHTML.trim().replace(/\s+/g, ' ');
    });
});
</script>
{% endblock %}



