{% extends "../layouts/main.html" %}

{% set pageName="You do not need a marine licence, but you need to give us more information" %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}
Check if you need a marine licence
{% endset %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		
		<h1 class="govuk-heading-l">
			You do not need a marine licence, but you need to give us more information
		</h1>

		<p>Based on your answers, your activity is exempt under the <a
				href="https://www.legislation.gov.uk/uksi/2011/409/article/17A">The Marine Licensing (Exempted
				Activities) Order 2011</a>.</p>

				{{ govukWarningText({
					text: "You must provide further information before you start your activity.",
					iconFallbackText: "Warning"
				  }) }}	

		<h2 class="govuk-heading-m">What you'll need</h2>
		<p>Before you continue, make sure you have:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>a contact name and email address</li>
			<li>background information about your project</li>
			<li>specific location details</li>
			<li>details of the activity, including when it will start and end</li>
		</ul>

		<a href="../exemption/what-is-your-name.html" class="govuk-button" role="button">Continue</a>

		<p><a href="/public/downloads/exemption-journey-answers.pdf" rel="noreferrer noopener" rel="noreferrer noopener" rel="noreferrer noopener" target="_blank">Download a PDF of your answers</a></p>

	</div>
</div>
{% endblock %}