{% extends "../layouts/main.html" %}

{% set pageName="You do not need a marine licence, but you need to give us more information" %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}
Check if you need a marine licence
{% endset %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-l">{{ captionTextHTML }}</span>
		<h1 class="govuk-heading-l">
			You do not need a marine licence, but you need to give us more information
		</h1>

		<p>Based on your answers, your activity is exempt under the <a
				href="https://www.legislation.gov.uk/uksi/2011/409/article/17A">The Marine Licensing (Exempted
				Activities) Order 2011</a> and you do not need a marine licence.</p>

		<p>You do need to provide the Marine Management Organisation with further information before you start your
			activity.</p>

		<h2 class="govuk-heading-m">What you'll need</h2>
		<p>Before you continue, make sure you have:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>specific details of the activity</li>
			<li>the coordinates of the area the activity will take place</li>
			<li>contact details</li>
		</ul>

			{{ govukButton({
			text: "Continue"
			}) }}

			<p><a href="/public/downloads/exemption-journey-answers.pdf" rel="noreferrer noopener" target="_blank">Download a PDF of your answers</a></p>

	</div>
</div>
{% endblock %}