{% extends "../layouts/main.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Type/customise the error message after '% set errorTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_RADIOS" with whatever you named this page/file.
5. Use 'Find and replace' to replace each of the radio button values. Starting with 'PLACEHOLDER_ANSWER_1'
6. Go to the javascript file 'templates.js' and copy the section 'RADIO BUTTONS - MANDATORY' into your routes.js file.
7. Follow instructions at the top of the 'templates.js'
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Is the purpose of the activity to take a sample of material for testing or analysis?
{% endset %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}
	Check if you need a marine licence
{% endset %}

<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select what the removal activity relates to
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#check-purpose-of-the-activity-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="purpose-of-the-activity-router" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "check-purpose-of-the-activity-radios",

                    id: "check-purpose-of-the-activity-radios",

                    fieldset: {
						legend: {
							text: questionHeadingTextHTML,
							isPageHeading: true,
							classes: "govuk-fieldset__legend--l"
						}
					},

                    errorMessage: null if data['errorthispage'] != "true"
                        else { html: errorTextHTML },

                        items:
                        [
                            {
                                value: "Yes",
                                text: "Yes",
                                checked: data['check-purpose-of-the-activity-radio'] == "Yes"
                            },
                            {
                                value: "No",
                                text: "No",
                                checked: data['check-purpose-of-the-activity-radio'] == "No"
                            }
                    ]
                })
            }}

            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->



{% endblock %}


