{% extends "../layouts/main.html" %}

{% set pageName="Check if you need a marine licence" %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: ''
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

              <h1 class="gem-c-title__text govuk-heading-xl">
                Check if you need a marine licence
              </h1>

		<p>Use this tool to find out if your activity:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>falls within the jurisdiction of the Marine Management Organisation (MMO)</li>
			<li>is exempt from marine licensing</li>
			<li>is suitable for self-service marine licensing</li>
			<li>requires a standard marine licence</li>
		</ul>
		<p>Where applicable, you will be directed to the appropriate service.</p>
		<p>Find out more about the MMO's <a href="https://www.gov.uk/guidance/marine-licensing-definitions">jurisdiction</a>, <a href="https://www.gov.uk/guidance/do-i-need-a-marine-licence">exemptions</a> and <a href="https://www.gov.uk/guidance/do-i-need-a-marine-licence">self-service marine licensing.</a></p>

		<h2 class="govuk-heading-m">Before you start</h2>
		<p>Ensure you read MMO's marine licence <a href="https://www.gov.uk/guidance/do-i-need-a-marine-licence">guidance</a>. You will need to know:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>where your activity will take place</li>
			<li>what your activity is</li>
			<li>what it will involve</li>
		</ul>

		<p>The guidance provides a basic understanding of the factors that determine if a marine licence is needed. It also explains the differences between the various services available.</p>

        <a href="where-will-the-activity-take-place.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
			Start now
			<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
			  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
			</svg>
		</a>

    </div>


</div>

{% endblock %}
