{% extends "../layouts/main.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Put your question heading for the page after '% set questionHeadingTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX" with whatever you named this page/file.
5. Use 'Find and replace' to replace each of the checkbox values. Starting with 'PLACEHOLDER_ANSWER_1'
6. Go to the javascript file 'templates.js' and copy the section 'COMPLEX PAGE  FOR CHECKBOXES - OPTIONAL' into your routes.js file.
7. Follow instructions at the top of the 'templates.js'.
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Location of PLACEHOLDER
{% endset %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set questionHeadingTextHTML %}
    Where did you PLACEHOLDER?
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- form URL below turns off errors on the next page  -->
        <form action="PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-router" method="post" novalidate>


            <h1 class="govuk-heading-l">
                {{ pageHeadingTextHTML }}
            </h1>

            <p>PLACEHOLDER for more than one sentence of guidance.</p>

            <p>A link on <a target="_blank" href="#">PLACEHOLDER about PLACEHOLDER (opens in a new tab)</a>.</p>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Understanding PLACEHOLDER
                    </span>
                </summary>
                <div class="govuk-details__text">

                    <p>This includes:</p>

                    <ul class="govuk-body govuk-list--bullet">
                        <li>PLACEHOLDER</li>
                        <li>PLACEHOLDER</li>
                        <li>PLACEHOLDER</li>
                        <li>PLACEHOLDER</li>
                    </ul>

                </div>
            </details>

            {{ govukCheckboxes
                ({
                    name: "SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes",

                    id: "SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes",

                    fieldset:
                    {
                        legend:
                        {
                            text: questionHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    hint:
                    {
                        text: "Select all countries that apply"
                    },

                    items:
                    [
                        {
                            value: "PLACEHOLDER_ANSWER_1",
                            text: "PLACEHOLDER_ANSWER_1",
                            checked: (data['SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes'] or []).indexOf('PLACEHOLDER_ANSWER_1') > -1
                        },
                        {
                            value: "PLACEHOLDER_ANSWER_2",
                            text: "PLACEHOLDER_ANSWER_2",
                            checked: (data['SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes'] or []).indexOf('PLACEHOLDER_ANSWER_2') > -1
                        },
                        {
                            value: "PLACEHOLDER_ANSWER_3",
                            text: "PLACEHOLDER_ANSWER_3",
                            checked: (data['SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes'] or []).indexOf('PLACEHOLDER_ANSWER_3') > -1
                        },
                        {
                            divider: "or"
                        },
                        {
                            value: "PLACEHOLDER_ANSWER_NONE",
                            text: "PLACEHOLDER_ANSWER_NONE",
                            checked: (data['SECTION-PAGENAME_CHECKBOXES_OPTIONAL_COMPLEX-checkboxes'] or []).indexOf('PLACEHOLDER_ANSWER_NONE') > -1,
                            behaviour: "exclusive"
                        }
                    ]
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>






<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - No validation needed for these checkboxes</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->





{% endblock %}



