{% extends "../layouts/exemption.html" %}

{% block beforeContent %}

{% include "../includes/phase-banner.html" %}

<a class="govuk-back-link" href="task-list.html" style="margin-bottom: 0;">Go back to task list</a>

{% endblock %}

{% set pageHeadingTextHTML %}
Check your answers before sending your information
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerName'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>

    <!--Start of Project details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Project details
        </h2>
      </div>
      <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-project-name-text-input'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-name?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Project
              name</span></a>
        </dd>
      </div>

      
      
    </dl>
      </div>
    </div>
    <!-- End of project details -->

    <!-- Start of dates -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Dates of the activity
        </h2>
      </div>
      <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Estimated start date
        </dt>
        <dd class="govuk-summary-list__value">
          {% set paddedDay = data['exemption-start-date-date-input-day'] %}
          {% if paddedDay | length == 1 %}
          {% set paddedDay = '0' + paddedDay %}
          {% endif %}

          {% set paddedMonth = data['exemption-start-date-date-input-month'] %}
          {% if paddedMonth | length == 1 %}
          {% set paddedMonth = '0' + paddedMonth %}
          {% endif %}

          {% set formattedDate = data['exemption-start-date-date-input-year'] + '-' + paddedMonth + '-' + paddedDay %}
          {{ formattedDate | govukDate }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="start-date?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Estimated start date</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Estimated end date
        </dt>
        <dd class="govuk-summary-list__value">
          {% set paddedDay = data['exemption-end-date-date-input-day'] %}
          {% if paddedDay | length == 1 %}
          {% set paddedDay = '0' + paddedDay %}
          {% endif %}

          {% set paddedMonth = data['exemption-end-date-date-input-month'] %}
          {% if paddedMonth | length == 1 %}
          {% set paddedMonth = '0' + paddedMonth %}
          {% endif %}

          {% set formattedDate = data['exemption-end-date-date-input-year'] + '-' + paddedMonth + '-' + paddedDay %}
          {{ formattedDate | govukDate }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="end-date?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> End date</span></a>
        </dd>
      </div>
    </dl>
      </div>
    </div>
    
    <!-- Start of upload file -->
    {% if data['exemption-about-the-location-of-the-activity-radios'] == "Upload a file with coordinates of the area"  %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Location details
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="review-location?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Location details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">

    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Which type of file do you want to upload?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['exemption-which-type-of-file-radios'] }}
      </dd>
      
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        File uploaded
      </dt>
      <dd class="govuk-summary-list__value">
        coordinates.kml
      </dd>
      
    </div>
    
  </dl>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Map view
      </dt>
      
    </div>
  </dl>  

  <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
  {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
  <img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">

  {% elif data['exemption'] == "sample-notification" %}
  <img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
  {% endif %}


      

    </div>
  </div>

    {% endif %}
    <!-- End of upload file -->




  <!-- Start of entering square or circle coordinates -->   
  {% if data['exemption-about-the-location-of-the-activity-radios'] == "Enter the coordinates of the area"  %}

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Location details
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="review-location?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Location details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do you want to provide the location?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-about-the-location-of-the-activity-radios'] }}
        </dd>
        
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do you want to enter the coordinates?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] }}
        </dd>
        
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Which coordinate system do you want to use?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-what-coordinate-system-radios'] }}
        </dd>
        
      </div>
      
      <!-- If it's a circle -->
      {% if data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a circle and its width" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %}
                        
            Latitude

            {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

            Eastings

            {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['exemption-what-are-the-coordinates-of-the-circle-latitude-text-input'] }}
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %}
                        
          Longitude

          {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

          Northings

          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['exemption-what-are-the-coordinates-of-the-circle-longitude-text-input'] }}
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Width of circle
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-width-of-circle-number-input'] }}
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Map view
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
      </div>
    </dl>   
    <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
    {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
    <img src="/public/images/pontoon-map-circle.jpg" alt="Map view" style="width: 100%;">

    {% elif data['exemption'] == "sample-notification" %}
    <img src="/public/images/worthing-map-circle.jpg" alt="Map view" style="width: 100%;">
    {% endif %}


      <!-- start of if it's a square -->
      {% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a square and its width" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %}
                        
          Latitude

          {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

          Eastings

          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['exemption-what-are-the-coordinates-of-the-square-latitude-text-input'] }}
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %}
                        
          Longitude

          {% elif data['exemption-what-coordinate-system-radios'] == "OSGB36 (National Grid)" %}

          Northings

          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['exemption-what-are-the-coordinates-of-the-square-longitude-text-input'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Width of square
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-width-of-square-number-input'] }}
        </dd>
      </div>

    </dl>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Map view
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
      </div>
    </dl>   
    <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
    {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
    <img src="/public/images/pontoon-map-square.jpg" alt="Map view" style="width: 100%;">

    {% elif data['exemption'] == "sample-notification" %}
    <img src="/public/images/worthing-map-square.jpg" alt="Map view" style="width: 100%;">
    {% endif %}
      
    
    <!-- end of it's a square -->

      <!-- Start of enter multiple coords -->
    {% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter multiple coordinates of the area" %}
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Start and end points
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['coordinates-point-1-latitude'] }}, {{ data['coordinates-point-1-longitude'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
       
      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Point 2
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['coordinates-point-2-latitude'] }}, {{ data['coordinates-point-2-longitude'] }}
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Point 3
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['coordinates-point-3-latitude'] }}, {{ data['coordinates-point-3-longitude'] }}
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>

    <!-- Only display Point 4 if data was entered -->
    {% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Point 4
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['coordinates-point-4-latitude'] }}, {{ data['coordinates-point-4-longitude'] }}
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>
    {% endif %}

    <!-- Only display Point 5 if data was entered -->
    {% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Point 5
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['coordinates-point-5-latitude'] }}, {{ data['coordinates-point-5-longitude'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>
    {% endif %}
  </dl>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Map view
      </dt>
      <dd class="govuk-summary-list__value">
        
      </dd>
    </div>
  </dl>   
  <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
  {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
    <!-- Display the correct map depending on how many points are shown -->
    {% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
    {% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
        <img src="/public/images/pontoon-map-5-points.jpg" alt="Map view" style="width: 100%;">
    {% else %}
        <img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">
    {% endif %}
    {% else %}
    <img src="/public/images/pontoon-map-3-points.jpg" alt="Map view" style="width: 100%;">
    {% endif %}

  {% elif data['exemption'] == "sample-notification" %}
    <!-- Display the correct map depending on how many points are shown -->
    {% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
    {% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
        <img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
    {% else %}
        <img src="/public/images/worthing-map-4-points.jpg" alt="Map view" style="width: 100%;">
    {% endif %}
    {% else %}
    <img src="/public/images/worthing-map-3-points.jpg" alt="Map view" style="width: 100%;">
    {% endif %}
  {% endif %}

  
  {% endif %}
  <!-- End of enter multiple coords -->

    </div>
    </div>

    {% endif %}
    <!-- End of entering square or circle coordinates -->


    <!-- Start of draw on a map -->
    {% if data['exemption-about-the-location-of-the-activity-radios'] == "Draw the area on a map"  %}

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Location details
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="review-location?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Location details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do you want to provide the location?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['exemption-about-the-location-of-the-activity-radios'] }}
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Map drawing
        </dt>
      </div>

    </dl>

    <!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
    {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
    <img src="/public/images/pontoon-map-drawn.jpg" alt="Map view" class="govuk-!-margin-bottom-2" style="width: 100%;">

    {% elif data['exemption'] == "sample-notification" %}
    <img src="/public/images/worthing-map-drawn.jpg" alt="Map view" class="govuk-!-margin-bottom-2" style="width: 100%;">
    {% endif %}

   <!-- <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Coordinates
        </dt>
        <dd class="govuk-summary-list__value">
          <span  style="white-space: pre-wrap;" >{{ data['sites-drawn-coordinates'] }}</span>
        </dd>
      </div>
    </dl>-->
  </div>
</div>

    {% endif %}
  <!-- End of draw on a map -->

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Public register
      </h2>
    </div>
    <div class="govuk-summary-card__content">

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you believe the information you have provided should be withheld from the public register?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['exemption-public-register-radios'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="public-register?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Do you believe the information you have provided should be withheld from the public register?</span></a>
      </dd>
    </div>

    {% if data['exemption-public-register-radios'] == "Yes" %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Provide details of why the information should be withheld 
      </dt>
      <dd class="govuk-summary-list__value">
      {{ data['exemption-public-register-text-area'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="public-register?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Provide details of why the information should be withheld</span></a>
      </dd>
    </div>
    {% endif %}
  </dl>
  </div>
  </div>

  <h2 class="govuk-heading-m">Now send your information</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <a href="confirmation.html" class="govuk-button" role="button">Confirm and send</a>
  

</div>
</div>

{% endblock %}