{% extends "../layouts/email.html" %}

{% block pageTitle %}
  Email - Confirmation of your marine licence exemption
{% endblock %}

{% block content %}


<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>

<p style="font-size:21px; font-family:Arial,Helvetica; padding-bottom: 10px; border-bottom:solid #005ea5 1px; line-height: 23px;">
	<span style="color: #00a33b;">|</span> <img src="/public/images/mmo-crest.png" style="width: 28px; vertical-align: middle; margin-right: 4px;">
	<span style="vertical-align: middle;">Marine Management Organisation</span>
</p>

<h1>Confirmation of your marine licence exemption</h1>

<p>Dear {{ data['exemption-what-is-your-name-text-input'] }}</p>

<p>Thank you for sending us details of your activity.</p>

<p>Your reference number is EXE/2025/0004.</p>

<p>We can confirm your activity is exempt based on the answers you gave us. You can proceed within the dates you provided.  </p>

<p>Make sure your activity matches these details. If we later find it didn't, we may take enforcement action. We've attached a copy of your answers for reference.  </p>

<p>If any details of your activity change, check whether you still qualify for an exemption. You may need to send us your information again. </p>

<p>If you have any questions, contact us at marine.consents@marinemanagement.org.uk</p>

<p>Yours sincerely,<br><br>
	John Case<br><br>
	Marine Environment Team<br>
	johncase@marinemanagement.org.uk<br>0191 376 2791
</p>



{% endblock %}
