{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/account-bar.html" %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Provide site details
{% endset %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}
	Check if you need a marine licence
{% endset %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set questionHeadingTextHTML %}
Do you have the site coordinates?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
    Select if you have the coordinates of the location
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#exemption-provide-site-details-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="provide-site-details-router" method="post" novalidate>

            <h1 class="govuk-heading-l">
                {{ pageHeadingTextHTML }}
            </h1>

            <p>We need to know the boundary of the site where your activity will take place. You can either draw it on our map or provide coordinates.</p>

            {{ govukRadios
                ({
                    name: "exemption-provide-site-details-radios",

                    id: "exemption-provide-site-details-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: questionHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                    {
                        value: "Yes",
                        text: "Yes",
                        checked: data['exemption-provide-site-details-radios'] == "Yes"
                    },
                    {
                        value: "No",
                        text: "No",
                        checked: data['exemption-provide-site-details-radios'] == "No"
                    }   
                    ]
                })
            }}


            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue"
                }) }}
            </div>
            
            

        </form>

    </div>
</div>




<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->





{% endblock %}


