{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set bodyClasses = "page-" + currentPageId if currentPageId else "" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!-- project-name-start.html and home.html have their own headers -->
{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work",
  navigation: [
    {
      href: "/versions/sample-plans-v1/exemption/home",
      text: "Projects"
    },
    {
      href: "#",
      text: "Defra account",
      active: false
    },
    {
      href: "/versions/sample-plans-v1/exemption/sign-in.html?goto=home",
      text: "Sign out"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
    {% if data['organisation-name'] %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
     {
      href: "/versions/sample-plans-v1/help/privacy",
      text: "Privacy"
      },
      {
      href: "/versions/sample-plans-v1/help/cookies",
      text: "Cookies"
      },
      {
             href: "/manage-prototype",
             text: "Manage your prototype"
       },
       {
             href: "/manage-prototype/clear-data",
             text: "Clear data"
       },
       {
            href: "/prototype-admin/view-data",
            text: "View data",
            attributes:
            {
              target: "_blank"
            }
       },
       {
            href: "#",
            text: "Share page",
            attributes:
            {
                onclick: "reloadpagewithsessionupdate()"
            }
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}

<script>
    function reloadpagewithsessionupdate()
    {
        // get the url of this page
        var fullURL = window.location.href;
        var urlwithoutparameters = fullURL;

        // when the url has parameters in it
        if( fullURL.includes("?") )
        {
            // remove everything after the question mark
            urlwithoutparameters = fullURL .split('?')[0]
        }

        // get possibly unsubmitted input fields on the page and save them as session data
        // this could be amounts, text fields or dates
        var theUnsavedInputs = "";

        inputs = document.getElementsByTagName('input');
        for (index = 0; index < inputs.length; ++index)
        {
            // if input field is a radio button we need to save only the selected one
            if( inputs[index].classList.contains('govuk-radios__input') )
            {
                // see if this radio button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as "Yes"
                    var nameOfRadioButton = inputs[index].name;
                    theUnsavedInputs = theUnsavedInputs + nameOfRadioButton + "=" + inputs[index].value + "&";
                }
            }
            // if the field is a checkbox
            else if( inputs[index].classList.contains('govuk-checkboxes__input') )
            {
                var nameOfcheckboxButton = inputs[index].id;
                // see if this checkbox button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as the value, likely "yes"
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=" + inputs[index].value + "&";
                }
                // if the checkbox isn't checked then record that as well.
                else
                {
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=null&";
                }
            }
            else
            {
                theUnsavedInputs = theUnsavedInputs + inputs[index].id + "=" + inputs[index].value + "&";
                //alert(theUnsavedInputs);
            }

        }

        location.replace("/prototype-admin/update-session-data?redirecturl=" +  urlwithoutparameters + "&" + theUnsavedInputs);
    }
</script>
{% endblock %}