{% extends "../../layouts/email.html" %}

{% block pageTitle %}
  Email - Update on your marine licence application
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>


<h1>Update on your marine licence application MLA/2026/10003</h1>

<p>Dear Sam Evans,</p>

<p>Your application has been transferred from Get permission for marine work to our Marine Case Management System (MCMS).</p>

<p>Get permission for marine work currently processes certain types of marine licence application. MCMS processes all types, so we have transferred your application there.</p>

<p>Your application will continue to be managed as normal and you do not need to do anything.</p>

<h2>What happens next</h2>

<p>Someone from MMO will contact you to explain how to track the progress of your application in MCMS.</p>

<p>Your fee estimate may change but we will confirm that when we contact you.</p>

<p><a href="../email-landings/pontoon-landing">View your application status</a></p>

<p>From Marine Management Organisation</p>

{% endblock %}
