{% extends "../../layouts/email.html" %}

{% block pageTitle %}
  Email - Your marine licence application MLA/2026/10002
{% endblock %}

{% set inboxHref = "inbox-reject" %}

{% block header %}
  {% include "./_mail-chrome.html" %}
  {% set messageSubject = "Update on your marine licence application MLA/2026/10002" %}
  {% set messageDate = "Today at 10:42" %}
  {% include "./_message-header.html" %}
  {{ govukHeader({
    homepageUrl: "/",
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
ul {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>


<h1>Update on your marine licence application MLA/2026/10002</h1>

<p>Dear Sam Evans,</p>

<p>We have reviewed your application and we are unable to progress it as submitted.</p>

<h2>Why we are unable to progress your application</h2>

<p>We've identified issues with the following sections of your application:</p>

<ul>
  <li>Marine plan policies</li>
</ul>

<p>You answered 'Not applicable' for policy S-BIO-1. Based on the site location you have provided, this policy does apply to your application.</p>

<p>Your site is in the South marine plan area and includes intertidal foreshore. Placing rock armour and piled structures in this area has the potential to affect coastal habitats and species, so you must consider policy S-BIO-1 whether or not the site is in a protected area.</p>

<p>To resubmit, update your answer for S-BIO-1 to explain how your proposal responds to the policy. Describe any potential impacts on habitats and species at the site, and how you will avoid, minimise or reduce them. If you consider there will be no impacts, explain why.</p>

<h2>What you can do</h2>

<p>You can update your application to address the issues above and resubmit it.</p>

<p>You do not need to submit a completely new application. We will create a new draft containing all of your application information for you to update and resubmit.</p>

<p><a href="sign-in-reject">Sign in to find out what you need to do next</a></p>

<p>From Marine Management Organisation</p>

{% endblock %}
