{% extends "../../layouts/email.html" %}

{% block pageTitle %}
  Email - Your marine licence application MLA/2026/10002
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
ul {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>


<h1>Your marine licence application MLA/2026/10002</h1>

<p>Dear Sam Evans,</p>

<p>We have reviewed your application and we are unable to progress it as submitted.</p>

<h2>Why we are unable to progress your application</h2>

<p>We've identified issues with the following sections of your application:</p>

<ul>
  <li>Site location</li>
  <li>Water Framework Directive assessment</li>
</ul>

<p>The site location entered indicated that it was within 1 nautical mile of the coast but no Water Framework Directive assessment was uploaded. Check the site location and if it meets the requirements for a WFD assessment.</p>

<h2>What you can do</h2>

<p>You can update your application to address the issues above and resubmit it.</p>

<p>You do not need to submit a completely new application. We will create a new draft containing all of your application information for you to update and resubmit.</p>

<p><a href="../email-landings/plymouth-sound-landing">Sign in to find out what you need to do next</a></p>

<h2>Contact us</h2>

<p>Email: <a href="mailto:marine.consents@marinemanagement.org.uk">marine.consents@marinemanagement.org.uk</a></p>

<p>Phone: 0191 376 2791</p>

<p>From Marine Management Organisation</p>

{% endblock %}
