{% extends "../../layouts/email.html" %}

{% block pageTitle %}
  Email - Your marine licence application MLA/2026/10002
{% endblock %}

{% set inboxHref = "inbox-reject" %}

{% block header %}
  {% include "./_mail-chrome.html" %}
  {% set messageSubject = "Update on your marine licence application MLA/2026/10002" %}
  {% set messageDate = "Today at 10:42" %}
  {% include "./_message-header.html" %}
  {{ govukHeader({
    homepageUrl: "/",
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
ul {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>


<h1>Update on your marine licence application MLA/2026/10002</h1>

<p>Dear Sam Evans,</p>

<p>We have reviewed your application and we are unable to progress it as submitted.</p>

<h2>Why we are unable to progress your application</h2>

<p>We've identified issues with the following sections of your application:</p>

<ul>
  <li>Site location</li>
  <li>Water Framework Directive assessment</li>
</ul>

<p>The site location entered indicated that it was within 1 nautical mile of the coast but no Water Framework Directive assessment was uploaded. Check the site location and if it meets the requirements for a WFD assessment.</p>

<h2>Charges for reviewing your application</h2>

<p>We will charge you for the time we have spent reviewing your application. We will send you an invoice separately.</p>

<h2>What you can do</h2>

<p>You can apply again for the same project. To support you with this, we will copy your existing application into a new draft application, so you can fix the issues we've identified before you submit.</p>

<p>This will be a new application, meaning:</p>

<ul>
  <li>you will get a new fee estimate</li>
  <li>your new application will have a new reference number</li>
</ul>

<p><a href="sign-in-reject">Sign in to find out what you need to do next</a></p>

{% endblock %}
