{% extends "../layouts/main.html" %}

{% set pageName="Your information has been sent" %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: ''
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

	{{ govukPanel({
        titleText: "Your information has been sent",
        html: "Your reference number<br><strong>EXE/2025/0004</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email with your reference number.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      {% if data['exemption'] == "pontoon-approval" %}
      <p class="govuk-body">
        [Content around having to wait for approval before starting the activity]
      </p>

      {% elif (data['exemption'] == "pontoon-notification" or data['exemption'] == "sample-notification") or not data['exemption'] %}
      <p class="govuk-body">
        You can complete your activity within the dates you provided.
      </p>
      {% endif %}

	  <p class="govuk-body">
        <a href="#" class="govuk-link">Download a PDF of your answers</a>
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)
      </p>   

</div>
</div>

{% endblock %}