{% extends "../../layouts/low-complexity.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Does any part of the activity need to be completed by a certain date?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['low-complexity-date-completed-by-errorthispage'] == "true" %}
Error:
{% endif %}

{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% set dateDetailsTextarea %}
{{ govukTextarea({
    id: "low-complexity-date-completed-by-details",
    name: "low-complexity-date-completed-by-details",
    value: data['low-complexity-date-completed-by-details'],
    rows: 5,
    label: {
        text: "Provide the dates and the reasons why"
    },
    errorMessage: {
        text: "Enter the dates and the reasons why"
    } if data['low-complexity-date-completed-by-errortypetwo'] == "true"
}) }}
{% endset %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['low-complexity-date-completed-by-errorthispage'] == "true" %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: [
				{
					text: "Select if any part of the activity needs to be completed by a certain date" if data['low-complexity-date-completed-by-errortypeone'] == "true" else "Enter the dates and the reasons why",
					href: "#low-complexity-date-completed-by" if data['low-complexity-date-completed-by-errortypeone'] == "true" else "#low-complexity-date-completed-by-details"
				}
			]
		}) }}
		{% endif %}

		<!--  END OF 'error summary' -->

		<form action="date-completed-by-router" method="post" novalidate>

			{{ govukRadios({
				name: "low-complexity-date-completed-by",
				id: "low-complexity-date-completed-by",
				fieldset: {
					legend: {
						html: '<span class="govuk-caption-l">' + data['low-complexity-project-name-text-input'] + '<span class="govuk-!-display-block">Site 1</span></span>' + pageHeadingTextHTML,
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
					{
						value: "Yes",
						text: "Yes",
						conditional: {
							html: dateDetailsTextarea
						},
						checked: data['low-complexity-date-completed-by'] == "Yes"
					},
					{
						value: "No",
						text: "No",
						checked: data['low-complexity-date-completed-by'] == "No"
					}
				],
				errorMessage: {
					text: "Select if any part of the activity needs to be completed by a certain date"
				} if data['low-complexity-date-completed-by-errortypeone'] == "true"
			}) }}

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Save and continue"
				}) }}

				<a class="govuk-link" href="javascript:history.back()">Cancel</a>
			</div>

		</form>

	</div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

	<select style="height:30px;" onchange="window.location.href='?'+this.value">

		<option value="low-complexity-date-completed-by-errorthispage=false&low-complexity-date-completed-by-errortypeone=false&low-complexity-date-completed-by-errortypetwo=false&" {% if data['low-complexity-date-completed-by-errorthispage'] != "true" %}selected{% endif %}>Errors - Off</option>

		<option value="low-complexity-date-completed-by-errorthispage=true&low-complexity-date-completed-by-errortypeone=true&low-complexity-date-completed-by-errortypetwo=false&" {% if data['low-complexity-date-completed-by-errortypeone'] == 'true' and data['low-complexity-date-completed-by-errortypetwo'] != 'true' %}selected{% endif %}>Error 1 - No radio selected</option>

		<option value="low-complexity-date-completed-by-errorthispage=true&low-complexity-date-completed-by-errortypeone=false&low-complexity-date-completed-by-errortypetwo=true&" {% if data['low-complexity-date-completed-by-errortypeone'] != 'true' and data['low-complexity-date-completed-by-errortypetwo'] == 'true' %}selected{% endif %}>Error 2 - Textarea left blank</option>

	</select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}
