{% extends "../../layouts/low-complexity-v2.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Review site details
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>
        
        <!-- Check if all required fields are completed -->
        {% set siteNameComplete = data['low-complexity-site-name-completed'] %}
        {% set typeOfActivityComplete = data['low-complexity-type-of-activity-completed'] %}
        {% set activityDescComplete = data['low-complexity-activity-description-completed'] %}
        {% set durationComplete = data['low-complexity-site-duration-completed'] %}
        {% set dateCompletedByComplete = data['low-complexity-date-completed-by-completed'] %}
        {% set monthsOfActivityComplete = data['low-complexity-months-of-activity-completed'] %}
        {% set workingHoursComplete = data['low-complexity-working-hours-completed'] %}
        
        {% set allComplete = siteNameComplete and typeOfActivityComplete and activityDescComplete and durationComplete and dateCompletedByComplete and monthsOfActivityComplete and workingHoursComplete %}
        
        {% if not allComplete %}
            {{ govukInsetText({
                html: "The site details you've provided are saved.<br>You must complete all sections marked <span class='govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-top-2'>Incomplete</span> before you can send your information.<br>If you cannot finish now, you can return to this page later."
            }) }}
        {% else %}
            {{ govukInsetText({
                html: "The site details you've provided are saved.<br>You can return to this page and make changes at any time before you send your information."
            }) }}
        {% endif %}
        
        <!-- Providing the site location section -->
        <div id="site-location" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Providing the site location
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href="delete-all-sites">
                            Delete all site details<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Method of providing site location
                        </dt>
                        <dd class="govuk-summary-list__value">
                            File uploaded
                        </dd>
                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            File type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-file-type'] == 'kml' %}
                                KML
                            {% elif data['low-complexity-file-type'] == 'shapefile' %}
                                Shapefile
                            {% else %}
                                Shapefile
                            {% endif %}
                        </dd>
                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            File uploaded
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-file-type'] == 'kml' %}
                                my-site-location.kml
                            {% else %}
                                my-site-location.zip
                            {% endif %}
                        </dd>
                        
                    </div>
                </dl>
            </div>
        </div>

        <!-- Site 1 section -->
        <div id="site-1" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Site 1
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change site location<span class="govuk-visually-hidden"> for site 1</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--full-width">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Site name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-site-name-completed'] and data['low-complexity-site-name'] %}
                                {{ data['low-complexity-site-name'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="site-name" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-site-name-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> site name</span>
                            </a>
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key govuk-summary-list__key--full-width map-label">
                            Map view
                        </dt>
                        <dd class="govuk-summary-list__value govuk-summary-list__value--full-width">
                            <img src="/public/images/map-5-points.jpg" alt="Map showing site 1 location" />
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <!-- Site 1 activity details section -->
        <div id="site-1-activity-details" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Site 1 activity details
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <!-- Row 1: Type of activity -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of activity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-type-of-activity-completed'] %}
                                {% if data['low-complexity-type-of-activity'] == 'construction' %}
                                    {% if data['low-complexity-type-of-works'] == 'construction-new' %}Construction of new works
                                    {% elif data['low-complexity-type-of-works'] == 'maintenance-existing' %}Maintenance of existing works
                                    {% elif data['low-complexity-type-of-works'] == 'alteration-improvement' %}Alteration or improvement, including extending, of existing marine works
                                    {% endif %}
                                {% elif data['low-complexity-type-of-activity'] == 'deposit' %}
                                    {% if data['low-complexity-deposit-type'] == 'continuation-existing' %}Continuation of existing deposit activity
                                    {% elif data['low-complexity-deposit-type'] == 'deposit-new' %}Deposit of something new
                                    {% elif data['low-complexity-deposit-type'] == 'replacing-existing' %}Replacing existing object
                                    {% endif %}
                                {% elif data['low-complexity-type-of-activity'] == 'removal' %}
                                    {% if data['low-complexity-removal-type'] == 'one-off-first-time' %}One off first time removal
                                    {% elif data['low-complexity-removal-type'] == 'ongoing-routine' %}Removal as part of an ongoing or routine activity
                                    {% elif data['low-complexity-removal-type'] == 'removal-replacement' %}Removal for replacement
                                    {% elif data['low-complexity-removal-type'] == 'removal-relocation' %}Removal for relocation
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="type-of-activity" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-type-of-activity-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> type of activity</span>
                            </a>
                        </dd>
                    </div>

                    <!-- Row 2: Activity specifics (only shown when completed) -->
                    {% if data['low-complexity-type-of-activity-completed'] %}

                        {% if data['low-complexity-type-of-activity'] == 'construction' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if data['low-complexity-type-of-works'] == 'construction-new' %}What are you constructing?
                                {% elif data['low-complexity-type-of-works'] == 'maintenance-existing' %}What are you maintaining?
                                {% elif data['low-complexity-type-of-works'] == 'alteration-improvement' %}What are you altering or improving?
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['low-complexity-construction-structures'] and data['low-complexity-construction-structures'].length > 0 %}
                                    <ul class="govuk-list govuk-list--bullet">
                                    {% for structure in data['low-complexity-construction-structures'] %}
                                        <li>
                                            {% if structure == 'jetty-pier-quay' %}Jetty, pier or quay
                                            {% elif structure == 'slipway-boat-ramp' %}Slipway or boat ramp
                                            {% elif structure == 'sea-wall-coastal-wall' %}Sea wall or coastal wall
                                            {% elif structure == 'revetment' %}Revetment (sloped coastal protection)
                                            {% elif structure == 'groyne' %}Groyne
                                            {% elif structure == 'breakwater-mole-harbour' %}Breakwater, mole or harbour protection structure
                                            {% elif structure == 'bridge-supports' %}Bridge or bridge supports in tidal waters
                                            {% elif structure == 'causeway-embankment' %}Causeway, embankment or coastal access ramp
                                            {% elif structure == 'pontoons-walkways' %}Pontoons or floating walkways
                                            {% elif structure == 'floating-breakwaters' %}Floating breakwaters or wave attenuators
                                            {% elif structure == 'piles-piled-structures' %}Piles or piled structures
                                            {% elif structure == 'foundations-platforms' %}Foundations for offshore platforms or similar structures
                                            {% elif structure == 'artificial-reefs' %}Artificial reefs or habitat structures
                                            {% elif structure == 'hard-coastal-defence' %}Hard coastal defence structures such as rock armour or concrete units
                                            {% elif structure == 'tidal-flood-defence' %}Tidal flood defence structures (e.g., flood barriers, tidal gates, sluices)
                                            {% elif structure == 'outfalls-diffusers' %}Outfalls or diffusers
                                            {% elif structure == 'intakes' %}Intakes
                                            {% elif structure == 'pipelines-ducts' %}Pipelines or ducts
                                            {% elif structure == 'subsea-cables' %}Subsea cables requiring protective construction
                                            {% elif structure == 'culverts-channels' %}Culverts or constructed tidal channels
                                            {% elif structure == 'tidal-energy-devices' %}Tidal energy devices or foundations
                                            {% elif structure == 'wave-energy-foundations' %}Wave energy device foundations
                                            {% elif structure == 'offshore-wind-foundations' %}Fixed offshore wind foundations
                                            {% elif structure == 'aquaculture-piled-structures' %}Piled or fixed aquaculture structures
                                            {% elif structure == 'aquaculture-trestles' %}Aquaculture trestles or fixed walkways
                                            {% elif structure == 'other-structures' %}Other structures ({{ data['low-complexity-construction-structures-other-details'] }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a href="construction-structures" class="govuk-link govuk-link--no-visited-state">
                                    Change<span class="govuk-visually-hidden"> what you are constructing</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}

                        {% if data['low-complexity-type-of-activity'] == 'deposit' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if data['low-complexity-deposit-type'] == 'continuation-existing' %}What deposit activity are you continuing?
                                {% elif data['low-complexity-deposit-type'] == 'deposit-new' %}What new deposit activity are you doing?
                                {% elif data['low-complexity-deposit-type'] == 'replacing-existing' %}What deposit activity are you doing that replaces an existing object?
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['low-complexity-deposit-substances-objects'] and data['low-complexity-deposit-substances-objects'].length > 0 %}
                                    <ul class="govuk-list govuk-list--bullet">
                                    {% for item in data['low-complexity-deposit-substances-objects'] %}
                                        <li>
                                            {% if item == 'aids-to-navigation' %}Aids to navigation
                                            {% elif item == 'dredged-material-beach-management' %}Alternative use of dredged material – beach management
                                            {% elif item == 'dredged-material-habitat-creation' %}Alternative use of dredged material – habitat creation
                                            {% elif item == 'dredged-material-land-reclamation' %}Alternative use of dredged material – land reclamation or construction fill
                                            {% elif item == 'anchoring-systems' %}Anchoring systems
                                            {% elif item == 'burial-at-sea' %}Burial at sea
                                            {% elif item == 'disposal-dredged-material' %}Disposal of dredged material to sea
                                            {% elif item == 'disposal-fish-waste' %}Disposal of fish waste
                                            {% elif item == 'disposal-shellfish-waste' %}Disposal of shellfish waste
                                            {% elif item == 'explosive-substances' %}Explosive substances or articles
                                            {% elif item == 'fireworks' %}Fireworks
                                            {% elif item == 'habitat-pods' %}Habitat pods, artificial habitat units or reef cubes
                                            {% elif item == 'marine-restoration-materials' %}Marine restoration materials (e.g. oyster shells, cobbles, gravel for habitat creation)
                                            {% elif item == 'marker-posts' %}Markers posts
                                            {% elif item == 'moorings' %}Moorings
                                            {% elif item == 'pontoons' %}Pontoons
                                            {% elif item == 'protective-mattresses' %}Protective mattresses or rock bags
                                            {% elif item == 'scientific-instruments' %}Scientific instruments
                                            {% elif item == 'seeding-materials' %}Seeding materials (e.g. shellfish seed for habitat enhancement)
                                            {% elif item == 'temporary-works-equipment' %}Temporary works equipment
                                            {% elif item == 'tracers-dyes' %}Use of tracers or dyes
                                            {% elif item == 'other-deposits' %}Other deposits ({{ data['low-complexity-deposit-substances-objects-other-details'] }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a href="deposit-substances-objects" class="govuk-link govuk-link--no-visited-state">
                                    Change<span class="govuk-visually-hidden"> deposit substances or objects</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}

                        {% if data['low-complexity-type-of-activity'] == 'removal' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if data['low-complexity-removal-type'] == 'one-off-first-time' %}What are you removing for the first time on a one off basis?
                                {% elif data['low-complexity-removal-type'] == 'ongoing-routine' %}What are you removing on an ongoing basis?
                                {% elif data['low-complexity-removal-type'] == 'removal-replacement' %}What are you removing as part of replacement activity?
                                {% elif data['low-complexity-removal-type'] == 'removal-relocation' %}What are you removing for relocation?
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['low-complexity-removal-substances-objects'] and data['low-complexity-removal-substances-objects'].length > 0 %}
                                    <ul class="govuk-list govuk-list--bullet">
                                    {% for item in data['low-complexity-removal-substances-objects'] %}
                                        <li>
                                            {% if item == 'abandoned-fishing-equipment' %}Abandoned fishing equipment
                                            {% elif item == 'marine-litter-debris' %}Marine litter and debris
                                            {% elif item == 'rocks-boulders-obstructions' %}Rocks, boulders or obstructions
                                            {% elif item == 'aquaculture-equipment' %}Aquaculture equipment (trestles, cages, poles etc.)
                                            {% elif item == 'artificial-reefs' %}Artificial reefs or habitat structures
                                            {% elif item == 'breakwater-mole-harbour' %}Breakwater, mole or harbour protection structure
                                            {% elif item == 'bridge-supports' %}Bridge or bridge supports in tidal waters
                                            {% elif item == 'causeway-embankment' %}Causeway, embankment or coastal access ramp
                                            {% elif item == 'culverts-channels' %}Culverts or constructed tidal channels
                                            {% elif item == 'offshore-wind-foundations' %}Fixed offshore wind foundations
                                            {% elif item == 'floating-breakwaters' %}Floating breakwaters or wave attenuators
                                            {% elif item == 'foundation-components' %}Foundation components (e.g. anchors, small footings)
                                            {% elif item == 'foundations-platforms' %}Foundations for offshore platforms or similar structures
                                            {% elif item == 'groyne' %}Groyne
                                            {% elif item == 'hard-coastal-defence' %}Hard coastal defence structures such as rock armour or concrete units
                                            {% elif item == 'intakes' %}Intakes
                                            {% elif item == 'jetty-pier-quay' %}Jetty, pier or quay
                                            {% elif item == 'outfalls-diffusers' %}Outfalls or diffusers
                                            {% elif item == 'pipelines-ducts' %}Pipelines or ducts
                                            {% elif item == 'piles-piled-structures' %}Piles or piled structures
                                            {% elif item == 'pontoons-walkways-decommissioning' %}Pontoons or floating walkways
                                            {% elif item == 'revetment' %}Revetment (sloped coastal protection)
                                            {% elif item == 'sea-wall-coastal-wall' %}Sea wall or coastal wall
                                            {% elif item == 'slipway-boat-ramp' %}Slipway or boat ramp
                                            {% elif item == 'subsea-cables' %}Subsea cables requiring protective construction
                                            {% elif item == 'tidal-energy-devices' %}Tidal energy devices or foundations
                                            {% elif item == 'tidal-flood-defence' %}Tidal flood defence structures (e.g. flood barriers, tidal gates, sluices)
                                            {% elif item == 'wave-energy-foundations' %}Wave energy device foundations
                                            {% elif item == 'aids-to-navigation' %}Aids to navigation
                                            {% elif item == 'habitat-pods' %}Habitat pods or artificial reef units
                                            {% elif item == 'moorings' %}Moorings
                                            {% elif item == 'pontoons-floating-structures' %}Pontoons or floating structures
                                            {% elif item == 'scientific-instruments' %}Scientific instruments
                                            {% elif item == 'survey-markers' %}Survey markers or temporary works equipment
                                            {% elif item == 'wrecks-archaeological' %}Wrecks or items or archaeological remains
                                            {% elif item == 'sediment-samples' %}Sediment samples
                                            {% elif item == 'other-substances-objects' %}Other substances or objects ({{ data['low-complexity-removal-substances-objects-other-details'] }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a href="removal-substances-objects" class="govuk-link govuk-link--no-visited-state">
                                    Change<span class="govuk-visually-hidden"> removal substances or objects</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}

                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-activity-description-completed'] and data['low-complexity-activity-description'] %}
                                {{ data['low-complexity-activity-description'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-description" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-activity-description-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity description</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Maximum duration of activity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-site-duration-completed'] %}
                                {% set durationParts = [] %}
                                {% if data['low-complexity-site-duration-years'] and data['low-complexity-site-duration-years'] != '0' %}
                                    {% set durationParts = (durationParts.push(data['low-complexity-site-duration-years'] + ' ' + ('year' if data['low-complexity-site-duration-years'] == '1' else 'years')), durationParts) %}
                                {% endif %}
                                {% if data['low-complexity-site-duration-months'] and data['low-complexity-site-duration-months'] != '0' %}
                                    {% set durationParts = (durationParts.push(data['low-complexity-site-duration-months'] + ' ' + ('month' if data['low-complexity-site-duration-months'] == '1' else 'months')), durationParts) %}
                                {% endif %}
                                {{ durationParts | join(', ') if durationParts.length > 0 else 'Not provided' }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="duration" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-site-duration-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> duration</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Does any part of the activity need to be completed by a certain date?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-date-completed-by-completed'] %}
                                {% if data['low-complexity-date-completed-by'] == 'Yes' %}
                                    Yes<br>{{ data['low-complexity-date-completed-by-details'] }}
                                {% else %}
                                    No
                                {% endif %}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="date-completed-by" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-date-completed-by-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> does any part of the activity need to be completed by a certain date?</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Will the activity be limited to specific months of the year?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-months-of-activity-completed'] %}
                                {% if data['low-complexity-months-of-activity'] == 'Yes' %}
                                    Yes<br>{{ data['low-complexity-months-of-activity-details'] }}
                                {% else %}
                                    No
                                {% endif %}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="months-of-activity" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-months-of-activity-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> will the activity be limited to specific months of the year?</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Proposed working hours
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['low-complexity-working-hours-completed'] and data['low-complexity-working-hours'] %}
                                {{ data['low-complexity-working-hours'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="working-hours" class="govuk-link govuk-link--no-visited-state">
                                {% if data['low-complexity-working-hours-completed'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> proposed working hours</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <p class="govuk-body">
            <a href="#" class="govuk-button govuk-button--secondary">Add another activity for site 1</a>
        </p>

        <form action="review-site-details-router" method="post" novalidate>
            <div class="govuk-button-group govuk-!-margin-top-4">
                {{ govukButton({
                    text: "Continue"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
