{% extends "../../layouts/low-complexity.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Activity description
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="activity-description-router" method="post" novalidate>
            
            <!-- Error summary -->
            {% if data['low-complexity-activity-description-errorthispage'] == "true" %}
                {% set errorList = [] %}
                {% if data['low-complexity-activity-name-error'] %}
                    {% set errorList = (errorList.push({
                        text: data['low-complexity-activity-name-error'],
                        href: "#low-complexity-activity-name"
                    }), errorList) %}
                {% endif %}
                {% if data['low-complexity-activity-description-error'] %}
                    {% set errorList = (errorList.push({
                        text: data['low-complexity-activity-description-error'],
                        href: "#low-complexity-activity-description"
                    }), errorList) %}
                {% endif %}
                
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            <span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}<span class="govuk-!-display-block">Site 1</span></span>
            <h1 class="govuk-heading-l">
                {{ pageHeadingTextHTML }}
            </h1>

            {{ govukInput({
                label: {
                    text: "Activity name",
                    classes: "govuk-label--s"
                },
                hint: {
                    text: "Enter a maximum of 250 characters"
                },
                id: "low-complexity-activity-name",
                name: "low-complexity-activity-name",
                value: data['low-complexity-activity-name'],
                errorMessage: {
                    text: data['low-complexity-activity-name-error']
                } if data['low-complexity-activity-name-error']
            }) }}

            <div class="govuk-form-group {% if data['low-complexity-activity-description-error'] %}govuk-form-group--error{% endif %}">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--s" for="low-complexity-activity-description">
                        Describe the activity
                    </label>
                </h2>

                

                <p class="govuk-body">This is a summary of what you're going to do and in what order. Include the equipment you'll use, how you'll transport materials and the maximum dimensions of the marine works and materials.</p>

                <p class="govuk-body">For example, if you're constructing a sheet piled wall you need to tell us the maximum dimension of the wall, maximum dimension of the piles and the maximum number of piles.</p>

                {% if data['low-complexity-activity-description-error'] %}
                <p id="low-complexity-activity-description-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ data['low-complexity-activity-description-error'] }}
                </p>
                {% endif %}

                <div id="low-complexity-activity-description-hint" class="govuk-hint">
                    Enter a maximum of 2,000 characters
                </div>
                
                <textarea class="govuk-textarea {% if data['low-complexity-activity-description-error'] %}govuk-textarea--error{% endif %}" id="low-complexity-activity-description" name="low-complexity-activity-description" rows="5" aria-describedby="low-complexity-activity-description-hint{% if data['low-complexity-activity-description-error'] %} low-complexity-activity-description-error{% endif %}">{{ data['low-complexity-activity-description'] }}</textarea>
            </div>
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </div>

        </form>

    </div>
</div>
{% endblock %}

