{% extends "../../layouts/low-complexity.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Site name
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="site-name-router" method="post" novalidate>
            
            <!-- Error summary -->
            {% if data['low-complexity-site-name-errorthispage'] == "true" %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "Enter the site name",
                            href: "#low-complexity-site-name"
                        }
                    ]
                }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    html: '<span class="govuk-caption-l">' + data['low-complexity-project-name-text-input'] + '<span class="govuk-!-display-block">Site 1</span></span>' + pageHeadingTextHTML,
                    isPageHeading: true,
                    classes: "govuk-label--l"
                },
                id: "low-complexity-site-name",
                name: "low-complexity-site-name",
                value: data['low-complexity-site-name'],
                errorMessage: {
                    text: "Enter the site name"
                } if data['low-complexity-site-name-errorthispage'] == "true"
            }) }}
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </div>

        </form>

    </div>
</div>
{% endblock %}

