{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if data['confirm-organisation-notification-errorthispage'] == "true" %}Error: {% endif %}Are you notifying us as an employee, volunteer or contractor of Ocean Dredging? - Get permission for marine work
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <div class="app-organisation-switcher">
    <span class="govuk-body-s govuk-!-font-weight-bold app-organisation-switcher__name">Ocean Dredging</span>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Error summary -->
      {% if data['confirm-organisation-notification-errorthispage'] == "true" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select if you are notifying us as an employee, volunteer or contractor of Ocean Dredging",
              href: "#confirm-organisation-notification"
            }
          ]
        }) }}
      {% endif %}

      <form action="confirm-organisation-notification-router" method="post" novalidate>
        
        {{ govukRadios({
          name: "confirm-organisation-notification",
          id: "confirm-organisation-notification",
          fieldset: {
            legend: {
              text: "Are you notifying us as an employee, volunteer or contractor of Ocean Dredging?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, the exempt activity notification is for Ocean Dredging"
            },
            {
              value: "different-organisation",
              text: "No, I'm notifying you for a different organisation"
            },
            {
              value: "myself",
              text: "No, I'm notifying you about a personal project"
            }
          ],
          value: data['confirm-organisation-notification'],
          errorMessage: {
            text: "Select if you are notifying us as an employee, volunteer or contractor of Ocean Dredging"
          } if data['confirm-organisation-notification-errorthispage'] == "true" else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

  <script>
    // Clear errors if a radio button is selected (handles browser back button cache)
    document.addEventListener('DOMContentLoaded', function() {
      var radios = document.querySelectorAll('input[name="confirm-organisation-notification"]');
      var isSelected = false;
      
      radios.forEach(function(radio) {
        if (radio.checked) {
          isSelected = true;
        }
      });
      
      if (isSelected) {
        // Hide error summary
        var errorSummary = document.querySelector('.govuk-error-summary');
        if (errorSummary) {
          errorSummary.style.display = 'none';
        }
        
        // Remove error class from form group
        var formGroup = document.querySelector('.govuk-form-group--error');
        if (formGroup) {
          formGroup.classList.remove('govuk-form-group--error');
        }
        
        // Hide inline error message
        var errorMessage = document.querySelector('.govuk-error-message');
        if (errorMessage) {
          errorMessage.style.display = 'none';
        }
      }
    });
  </script>

{% endblock %}
