{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  You need to select, or get set up with, the correct organisation - Get permission for marine work
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to select, or get set up with, the correct organisation
      </h1>

      {{ govukWarningText({
        text: "If you do not set up your Defra account correctly your exemption notification will not be valid. This is because it will not be registered to the organisation the exemption is for.",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">
        If you're creating a Defra account for the organisation you work for you when you're registering you need to select as a business or organisation and confirm you have permission to create an account on their behalf.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">[Link to guidance]</a>
      </p>

      {{ govukButton({
        text: "Go to your Defra account",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}
