{% extends "layouts/main.html" %}


{% block pageTitle %}
  You need to be added to your client's account - Get permission for marine work
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to be added to your client's account
      </h1>

      <p class="govuk-body">
        You cannot submit an exemption until your client has set you up.
      </p>

      <h2 class="govuk-heading-m">
        What needs to happen
      </h2>

      <p class="govuk-body">
        Ask your client to take the following steps:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://get-permission-for-marine-work.defra.gov.uk/" class="govuk-link">Sign in to or create a Defra account</a> for their <strong>business or organisation</strong>.</li>
        <li>They'll create a Defra account using GOV UK Login or Government Gateway.</li>
        <li>Invite you as an intermediary under <strong>Manage account users</strong>.</li>
        <li>Give you access to the <strong>Get permission for marine work</strong> service.</li>
      </ul>

      <p class="govuk-body">
        Once you've received the invitation email and accepted it, you can return to this service.
      </p>

      <ul class="govuk-list">
        <li>
          <a href="creating-a-defra-account" class="govuk-link">How to create a Defra account</a>
        </li>
        <li>
          <a href="adding-users-to-a-defra-account-as-an-admin" class="govuk-link">How to add users to a Defra account</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
