{% extends "layouts/main.html" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  You need to create or get invited to a Defra account - Get permission for marine work
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to create or get invited to a Defra account
      </h1>

      {{ govukWarningText({
        text: "If you do not set up your Defra account correctly your exempt activity notification will not be valid. This is because it will not be registered to the organisation the exemption is for.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">
        Create a Defra account
      </h2>

      <p class="govuk-body">
        You need to create a new Defra account for your organisation. You can invite colleagues to this account once you've created it.
      </p>

      <ul class="govuk-list">
        <li>
          <a href="creating-a-defra-account" class="govuk-link">How to create a Defra account</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Get invited to an existing Defra account
      </h2>

      <p class="govuk-body">
        Ask your organisation's Defra account administrator to invite you to your organisation's Defra account.
      </p>

      <p class="govuk-body">
        If you're already invited to your organisation's Defra account, check the exemption is for the <a href="organisation-selector" class="govuk-link">right organisation</a>.
      </p>

      <ul class="govuk-list">
        <li>
          <a href="adding-users-to-a-defra-account-as-an-admin" class="govuk-link">How to add users to a Defra account</a>
        </li>
      </ul>

      {{ govukButton({
        text: "Go to your Defra account",
        classes: "govuk-!-margin-top-3"
      }) }}

    </div>
  </div>

{% endblock %}
