{% extends "../../layouts/low-complexity-v3.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeadingTextHTML %}
Is your project located within one nautical mile (1.85km) of the coast?
{% endset %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
{% if data['low-complexity-wfd-q1-error'] == "true" %}Error: {% endif %}{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['low-complexity-wfd-q1-error'] == "true" %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "Select whether your project is located within one nautical mile (1.85km) of the coast",
                    href: "#low-complexity-wfd-within-nautical-mile"
                }
            ]
        }) }}
        {% endif %}

        <form action="water-framework-directive-router" method="post" novalidate>

            <div class="govuk-form-group {% if data['low-complexity-wfd-q1-error'] == 'true' %}govuk-form-group--error{% endif %}">
                <span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
                <h1 class="govuk-heading-l">
                    {{ pageHeadingTextHTML }}
                </h1>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Help with understanding one nautical mile from the coast
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <img src="/public/images/nautical-mile-illustration.png" alt="Diagram showing a site location in the water less than 1 nautical mile from the coast" width="100%" />
                    </div>
                </details>

                {{ govukRadios({
                    name: "low-complexity-wfd-within-nautical-mile",
                    idPrefix: "low-complexity-wfd-within-nautical-mile",
                    fieldset: {
                        legend: {
                            html: pageHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                        }
                    },
                    items: [
                        {
                            value: "Yes",
                            text: "Yes",
                            checked: data['low-complexity-wfd-within-nautical-mile'] == "Yes"
                        },
                        {
                            value: "No",
                            text: "No",
                            hint: {
                                text: "You do not need to complete a Water Framework Directive assessment"
                            },
                            checked: data['low-complexity-wfd-within-nautical-mile'] == "No"
                        }
                    ],
                    errorMessage: {
                        text: "Select whether your project is located within one nautical mile (1.85km) of the coast"
                    } if data['low-complexity-wfd-q1-error'] == "true"
                }) }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}

                {% if not data['low-complexity-wfd-from-cya'] %}
                <a class="govuk-link govuk-link--no-visited-state" href="wfd-cancel">Cancel</a>
                {% endif %}
            </div>

        </form>

    </div>
</div>

{% endblock %}
