{% extends "../../layouts/low-complexity-v3.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
{% if data['low-complexity-wfd-q3-error'] == "true" %}Error: {% endif %}Do you have a previous Water Framework Directive assessment completed between 2015 and 2022 for this type of activity? - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['low-complexity-wfd-q3-error'] == "true" %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a href="#low-complexity-wfd-previous-assessment">Select yes if you have a previous Water Framework Directive assessment completed between 2015 and 2022</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <form action="water-framework-directive-previous-assessment-router" method="post" novalidate>

            {{ govukRadios({
                name: "low-complexity-wfd-previous-assessment",
                idPrefix: "low-complexity-wfd-previous-assessment",
                fieldset: {
                    legend: {
                        html: "<span class='govuk-caption-l'>" + data['low-complexity-project-name-text-input'] + "</span><h1 class='govuk-fieldset__heading govuk-heading-l'>Do you have a previous Water Framework Directive assessment completed between 2015 and 2022 for this type of activity?</h1>",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                },
                items: [
                    {
                        value: "Yes",
                        text: "Yes",
                        hint: {
                            text: "You have a previous Water Framework Directive assessment for the same type of activity you're proposing in this application"
                        },
                        checked: data['low-complexity-wfd-previous-assessment'] == "Yes"
                    },
                    {
                        value: "No",
                        text: "No",
                        hint: {
                            text: "You will need to upload a new Water Framework Directive assessment"
                        },
                        checked: data['low-complexity-wfd-previous-assessment'] == "No"
                    }
                ],
                errorMessage: {
                    text: "Select yes if you have a previous Water Framework Directive assessment completed between 2015 and 2022"
                } if data['low-complexity-wfd-q3-error'] == "true"
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}

                {% if not data['low-complexity-wfd-from-cya'] %}
                <a class="govuk-link govuk-link--no-visited-state" href="wfd-cancel">Cancel</a>
                {% endif %}
            </div>

        </form>

    </div>
</div>

{% endblock %}
