{% extends "../../layouts/low-complexity-v3.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
Check your answers for Water Framework Directive - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">Check your answers for Water Framework Directive</h1>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Project located within one nautical mile (1.85km) of low-water, in a tidal river or estuary
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['low-complexity-wfd-within-nautical-mile'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="water-framework-directive?fromcheckanswers=true">
                        Change<span class="govuk-visually-hidden"> if your project is located within one nautical mile of the coast</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Project limited to one of the excluded activities
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['low-complexity-wfd-excluded-activities'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="water-framework-directive-excluded-activities?fromcheckanswers=true">
                        Change<span class="govuk-visually-hidden"> if your project is limited to one of the excluded activities</span>
                    </a>
                </dd>
            </div>

            {% if data['low-complexity-wfd-excluded-activities'] == "No" %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Previous 2015 to 2022 Water Framework Directive assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['low-complexity-wfd-previous-assessment'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="water-framework-directive-previous-assessment?fromcheckanswers=true">
                        Change<span class="govuk-visually-hidden"> if you have a previous Water Framework Directive assessment from 2015 to 2022</span>
                    </a>
                </dd>
            </div>

            {% if data['low-complexity-wfd-previous-assessment'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Changes since the previous Water Framework Directive assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['low-complexity-wfd-assessment-changed'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="water-framework-directive-assessment-changed?fromcheckanswers=true">
                        Change<span class="govuk-visually-hidden"> if anything has changed since your previous Water Framework Directive assessment</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if data['low-complexity-wfd-previous-assessment'] == "Yes" and data['low-complexity-wfd-assessment-changed'] == "Yes" %}
                        Water Framework Directive assessment upload
                    {% else %}
                        Water Framework Directive assessment upload
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['low-complexity-wfd-filename'] if data['low-complexity-wfd-filename'] else "WFD.doc" }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="water-framework-directive-upload?fromcheckanswers=true">
                        Change<span class="govuk-visually-hidden"> your Water Framework Directive assessment upload</span>
                    </a>
                </dd>
            </div>

            {% endif %}

        </dl>

        <form action="water-framework-directive-check-answers-router" method="post" novalidate>
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
            </div>
        </form>

    </div>
</div>

{% endblock %}
