{% extends "../../layouts/low-complexity.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    {{ govukBackLink({
        text: "Back to marine licence start page",
        href: "../marine-licence-start-page"
    }) }}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Other permissions
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="special-legal-powers" aria-describedby="special-legal-powers-status">
				  Special legal powers
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="special-legal-powers-status">
				{% if data['low-complexity-special-legal-powers-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

		<li class="govuk-task-list__item govuk-task-list__item--with-link">
		  <div class="govuk-task-list__name-and-hint">
			<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="other-authorities" aria-describedby="other-authorities-status">
			  Other authorities
			</a>
		  </div>
		  
		  <div class="govuk-task-list__status" id="other-authorities-status">
			{% if data['low-complexity-other-permissions-completed'] %}
			Completed
			{% else %}
			<strong class="govuk-tag govuk-tag--blue">
				Not yet started
			</strong>
			{% endif %}
		  </div>
		</li>

		<li class="govuk-task-list__item govuk-task-list__item--with-link">
		  <div class="govuk-task-list__name-and-hint">
			<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="consultation-and-advertising" aria-describedby="consultation-status">
			  Public consultation
			</a>
		  </div>
		  
		  <div class="govuk-task-list__status" id="consultation-status">
			{% if data['low-complexity-consultation-completed'] %}
			Completed
			{% else %}
			<strong class="govuk-tag govuk-tag--blue">
				Not yet started
			</strong>
			{% endif %}
		  </div>
		</li>
		</ul>

	</div>
</div>
{% endblock %}

