{% extends "../../layouts/low-complexity.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Have you applied to, or got permission from, any other authorities in relation to this project?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['errorthispage'] == "true" %}
Error:
{% endif %}

{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% set otherPermissionsTextarea %}
{{ govukTextarea({
    id: "low-complexity-other-permissions-details",
    name: "low-complexity-other-permissions-details",
    value: data['low-complexity-other-permissions-details'],
    rows: 5,
    label: {
        text: "Provide details including details of the organisations, relevant contact details and any reference numbers"
    },
    errorMessage: {
        text: "Enter details of the organisations, relevant contact details and any reference numbers"
    } if data['errortypetwo'] == "true"
}) }}
{% endset %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['errorthispage'] == "true" %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: [
				{
					text: "Select if you have applied to, or got permission from, any other authorities in relation to this project" if data['errortypeone'] == "true" else "Enter details of the organisations, relevant contact details and any reference numbers",
					href: "#low-complexity-other-permissions" if data['errortypeone'] == "true" else "#low-complexity-other-permissions-details"
				}
			]
		}) }}
		{% endif %}

		<!--  END OF 'error summary' -->

		<form action="other-authorities-router" method="post" novalidate>

			{{ govukRadios({
				name: "low-complexity-other-permissions",
				id: "low-complexity-other-permissions",
				fieldset: {
					legend: {
						html: '<span class="govuk-caption-l">' + data['low-complexity-project-name-text-input'] + '</span>' + pageHeadingTextHTML,
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				hint: {
					text: "Include details of the organisations, relevant contact details and any reference numbers"
				},
				items: [
					{
						value: "Yes",
						text: "Yes",
						conditional: {
							html: otherPermissionsTextarea
						},
						checked: data['low-complexity-other-permissions'] == "Yes"
					},
					{
						value: "No",
						text: "No",
						checked: data['low-complexity-other-permissions'] == "No"
					}
				],
				errorMessage: {
					text: "Select if you have applied to, or got permission from, any other authorities in relation to this project"
				} if data['errortypeone'] == "true"
			}) }}

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Save and continue"
				}) }}

				<a class="govuk-link" href="javascript:history.back()">Cancel</a>
			</div>

		</form>

	</div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

	<select style="height:30px;" onchange="window.location.href='?'+this.value">

		<option value="errorthispage=false&errortypeone=false&errortypetwo=false&" {% if data['errorthispage'] != "true" %}selected{% endif %}>Errors - Off</option>

		<option value="errorthispage=true&errortypeone=true&errortypetwo=false&" {% if data['errortypeone'] == 'true' and data['errortypetwo'] != 'true' %}selected{% endif %}>Error 1 - No radio selected</option>

		<option value="errorthispage=true&errortypeone=false&errortypetwo=true&" {% if data['errortypeone'] != 'true' and data['errortypetwo'] == 'true' %}selected{% endif %}>Error 2 - Textarea left blank</option>

	</select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}

