{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
	  	{% include "../includes/phase-banner.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
{{ data['exemption-project-name-text-input'] }}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Exempt activity</span>
		<h1 class="govuk-heading-l">
			{{ data['exemption-project-name-text-input'] }}
		</h1>

		<p>You must complete each section before you can send us your information.</p>

		<p>You can still make changes to a section, even after it is marked as completed.</p>

		<p>If you cannot finish now, you can come back later, your progress will be saved.</p>

		<ul class="govuk-task-list govuk-!-margin-top-7">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link" href="project-name.html" aria-describedby="exempt-information-1-status">
				  Project name
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="exempt-information-1-status">
				
				{% if data['exempt-information-1-status'] == "completed" %}
				Completed 

				{% else %}

				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}

			  </div>

			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">

				{% if data['exempt-information-3-status'] == "completed" or data['exempt-information-3-status'] == "in-progress" %}
					<!-- Detect single site vs multiple sites -->
					{% if data['single-site-completed'] %}
						<!-- Single site mode: link to single-site review -->
						<a class="govuk-link govuk-task-list__link" href="manual-entry-single-site/review-site-details" aria-describedby="exempt-information-3-status">
							Site details
						</a>
					{% else %}
						<!-- Multiple sites mode: link to Your sites page -->
						<a class="govuk-link govuk-task-list__link" href="site-details-added.html" aria-describedby="exempt-information-3-status">
							Site details
						</a>
					{% endif %}

				{% else %}

				<a class="govuk-link govuk-task-list__link" href="site-details.html" aria-describedby="exempt-information-3-status">
					Site details
				  </a>
				{% endif %}

			  </div>

			  <div class="govuk-task-list__status" id="exempt-information-3-status">
				
				{% if data['exempt-information-3-status'] == "completed" %}
					Completed 
				{% elif data['exempt-information-3-status'] == "in-progress" %}
					<strong class="govuk-tag govuk-tag--light-blue">
						In progress
					</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--blue">
						Not yet started
					</strong>
				{% endif %}

			  </div>

			</li>
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link" href="public-register" aria-describedby="exempt-information-4-status">
				  Public register
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="exempt-information-4-status">
				
				{% if data['exempt-information-4-status'] == "completed" %}
				Completed 

				{% else %}

				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
				
			  </div>

			</li>
		  </ul>


		  {% if data['exempt-information-1-status'] == "completed" and
		  data['exempt-information-3-status'] == "completed" and
		  data['exempt-information-4-status'] == "completed" %}
		  {{ govukButton({
			text: "Review and send your information",
			href: "check-answers-multiple-sites.html"
		  }) }}
		  {% endif %}
	</div>
</div>
{% endblock %}