{% extends "../../../../layouts/sample-plans.html" %}

{% block beforeContent %}
    {% include "../../../../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../../../../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Site name
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == "true" %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set siteInputId = 'new-disposal-site-' + siteNumber + '-name' %}
        
        <!-- ERROR LOGIC 'error summary' -->
        {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == "true" %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><a href="#{{ siteInputId }}">Enter a site name</a></li>
              </ul>
            </div>
          </div>
        {% endif %}
        <!--  END OF 'error summary' -->

        <form action="site-name-router?site={{ siteNumber }}{% if returnTo %}&returnTo={{ returnTo }}{% endif %}" method="post" novalidate>
            
            <div class="govuk-form-group {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == 'true' %}govuk-form-group--error{% endif %}">
                <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}<span class="govuk-!-display-block">New disposal site {{ siteNumber }}</span></span>
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="{{ siteInputId }}">
                    {{ pageHeadingTextHTML }}
                  </label>
                </h1>
              
                {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == "true" %}
                  <p id="{{ siteInputId }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a site name
                  </p>
                {% endif %}
              
                <input
                  class="govuk-input govuk-!-width-full {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == 'true' %}govuk-input--error{% endif %}"
                  id="{{ siteInputId }}"
                  name="{{ siteInputId }}"
                  type="text"
                  value="{{ data[siteInputId] }}"
                  {% if data['new-disposal-site-' + siteNumber + '-name-errorthispage'] == "true" %}aria-describedby="{{ siteInputId }}-error"{% endif %}
                />
              </div>
            
            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue" if returnTo else "Continue"
                }) }}
                {% if not returnTo %}
                <a class="govuk-link govuk-link--no-visited-state" href="cancel">Cancel</a>
                {% endif %}
            </div>
        </form>

    </div>
</div>

{% endblock %}

