{% extends "../../layouts/email.html" %}

{% block pageTitle %}
  Email - Your marine licence application MLA/2026/10020 – site notice evidence update
{% endblock %}

{% set inboxHref = "inbox-site-notice-resubmit" %}

{% block header %}
  {% include "./_mail-chrome.html" %}
  {% set messageSubject = "Your marine licence application MLA/2026/10020 – site notice evidence update" %}
  {% set messageDate = "Today at 14:05" %}
  {% include "./_message-header.html" %}
  {{ govukHeader({
    homepageUrl: "/",
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>

{# Sign in lands on the view details page, the same as the first site notice
   email, so it shares that sign-in page. #}

<p>Dear Sam Evans,</p>

<p>Your application MLA/2026/10020 now needs some new evidence for your site notice.</p>

<p><a href="sign-in-site-notice">Sign in to find out what you need to do</a></p>

<p>From Marine Management Organisation</p>

{% endblock %}
