{% extends "../layouts/main.html" %}

{% block beforeContent %}
	{% include "../includes/phase-banner.html" %} 
	{% include "../includes/back-link.html" %}
{% endblock %}
<!--End of Remove this after UR-->

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
You need to provide more information, but you do not need a marine licence
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerName'] }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
    <p>
        Based on your answers, your activity is exempt under  
        <a href="http://www.legislation.gov.uk/uksi/2011/409/article/25A" rel="noreferrer noopener" target="_blank">
            Article 25A of the Marine Licence (Exempted Activities) Order 2011 (opens in new tab)</a>.
    </p>
{% elif data['exemption'] == "sample-notification" %}
    <p>
        Based on your answers, your activity is exempt under  
        <a href="https://www.legislation.gov.uk/uksi/2011/409/article/17A" rel="noreferrer noopener" target="_blank">
            Article 17a of the Marine Licensing (Exempted Activities) Order 2011 (opens in new tab)</a>.
    </p>
{% endif %}

{% if data['exemption'] == "pontoon-approval" %}
    {{ govukWarningText({
        text: "Your activity is only exempt on the condition that you provide further information and wait for approval before starting.",
        iconFallbackText: "Warning"
    }) }}
{% elif (data['exemption'] == "pontoon-notification" or data['exemption'] == "sample-notification" or data['exemption'] == "") %}
    {{ govukWarningText({
        text: "Your activity is only exempt on the condition that you provide further information before starting.",
        iconFallbackText: "Warning"
    }) }}
{% endif %}
		<h2 class="govuk-heading-m">Send your information using our new service</h2>

		<p>This is a 'beta' service - <a href="https://www.gov.uk/help/beta" rel="noreferrer noopener" target="_blank">find out what this means for you (opens in new tab)</a>.</p>

		<p>To use the service, you’ll need:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>details of the site where the activity will take place</li>
			<li>information about what the activity involves</li>
			<li>start and end dates for your activity</li>
		</ul>

		<p>You'll also need a Defra account to send this information. Sign in or create one using Government Gateway. You can set up a Government Gateway account in the next step if needed.</p>

		<a href="../exemption/sign-in.html" class="govuk-button" role="button">Continue to the new service</a>

		<p>
			{% if data['exemption'] == "pontoon-approval" %}
			<a href="/public/downloads/approval-pontoon-answers.pdf" rel="noreferrer noopener" target="_blank">
			{% elif data['exemption'] == "pontoon-notification" %}
			<a href="/public/downloads/notification-pontoon-answers.pdf" rel="noreferrer noopener" target="_blank">
			{% elif data['exemption'] == "sample-notification" or data['exemption'] == "" %}
			<a href="/public/downloads/notification-sample-answers.pdf" rel="noreferrer noopener" target="_blank">
			{% endif %}
			Download a PDF of your answers</a>
		</p>

		<h2 class="govuk-heading-m govuk-!-margin-top-8">If you've used the original service before</h2>
		<p>Sign in to the Marine Case Management System to view or manage information you've sent us in that system. This will not appear in the new service.</p>

	</div>
</div>
{% endblock %}