{% extends "../layouts/main.html" %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    List of sites
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
          {{ pageHeadingTextHTML }}
        </h1>

        {% if data['showsite1'] == "true" %}

            {{
                govukSummaryList
                ({
                    rows:
                    [
                        {
                            key:
                            {
                                text: "File uploaded"
                            },
                            value:
                            {
                                text: "" +  data['sites-upload-perimeter-file-upload']
                            },
                            actions:
                            {
                                items:
                                [
                                    {
                                        href: "check-answers?sites-coordinates-file-or-not-radios-yes-no=Yes&",
                                        text: "View",
                                        visuallyHiddenText: "View"
                                    }
                                ]
                            }
                        }
                    ]
                })
            }}
        {% endif %}

        {% if data['showsite2'] == "true" %}

            {{
                govukSummaryList
                ({
                    rows:
                    [
                        {
                            key:
                            {
                                text: "Circle"
                            },
                            value:
                            {
                                text:  data['sites-circle-width-number-input'] + " meters wide"
                            },
                            actions:
                            {
                                items:
                                [
                                    {
                                        href: "check-answers?sites-coordinates-file-or-not-radios-yes-no=No&sites-shape-type-radios=Circle&",
                                        text: "View",
                                        visuallyHiddenText: "View"
                                    }
                                ]
                            }
                        }
                    ]
                })
            }}

        {% endif %}


        {% if data['showsite3'] == "true" %}

            {{
                govukSummaryList
                ({
                    rows:
                    [
                        {
                            key:
                            {
                                text: "Square"
                            },
                            value:
                            {
                                text:  data['sites-square-width-number-input'] + " meters wide"
                            },
                            actions:
                            {
                                items:
                                [
                                    {
                                        href: "check-answers?sites-coordinates-file-or-not-radios-yes-no=No&sites-shape-type-radios=Square&",
                                        text: "View",
                                        visuallyHiddenText: "View"
                                    }
                                ]
                            }
                        }
                    ]
                })
            }}

        {% endif %}


        <!-- go to routes.js for routing  -->
        {% if  data['showsite1'] == "true"  or  data['showsite2'] == "true"  or  data['showsite3'] == "true"  %}


            <form action="add-site-router" method="post" novalidate>
                {{
                    govukButton
                    ({
                        text: "Add site",
                        classes: "govuk-button--secondary"
                    })
                }}
            </form>

            {{
                govukButton
                ({
                    text: "Continue",
                    href: "../tasklist"
                })
            }}

        {% else %}
            <form action="add-site-router" method="post" novalidate>
                {{ govukButton({ text: "Add site" }) }}
            </form>

            {{
                govukButton
                ({
                    text: "Continue",
                    classes: "govuk-button--secondary",
                    href: "../tasklist"
                })
            }}

        {% endif %}




    </div>


</div>


{% endblock %}
