{% extends "../../layouts/low-complexity-v2.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

{% set pageHeadingTextHTML %}
South Underwater noise 2 (S-UWN-2)
{% endset %}

{% block pageTitle %}
{% if data['errorthispage'] == "true" %}
Error:
{% endif %}
{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% set emptyTextareas = data['marine-plan-policy-s-uwn-2-empty-textareas'] or [] %}
{% set avoidTextarea %}
{{ govukTextarea({
    id: "marine-plan-policy-s-uwn-2-avoid",
    name: "marine-plan-policy-s-uwn-2-avoid",
    value: data['marine-plan-policy-s-uwn-2-avoid'],
    rows: 5,
    label: {
        text: "Summarise how you will avoid the impacts"
    },
    errorMessage: {
        text: "Enter how you will avoid any impacts"
    } if data['errortypetwo'] == "true" and emptyTextareas.indexOf('avoid') > -1
}) }}
{% endset %}

{% set minimiseTextarea %}
{{ govukTextarea({
    id: "marine-plan-policy-s-uwn-2-minimise",
    name: "marine-plan-policy-s-uwn-2-minimise",
    value: data['marine-plan-policy-s-uwn-2-minimise'],
    rows: 5,
    label: {
        text: "Summarise how you will minimise the impacts"
    },
    errorMessage: {
        text: "Enter how you will minimise any impacts"
    } if data['errortypetwo'] == "true" and emptyTextareas.indexOf('minimise') > -1
}) }}
{% endset %}

{% set mitigateTextarea %}
{{ govukTextarea({
    id: "marine-plan-policy-s-uwn-2-mitigate",
    name: "marine-plan-policy-s-uwn-2-mitigate",
    value: data['marine-plan-policy-s-uwn-2-mitigate'],
    rows: 5,
    label: {
        text: "Summarise how you will mitigate the impacts"
    },
    errorMessage: {
        text: "Enter how you will mitigate any impacts"
    } if data['errortypetwo'] == "true" and emptyTextareas.indexOf('mitigate') > -1
}) }}
{% endset %}

{% set compensateTextarea %}
{{ govukTextarea({
    id: "marine-plan-policy-s-uwn-2-compensate",
    name: "marine-plan-policy-s-uwn-2-compensate",
    value: data['marine-plan-policy-s-uwn-2-compensate'],
    rows: 5,
    label: {
        text: "Summarise how you will compensate for the impacts. If you will not be compensating for the impacts, use this section to state the case for proceeding."
    },
    errorMessage: {
        text: "Enter how you will compensate for the impacts (or state the case for proceeding)"
    } if data['errortypetwo'] == "true" and emptyTextareas.indexOf('compensate') > -1
}) }}
{% endset %}

{% set howValues = data['marine-plan-policy-s-uwn-2-how'] or [] %}
{% set errorList = data['marine-plan-policy-s-uwn-2-error-list'] or [] %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['errorthispage'] == "true" and errorList | length > 0 %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorList
		}) }}
		{% endif %}

		<form action="south-underwater-noise-2-router" method="post" novalidate>

			<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
			<h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

			<h2 class="govuk-heading-m">Policy information</h2>
			<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p class="govuk-body"><a href="#" class="govuk-link">Find out more about this policy (opens in new tab)</a></p>

			<div class="govuk-form-group {% if data['errorthispage'] == 'true' and data['errortypeone'] == 'true' %}govuk-form-group--error{% endif %}">
				{{ govukCheckboxes({
					name: "marine-plan-policy-s-uwn-2-how",
					fieldset: {
						legend: {
							text: "Select how you will manage the impacts of the project in relation to this policy",
							classes: "govuk-fieldset__legend--s"
						}
					},
					hint: {
						text: "Select all that apply"
					},
					errorMessage: {
						text: "Select how you will manage the impacts of your project in relation to this policy"
					} if data['errortypeone'] == "true",
					items: [
						{
							id: "marine-plan-policy-s-uwn-2-how-avoid",
							value: "avoid",
							text: "We will avoid impacts",
							conditional: {
								html: avoidTextarea
							},
							checked: howValues.indexOf('avoid') > -1
						},
						{
							id: "marine-plan-policy-s-uwn-2-how-minimise",
							value: "minimise",
							text: "We will minimise impacts",
							conditional: {
								html: minimiseTextarea
							},
							checked: howValues.indexOf('minimise') > -1
						},
						{
							id: "marine-plan-policy-s-uwn-2-how-mitigate",
							value: "mitigate",
							text: "We will mitigate impacts",
							conditional: {
								html: mitigateTextarea
							},
							checked: howValues.indexOf('mitigate') > -1
						},
						{
							id: "marine-plan-policy-s-uwn-2-how-compensate",
							value: "compensate",
							text: "We will compensate for impacts (or state the case for proceeding)",
							conditional: {
								html: compensateTextarea
							},
							checked: howValues.indexOf('compensate') > -1
						}
					]
				}) }}
			</div>

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Save and continue"
				}) }}
			</div>

		</form>

	</div>
</div>

{% endblock %}
