{% extends "layouts/main.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Type/customise the error messages after '% set errorTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_NUMBER" with whatever you named this page/file.
5. Go to the javascript file 'templates.js' and copy the section 'NUMBER ENTRY' into your routes.js file.
6. Follow instructions at the top of the 'templates.js'.
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    How many metres wide is the line?
{% endset %}


<!-- Set the text for each error type -->
{% set errorTextHTML %}
    <!-- Error 1 - If answer is not a number when it should be -->
    {%  if  data['errortypeone'] == "true"  %}
        The width must be a number

    <!-- Error 2 - If answer is not a whole number -->
    {% elif data['errortypetwo'] == "true"  %}
        The width must be a whole number

    <!-- Error 3 - If answer (number) is 0 -->
    {% elif data['errortypethree'] == "true"  %}
        PLACEHOLDER must be more than 0

    <!-- Error 4 - If answer (number) is less than 0 (negative) -->
    {% elif data['errortypefour'] == "true"  %}
        The width must not be a negative number

    {%  endif  %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#sites-line-width-number-input"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="line-width-router" method="post" novalidate>

            {{ govukInput
                ({
                    label:
                    {
                        html: pageHeadingTextHTML,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },

                    id: "sites-line-width-number-input",

                    name: "sites-line-width-number-input",

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    value: data['sites-line-width-number-input'],

                    classes: "govuk-input--width-2"
                })
            }}


            {{ govukButton({ text: "Continue" }) }}


        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 1 - If answer is not a number when it should be</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] == 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 2 - If answer is not a whole number</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=true&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] == 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 3 - If answer (number) is 0</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=true&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] == 'true'  and  data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 4 - If answer (number) is less than 0 (negative)</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->


{% endblock %}





