{% extends "../../layouts/exemption.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Enter the coordinates at the centre point of the site
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Setting the smaller secondary headings based on site-specific coordinate system -->
        {% set questionHeadingTextOneHTML %}
            {% if data['single-site-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['single-site-coordinate-system-radios'] %}
            Latitude
            {% elif data['single-site-coordinate-system-radios'] == "OSGB36 (National Grid)" %}
            Eastings
            {% endif %}
        {% endset %}

        {% set questionHeadingTextTwoHTML %}
            {% if data['single-site-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['single-site-coordinate-system-radios'] %}
            Longitude
            {% elif data['single-site-coordinate-system-radios'] == "OSGB36 (National Grid)" %}
            Northings
            {% endif %}
        {% endset %}

        <!-- Set the text for each error type -->
        {% set errorTextHTML %}
            Enter the coordinates
        {% endset %}

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% if data['errortypeone'] == "true" %}
                    <li><a href="#single-site-latitude">Enter the {{ questionHeadingTextOneHTML | lower }}</a></li> 
                    {% endif %}
                    {% if data['errortypetwo'] == "true" %}
                    <li><a href="#single-site-longitude">Enter the {{ questionHeadingTextTwoHTML | lower }}</a></li> 
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        <!--  END OF 'error summary' -->

        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
            {% if data['globalSiteCounter'] and data['globalSiteCounter'] > 1 %}
            <span class="govuk-caption-l">Site 1</span>
            {% endif %}
          </h1> 
        

        <form action="enter-centre-point-coordinates-router" method="post" novalidate>

            {% call govukFieldset({
                legend: {
                  html: pageHeadingTextHTML,
                  classes: "govuk-visually-hidden",
                  isPageHeading: false
                }
              }) %}
              
              {% if data['single-site-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['single-site-coordinate-system-radios'] %}
              {% include "../../includes/lat-long-content.html" %}
              {% elif data['single-site-coordinate-system-radios'] == "OSGB36 (National Grid)" %}
              {% include "../../includes/east-north-content.html" %}
              {% endif %}

            {{ govukInput
                ({
                    label:
                    {
                        html: questionHeadingTextOneHTML,
                        classes: "govuk-label",
                        isPageHeading: false
                    },
            
                    autocomplete: "off",

                    id: "single-site-latitude",
            
                    name: "single-site-latitude",
            
                    errorMessage: null if data['errortypeone'] != "true"
                                   else { html: errorTextHTML },
            
                    value: data['single-site-latitude'],
            
                    classes: "govuk-input govuk-!-width-one-half"
                })
            }}

            {{ govukInput
                ({
                    label:
                    {
                        html: questionHeadingTextTwoHTML,
                        classes: "govuk-label",
                        isPageHeading: false
                    },
            
                    autocomplete: "off",

                    id: "single-site-longitude",
            
                    name: "single-site-longitude",
            
                    errorMessage: null if data['errortypetwo'] != "true"
                                   else { html: errorTextHTML },
            
                    value: data['single-site-longitude'],
            
                    classes: "govuk-input govuk-!-width-one-half"
                })
            }}
            {% endcall %}

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}

<!-- Generated by Copilot --> 