{% extends "../../layouts/exemption.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Enter the width of the circular site in metres
{% endset %}

<!-- Set the text for each error type -->
{% set errorTextHTML %}
    {%  if  data['errorthispage'] == "true"  %}
    Enter the width of the circular site in metres
    {%  endif  %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#single-site-width"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

        <!-- go to routes.js for routing  -->
        <form action="site-width-router{% if data['returnTo'] %}?returnTo={{ data['returnTo'] }}{% endif %}" method="post" novalidate>

            {% if data['errorthispage'] == "true" %}
            <div class="govuk-form-group govuk-form-group--error">
            {% else %}
            <div class="govuk-form-group">
            {% endif %}
            
                <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
                <h1 class="govuk-heading-l">
                    {{ pageHeadingTextHTML }}
                    {% if data['globalSiteCounter'] and data['globalSiteCounter'] > 1 %}
                    <span class="govuk-caption-l">Site 1</span>
                    {% endif %}
                </h1>
                
                {% if data['errorthispage'] == "true" %}
                <p id="single-site-width-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errorTextHTML }}
                </p>
                {% endif %}
                
                {{ govukInput
                    ({
                        label:
                        {
                            html: pageHeadingTextHTML,
                            classes: "govuk-visually-hidden",
                            isPageHeading: false
                        },

                        autocomplete: "off",

                        id: "single-site-width",

                        name: "single-site-width",

                        value: data['single-site-width'],
                        suffix:
                        {
                            text: "metres"
                        },
                        classes: "govuk-input--width-5" + (" govuk-input--error" if data['errorthispage'] == "true" else ""),
                        
                        formGroup: {
                            classes: "govuk-!-margin-bottom-0"
                        }
                    })
                }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}

<!-- Generated by Copilot --> 