{% extends "../layouts/low-complexity.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Check your answers before sending your application
{% endset %}

<!-- Format start date -->
{% set startDateFormatted %}
{{ data['start-date-day'] }} {{ data['start-date-month'] | toMonth }} {{ data['start-date-year'] }}
{% endset %}

<!-- Format end date -->
{% set endDateFormatted %}
{{ data['end-date-day'] }} {{ data['end-date-month'] | toMonth }} {{ data['end-date-year'] }}
{% endset %}

<!-- Format project duration -->
{% set durationFormatted %}
{% if data['low-complexity-duration-years'] | int > 0 and data['low-complexity-duration-months'] | int > 0 %}
{{ data['low-complexity-duration-years'] }} year{% if data['low-complexity-duration-years'] | int != 1 %}s{% endif %}, {{ data['low-complexity-duration-months'] }} month{% if data['low-complexity-duration-months'] | int != 1 %}s{% endif %}
{% elif data['low-complexity-duration-years'] | int > 0 %}
{{ data['low-complexity-duration-years'] }} year{% if data['low-complexity-duration-years'] | int != 1 %}s{% endif %}
{% elif data['low-complexity-duration-months'] | int > 0 %}
{{ data['low-complexity-duration-months'] }} month{% if data['low-complexity-duration-months'] | int != 1 %}s{% endif %}
{% endif %}
{% endset %}

<!-- Format site activity duration -->
{% set siteDurationFormatted %}
{% set durationParts = [] %}
{% if data['low-complexity-site-duration-years'] and data['low-complexity-site-duration-years'] != '0' %}
{% set durationParts = (durationParts.push(data['low-complexity-site-duration-years'] + ' ' + ('year' if data['low-complexity-site-duration-years'] == '1' else 'years')), durationParts) %}
{% endif %}
{% if data['low-complexity-site-duration-months'] and data['low-complexity-site-duration-months'] != '0' %}
{% set durationParts = (durationParts.push(data['low-complexity-site-duration-months'] + ' ' + ('month' if data['low-complexity-site-duration-months'] == '1' else 'months')), durationParts) %}
{% endif %}
{% if data['low-complexity-site-duration-weeks'] and data['low-complexity-site-duration-weeks'] != '0' %}
{% set durationParts = (durationParts.push(data['low-complexity-site-duration-weeks'] + ' ' + ('week' if data['low-complexity-site-duration-weeks'] == '1' else 'weeks')), durationParts) %}
{% endif %}
{{ durationParts | join(', ') if durationParts.length > 0 else 'Not provided' }}
{% endset %}

<!-- Format type of activity -->
{% set typeOfActivityFormatted %}
{% if data['low-complexity-type-of-activity'] == 'construction' %}
{% if data['low-complexity-type-of-works'] %}
{% if data['low-complexity-type-of-works'] == 'construction-new' %}Construction of new works
{% elif data['low-complexity-type-of-works'] == 'maintenance-existing' %}Maintenance of existing works
{% elif data['low-complexity-type-of-works'] == 'alteration-improvement' %}Alteration or improvement, including extending, of existing marine works
{% endif %}
{% endif %}
{% if data['low-complexity-construction-structures'] and data['low-complexity-construction-structures'].length > 0 %}
<br><br>{% if data['low-complexity-type-of-works'] == 'construction-new' %}What you're constructing{% elif data['low-complexity-type-of-works'] == 'maintenance-existing' %}What you're maintaining{% elif data['low-complexity-type-of-works'] == 'alteration-improvement' %}What you're altering or improving{% endif %}:
<ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
{% for structure in data['low-complexity-construction-structures'] %}
<li>
{% if structure == 'jetty-pier-quay' %}Jetty, pier or quay
{% elif structure == 'slipway-boat-ramp' %}Slipway or boat ramp
{% elif structure == 'sea-wall-coastal-wall' %}Sea wall or coastal wall
{% elif structure == 'revetment' %}Revetment (sloped coastal protection)
{% elif structure == 'groyne' %}Groyne
{% elif structure == 'breakwater-mole-harbour' %}Breakwater, mole or harbour protection structure
{% elif structure == 'bridge-supports' %}Bridge or bridge supports in tidal waters
{% elif structure == 'causeway-embankment' %}Causeway, embankment or coastal access ramp
{% elif structure == 'pontoons-walkways' %}Pontoons or floating walkways
{% elif structure == 'floating-breakwaters' %}Floating breakwaters or wave attenuators
{% elif structure == 'piles-piled-structures' %}Piles or piled structures
{% elif structure == 'foundations-platforms' %}Foundations for offshore platforms or similar structures
{% elif structure == 'artificial-reefs' %}Artificial reefs or habitat structures
{% elif structure == 'hard-coastal-defence' %}Hard coastal defence structures such as rock armour or concrete units
{% elif structure == 'tidal-flood-defence' %}Tidal flood defence structures (e.g., flood barriers, tidal gates, sluices)
{% elif structure == 'outfalls-diffusers' %}Outfalls or diffusers
{% elif structure == 'intakes' %}Intakes
{% elif structure == 'pipelines-ducts' %}Pipelines or ducts
{% elif structure == 'subsea-cables' %}Subsea cables requiring protective construction
{% elif structure == 'culverts-channels' %}Culverts or constructed tidal channels
{% elif structure == 'tidal-energy-devices' %}Tidal energy devices or foundations
{% elif structure == 'wave-energy-foundations' %}Wave energy device foundations
{% elif structure == 'offshore-wind-foundations' %}Fixed offshore wind foundations
{% elif structure == 'aquaculture-piled-structures' %}Piled or fixed aquaculture structures
{% elif structure == 'aquaculture-trestles' %}Aquaculture trestles or fixed walkways
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% elif data['low-complexity-type-of-activity'] == 'deposit' %}
Deposit of any substance or object
{% elif data['low-complexity-type-of-activity'] == 'removal' %}
Removal of any substance or object
{% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		{{ govukSummaryList({
			card: {
				title: {
					text: "Project details"
				}
			},
			rows: [
				{
					key: {
						text: "Project name"
					},
					value: {
						text: data['low-complexity-project-name-text-input']
					},
					actions: {
						items: [
							{
								href: "project-name",
								text: "Change",
								visuallyHiddenText: "project name",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Project background"
					},
					value: {
						text: data['low-complexity-project-background']
					},
					actions: {
						items: [
							{
								href: "project-details/project-background",
								text: "Change",
								visuallyHiddenText: "project background",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Duration of project"
					},
					value: {
						html: durationFormatted | trim
					},
					actions: {
						items: [
							{
								href: "project-details/duration",
								text: "Change",
								visuallyHiddenText: "duration of project",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Dates of marine works"
					},
					value: {
						html: (startDateFormatted | trim) + " to " + (endDateFormatted | trim)
					},
					actions: {
						items: [
							{
								href: "project-details/dates-of-marine-works",
								text: "Change",
								visuallyHiddenText: "dates of marine works",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Cost of marine works"
					},
					value: {
						text: "£" + (data['low-complexity-cost'] | addCommas)
					},
					actions: {
						items: [
							{
								href: "project-details/cost-of-marine-works",
								text: "Change",
								visuallyHiddenText: "cost of marine works",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				}
			]
		}) }}

		<!-- Providing the site location card -->
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					Providing the site location
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link govuk-link--no-visited-state" href="site-details/review-site-details">
							Change<span class="govuk-visually-hidden"> providing the site location</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Method of providing site location
						</dt>
						<dd class="govuk-summary-list__value">
							File upload
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							File type
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['low-complexity-file-type'] == 'kml' %}
								KML
							{% elif data['low-complexity-file-type'] == 'shapefile' %}
								Shapefile
							{% else %}
								Shapefile
							{% endif %}
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							File uploaded
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['low-complexity-file-type'] == 'kml' %}
								my-site-location.kml
							{% else %}
								my-site-location.zip
							{% endif %}
						</dd>
					</div>
				</dl>
			</div>
		</div>

		<!-- Site 1 details card -->
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					Site 1 details
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link govuk-link--no-visited-state" href="site-details/review-site-details">
							Change<span class="govuk-visually-hidden"> site 1 details</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Site name
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['low-complexity-site-name'] }}
						</dd>
					</div>
					
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key map-label">
							Map view
						</dt>
						<dd class="govuk-summary-list__value">
							<img src="/public/images/map-5-points.jpg" alt="Map showing site 1 location" />
						</dd>
					</div>

					<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
						<dt class="govuk-summary-list__key">
							Type of activity
						</dt>
						<dd class="govuk-summary-list__value">
							{{ typeOfActivityFormatted | safe }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Activity description
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['low-complexity-activity-description'] }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Duration of activity
						</dt>
						<dd class="govuk-summary-list__value">
							{{ siteDurationFormatted | trim }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Activity schedule
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['low-complexity-schedule'] }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Possible impacts of the activity and ways to reduce them
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['low-complexity-impacts'] }}
						</dd>
					</div>
				</dl>
			</div>
		</div>

	</div>
</div>
{% endblock %}

