{% extends "../layouts/low-complexity.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Check your answers before sending your application
{% endset %}

<!-- Format start date -->
{% set startDateFormatted %}
{{ data['start-date-day'] }} {{ data['start-date-month'] | toMonth }} {{ data['start-date-year'] }}
{% endset %}

<!-- Format end date -->
{% set endDateFormatted %}
{{ data['end-date-day'] }} {{ data['end-date-month'] | toMonth }} {{ data['end-date-year'] }}
{% endset %}

<!-- Format duration -->
{% set durationFormatted %}
{% if data['low-complexity-duration-years'] | int > 0 and data['low-complexity-duration-months'] | int > 0 %}
{{ data['low-complexity-duration-years'] }} year{% if data['low-complexity-duration-years'] | int != 1 %}s{% endif %}, {{ data['low-complexity-duration-months'] }} month{% if data['low-complexity-duration-months'] | int != 1 %}s{% endif %}
{% elif data['low-complexity-duration-years'] | int > 0 %}
{{ data['low-complexity-duration-years'] }} year{% if data['low-complexity-duration-years'] | int != 1 %}s{% endif %}
{% elif data['low-complexity-duration-months'] | int > 0 %}
{{ data['low-complexity-duration-months'] }} month{% if data['low-complexity-duration-months'] | int != 1 %}s{% endif %}
{% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		{{ govukSummaryList({
			card: {
				title: {
					text: "Project details"
				}
			},
			rows: [
				{
					key: {
						text: "Project name"
					},
					value: {
						text: data['low-complexity-project-name-text-input']
					},
					actions: {
						items: [
							{
								href: "project-name",
								text: "Change",
								visuallyHiddenText: "project name",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Project background"
					},
					value: {
						text: data['low-complexity-project-background']
					},
					actions: {
						items: [
							{
								href: "project-details/project-background",
								text: "Change",
								visuallyHiddenText: "project background",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Duration of project"
					},
					value: {
						html: durationFormatted | trim
					},
					actions: {
						items: [
							{
								href: "project-details/duration",
								text: "Change",
								visuallyHiddenText: "duration of project",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Dates of marine works"
					},
					value: {
						html: (startDateFormatted | trim) + " to " + (endDateFormatted | trim)
					},
					actions: {
						items: [
							{
								href: "project-details/dates-of-marine-works",
								text: "Change",
								visuallyHiddenText: "dates of marine works",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				},
				{
					key: {
						text: "Cost of marine works"
					},
					value: {
						text: "£" + (data['low-complexity-cost'] | addCommas)
					},
					actions: {
						items: [
							{
								href: "project-details/cost-of-marine-works",
								text: "Change",
								visuallyHiddenText: "cost of marine works",
								classes: "govuk-link--no-visited-state"
							}
						]
					}
				}
			]
		}) }}

	</div>
</div>
{% endblock %}

