{% extends "../../layouts/low-complexity.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
How long will the total project take?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['errorthispage'] == "true" %}
Error:
{% endif %}

{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['errorthispage'] == "true" %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
			data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% if data['errorthispage'] == "true" %}
					<li><a href="#low-complexity-duration-years">Enter how long the total project will take</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}

		<!--  END OF 'error summary' -->

		<form action="duration-router" method="post" novalidate>

			<div class="govuk-form-group {% if data['errorthispage'] == 'true' %}govuk-form-group--error{% endif %}">
				<fieldset class="govuk-fieldset" {% if data['errorthispage'] == "true" %}aria-describedby="duration-error"{% endif %}>
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
							{{ pageHeadingTextHTML }}
						</h1>
					</legend>

					<!-- <p class="govuk-body">For example, if you're constructing a pontoon this includes the time it would take if you need to do a survey and provide reports as well as the construction activity.</p> -->

					{% if data['errorthispage'] == "true" %}
					<p id="duration-error" class="govuk-error-message">
						<span class="govuk-visually-hidden">Error:</span> Enter how long the total project will take
					</p>
					{% endif %}

					<fieldset class="govuk-fieldset" role="group">
						<legend class="govuk-fieldset__legend govuk-visually-hidden">
							{{ pageHeadingTextHTML }}
						</legend>
						<div class="govuk-date-input" id="duration">
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="low-complexity-duration-years">
										Years
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if data['errortypeone'] == 'true' %}govuk-input--error{% endif %}" 
										id="low-complexity-duration-years" 
										name="low-complexity-duration-years" 
										type="text" 
										inputmode="numeric"
										value="{{ data['low-complexity-duration-years'] }}">
								</div>
							</div>
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="low-complexity-duration-months">
										Months
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if data['errortypetwo'] == 'true' %}govuk-input--error{% endif %}" 
										id="low-complexity-duration-months" 
										name="low-complexity-duration-months" 
										type="text" 
										inputmode="numeric"
										value="{{ data['low-complexity-duration-months'] }}">
								</div>
							</div>
						</div>
					</fieldset>
				</fieldset>
			</div>

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Save and continue"
				}) }}

				{% if data['camefromcheckanswers'] != 'true' %}
				<a class="govuk-link govuk-link--no-visited-state" href="javascript:history.back()">Cancel</a>
				{% endif %}
			</div>

		</form>

	</div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

	<select style="height:30px;" onchange="window.location.href='?'+this.value">

		<option
			value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
			{% if data['errorthispage'] !="true" %}selected{% endif %}>Errors - Off</option>

		<option
			value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
			{% if data['errortypeone']=='true' and data['errortypetwo'] !='true' and data['errortypethree'] !='true' and
			data['errortypefour'] !='true' and data['errortypefive'] !='true' and data['errortypesix'] !='true'
			%}selected{% endif %}>Error 1 - Years missing</option>

		<option
			value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
			{% if data['errortypeone']!='true' and data['errortypetwo'] =='true' and data['errortypethree'] !='true' and
			data['errortypefour'] !='true' and data['errortypefive'] !='true' and data['errortypesix'] !='true'
			%}selected{% endif %}>Error 2 - Months missing</option>

		<option
			value="errorthispage=true&errortypeone=true&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
			{% if data['errortypeone']=='true' and data['errortypetwo'] =='true' and data['errortypethree'] !='true' and
			data['errortypefour'] !='true' and data['errortypefive'] !='true' and data['errortypesix'] !='true'
			%}selected{% endif %}>Error 3 - Both missing</option>

	</select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}
