{% extends "../layouts/exemption.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
{% endblock %}


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeadingTextHTML %}
  {% if data['applicationSubmitted'] == "true" %}
    {{ data['exemption-project-name-text-input'] }}
  {% else %}
  EXE/2025/00004 – Exempt activity – South coast sea samples	
  {% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
  
	  
		<!-- Caption but no reference-->
		<span class="govuk-caption-l">EXE/2025/00004 – Exempt activity</span>
	  
	  
	  <h1 class="govuk-heading-l">
		
	
	  South coast sea samples
	
  
	  </h1>
  
	  <!-- Applicant details section -->
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Applicant details
		  </h2>
		</div>

		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Name
			  </dt>
			  <dd class="govuk-summary-list__value">
				Joe Bloggs
			  </dd>
			</div>

			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Email address
			  </dt>
			  <dd class="govuk-summary-list__value">
				joe.bloggs@email.com
			  </dd>
			</div>

			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Telephone number
			  </dt>
			  <dd class="govuk-summary-list__value">
				0777 7777 777
			  </dd>
			</div>

			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Address
			  </dt>
			  <dd class="govuk-summary-list__value">
				1 The Parade<br>
				Southtown<br>
				Southernshire<br>
				SO1 1AA
			  </dd>
			</div>
		  </dl>
		</div>
	  </div>
	  <!-- End of applicant details section -->

	  <!-- Project summary section -->
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Project summary
		  </h2>
		</div>
  
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
  
			<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Type of activity
		  </dt>
		  <dd class="govuk-summary-list__value">
			Removal of a substance or object
		  </dd>
		</div>
  
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			The purpose of the activity
		  </dt>
		  <dd class="govuk-summary-list__value">
			Scientific research
		  </dd>
		</div>
  
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			What the activity involves
		  </dt>
		  <dd class="govuk-summary-list__value">
			Samples for testing and analysis
		  </dd>
		</div>
	  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		<dt class="govuk-summary-list__key">
			The applicant's answers from 'Check if you need a marine licence'  
		</dt>
		<dd class="govuk-summary-list__value">
		  <p><a href="/public/downloads/notification-sample-answers.pdf" rel="noreferrer noopener" target="_blank">Download a copy of their answers (PDF)</a></p>  
		</dd>
	  </div>
	  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		<dt class="govuk-summary-list__key">
		  Why this activity is exempt
		</dt>
		<dd class="govuk-summary-list__value">
			Based on the applicant's answers, their activity is exempt under <a href="https://www.legislation.gov.uk/uksi/2011/409/article/17A" rel="noreferrer noopener" target="_blank">Article 17A of the Marine Licensing (Exempted Activities) Order 2011 (opens in new tab)</a> 
		</dd>
  
	  </div>
		  </dl>
		</div>
	  </div>
	  <!-- End of project summary section -->
  
	  <!-- Check if we have file upload sites to show additional cards -->
	  
	  
		
		  
		
		  
		
	  
  
	  <!-- Providing site location card - only for file upload sites -->
	  
  
	  <!-- Check if we have manual entry sites to show additional cards -->
	  
	  
	  
		
		  
			
			
			  
			
		  
		
		  
			
			
		  
		
	  
  
	  <!-- Determine if this is a single site journey (define early for use in manual entry cards) -->
	  
  
	  <!-- Providing site location card - only for manual entry single sites -->
	  
  
	  <!-- Providing site location card - only for manual entry multiple sites -->
	  
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Providing the site location
		  </h2>
		  
		  
		</div>
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Method of providing site location
			  </dt>
			  <dd class="govuk-summary-list__value">
				Enter the coordinates of the site manually
			  </dd>
			</div>
		  </dl>
		</div>
	  </div>
  
	  <!-- Activity details card - only for manual entry multiple sites -->
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Activity details
		  </h2>
		  
		  
		</div>
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Are the activity dates the same for every site?
			  </dt>
			  <dd class="govuk-summary-list__value">
				  Yes
			  </dd>
			</div>
			
			
			
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Activity dates
			  </dt>
			  <dd class="govuk-summary-list__value">
				
				  6 August 2025 to 10 August 2025
				
			  </dd>
			</div>
			
			
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Is the activity description the same for every site?
			  </dt>
			  <dd class="govuk-summary-list__value">
				
				  Yes
				
			  </dd>
			</div>
			
			
			
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Activity description
			  </dt>
			  <dd class="govuk-summary-list__value">
				
				  Collect a 0.1 cubic metre seabed sample by day grab from a workboat for particle size analysis
				
			  </dd>
			</div>
			
		  </dl>
		</div>
	  </div>
	  
  
	  <!-- Dynamic site cards using a loop -->
	  
		
		
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">
				
				  Site 1 details
				
			  </h2>
			  
			  
			  
			</div>
  
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				
				<!-- File upload sites -->
				
  
				  <!-- Only show site name for multiple site journeys -->
				  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Site name
					</dt>
					<dd class="govuk-summary-list__value">
					  Worthing sample
					</dd>
				  </div>
				  
  
				  <!-- Only show activity dates if they are different for each site OR if single site -->
				  
  
				  <!-- Only show activity description if they are different for each site OR if single site -->
				  
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Method of entering the coordinates
					</dt>
					<dd class="govuk-summary-list__value">
					  Manually enter one set of coordinates and a width to create a circular site
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Coordinate system
					</dt>
					<dd class="govuk-summary-list__value">
					  WGS84 (World Geodetic System 1984)
					  <br>
					  
						Latitude and longitude
					  
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Coordinates at centre of site
					</dt>
					<dd class="govuk-summary-list__value">
					  50.800994, -0.371437
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Width of circular site
					</dt>
					<dd class="govuk-summary-list__value">
					  25 metres
					</dd>
				  </div>
  
				<!-- Manual polygon sites -->
				
  
			  </dl>
  
			  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
				  <dt class="govuk-summary-list__key">
					Map view
				  </dt>
				  <dd></dd>
				</div>
			  </dl>
  
			  
			  
			  <img src="/public/images/worthing-map-circle-copy.jpg" alt="Map showing site 1 location" style="width: 100%;">
			</div>
		  </div>
		
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">
				
				  Site 2 details
				
			  </h2>
			  
			  
			  
			</div>
  
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				
				<!-- File upload sites -->
				
  
				  <!-- Only show site name for multiple site journeys -->
				  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Site name
					</dt>
					<dd class="govuk-summary-list__value">
					  Brighton sample
					</dd>
				  </div>
				  
  
				  <!-- Only show activity dates if they are different for each site OR if single site -->
				  
  
				  <!-- Only show activity description if they are different for each site OR if single site -->
				  
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Method of entering the coordinates
					</dt>
					<dd class="govuk-summary-list__value">
					  Manually enter one set of coordinates and a width to create a circular site
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Coordinate system
					</dt>
					<dd class="govuk-summary-list__value">
					  WGS84 (World Geodetic System 1984)
					  <br>
					  
						Latitude and longitude
					  
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Coordinates at centre of site
					</dt>
					<dd class="govuk-summary-list__value">
					  50.811008, -0.141790
					</dd>
				  </div>
  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Width of circular site
					</dt>
					<dd class="govuk-summary-list__value">
					  25 metres
					</dd>
				  </div>
  
				<!-- Manual polygon sites -->
				
  
			  </dl>
  
			  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
				  <dt class="govuk-summary-list__key">
					Map view
				  </dt>
				  <dd></dd>
				</div>
			  </dl>
  
			  
			  
			  <img src="/public/images/worthing-map-circle-copy.jpg" alt="Map showing site 2 location" style="width: 100%;">
			</div>
		  </div>
		
	  
	  <!-- End of dynamic site cards -->
  
	  <!-- Public register section -->
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Public register
		  </h2>
		  
		  
		</div>
  
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Information withheld from public register
			  </dt>
			  <dd class="govuk-summary-list__value">
				No
			  </dd>
			</div>
  
			
		  </dl>
		</div>
	  </div>
  
	  
	  
	</div>
  </div>
  

{% endblock %}
<!-- Generated by Copilot -->