{% extends "../layouts/exemption.html" %}
  
{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work"
}) }}
{% endblock %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['applicationSubmitted'] == "true" %}
    {% else %}
    <a class="govuk-back-link" href="task-list.html" style="margin-bottom: 0;">Go back to your project</a>
    {% endif %}
    
{% endblock %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">	EXE/2025/00005 – Exempt activity</span>
      {{ data['exemption-project-name-text-input'] }}
    </h1>
      
	  <!--Start of Applicant details-->
	  <div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Applicant details
		  </h2>
		</div>
		<div class="govuk-summary-card__content">
  
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Name
		  </dt>
		  <dd class="govuk-summary-list__value">
			Joe Bloggs
		  </dd>
			
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
			  Email address
			</dt>
			<dd class="govuk-summary-list__value">
			  joe.bloggs@email.com
			</dd>
			  
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
			  Telephone number
			</dt>
			<dd class="govuk-summary-list__value">
			  0777 7777 777
			</dd>
			  
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
			  Address
			</dt>
			<dd class="govuk-summary-list__value">
			1 The Parade<br>
			Southtown<br>
			Southernshire<br>
			SO1 1AA 	
			</dd>			  
		  </div>
		</dl>
		</div>
		</div>

	<!-- Project summary section -->	
	<div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			Project summary
		  </h2>
		</div>
  
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
  
			
			<!-- Don't display Project name if already submitted as it is now the H1-->
			
  
			<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Type of activity
		  </dt>
		  <dd class="govuk-summary-list__value">
			Removal of a substance or object
		  </dd>
		</div>
  
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			The purpose of the activity
		  </dt>
		  <dd class="govuk-summary-list__value">
			Scientific research
		  </dd>
		</div>
  
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			What the activity involves
		  </dt>
		  <dd class="govuk-summary-list__value">
			Samples for testing and analysis
		  </dd>
		</div>

		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				The applicant's answers from 'Check if you need a marine licence'  
			</dt>
			<dd class="govuk-summary-list__value">
			  <p><a href="/public/downloads/notification-sample-answers.pdf" rel="noreferrer noopener" target="_blank">Download a copy of your answers (PDF)</a></p>  
			  
				
	  
			</dd>
		  </div>


		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		<dt class="govuk-summary-list__key">
		  Why this activity is exempt
		</dt>
		<dd class="govuk-summary-list__value">
			Based on the applicant's answers, their activity is exempt under <a href="https://www.legislation.gov.uk/uksi/2011/409/article/17A" rel="noreferrer noopener" target="_blank">Article 17A of the Marine Licensing (Exempted Activities) Order 2011 (opens in new tab)</a> 
		</dd>
  
	  </div>
  
	  
		  </dl>
		</div>
	  </div>

   
      
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Activity details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
  
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description of activity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['exemption-activity-details-text-area'] }}
          </dd>
        </div>

        <!-- Show pontoon scenario details -->
        {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
          
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            The applicant's answers from 'Check if you need a marine licence'
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/downloads/approval-pontoon-answers.pdf" rel="noreferrer noopener" target="_blank">Download a copy of their answers (PDF)</a> 
          </dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Why this activity is exempt
          </dt>
          <dd class="govuk-summary-list__value">
            Based on the applicant's answers, their activity is exempt under <a href="http://www.legislation.gov.uk/uksi/2011/409/article/25A" rel="noreferrer noopener" target="_blank">Article 25A of the Marine Licence (Exempted Activities) Order 2011 (opens in new tab)</a> 
          </dd>
        </div>

        <!-- Show scientific samples scenario details -->
        {% elif data['exemption'] == "sample-notification" %}
          
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            The applicant's answers from 'Check if you need a marine licence'  
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/downloads/notification-sample-answers.pdf" rel="noreferrer noopener" target="_blank">Download a copy of their answers (PDF)</a>   
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why this activity is exempt
          </dt>
          <dd class="govuk-summary-list__value">
            Based on the applicant's answers, their activity is exempt under  <a href="https://www.legislation.gov.uk/uksi/2011/409/article/17A" rel="noreferrer noopener" target="_blank">Article 17a of the Marine Licensing (Exempted Activities) Order 2011 (opens in new tab)</a> 
          </dd>
    
        </div>

        {% endif %}

      {% if data['applicationSubmitted'] == "true" %}

      {% else %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body">If you need to change any of these answers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>delete this exempt activity information from <a href="home" class="govuk-link--no-visited-state">your projects</a></li>
        <li>restart the process by <a href="#">checking if you need a marine licence</a></li>
      </ul>
      {% endif %}

    </dl>
      </div>
    </div>
    <!-- End of activity details -->

    <!-- Start of site details -->

<!-- Common to all coordinates -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Site details
    </h2>

    {% if data['applicationSubmitted'] == "true" %}

    {% else %}
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="review-location?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Site details</span></a>
      </li>
    </ul>
    {% endif %}

  </div>
  <div class="govuk-summary-card__content">

<dl class="govuk-summary-list">

<!-- End of common to all coordinates-->

<!-- Start of upload file -->
{% if data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] == "Upload a file with the coordinates of the site"  %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Method of providing site location
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] }}
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    File type
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-which-type-of-file-radios'] }}
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    File uploaded
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data['exemption-which-type-of-file-radios'] == "KML" %}
      coordinates.kml
    {% elif data['exemption-which-type-of-file-radios'] == "Shapefile" %}
      coordinates.shp
    {% endif %}
  </dd>
</div>

</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
  <dd></dd>
</div>
</dl>  

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}

</div>
</div>

{% endif %}
<!-- End of upload file -->

<!-- Start of enter coordinates manually -->

<!-- Start of entering square or circle coordinates -->
{% if data['exemption-how-do-you-want-to-provide-the-coordinates-radios'] == "Enter the coordinates of the site manually"  %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Method of providing site location
  </dt>
  <dd class="govuk-summary-list__value">
        Manually <span style="text-transform: lowercase;">{{ data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] }}</span>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Coordinate system
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-what-coordinate-system-radios'] }}<br> 
        {% if data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter multiple sets of coordinates to mark the boundary of the site" or
        data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter one set of coordinates and a width to create a circular site" or
        data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a square and its width" %}
          
        {% if data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" or not data['exemption-what-coordinate-system-radios'] %} Latitude and longitude
        
        {% elif data['exemption-what-coordinate-system-radios'] == "British National Grid (OSGB36)" %} Eastings and Northings

        {% endif %}
         
        {% endif %}
  </dd>
  
</div>

<!-- Start of it's a circle -->
{% if data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter one set of coordinates and a width to create a circular site" %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Coordinates at centre of site
  </dt>
  <dd class="govuk-summary-list__value">
   {{ data['exemption-enter-the-coordinates-at-the-centre-point-latitude-text-input'] }}, {{ data['exemption-enter-the-coordinates-at-the-centre-point-longitude-text-input'] }}
  </dd>
  
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Width of circular site
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-width-of-site-number-input'] }} metres
  </dd>
  
</div>
</dl>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
  
</div>
</dl>   

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-circle.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-circle.jpg" alt="Map view" style="width: 100%;">
{% endif %}

<!-- End of it's a circle -->

<!-- Start of it's a square -->
{% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter the centre point of a square and its width" %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What are the coordinates of the centre of the square?
  </dt>
  <dd class="govuk-summary-list__value">
   {{ data['exemption-what-are-the-coordinates-of-the-square-latitude-text-input'] }}, {{ data['exemption-what-are-the-coordinates-of-the-square-longitude-text-input'] }}
  </dd>
  
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Width of square
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['exemption-width-of-square-number-input'] }} metres
  </dd>
  
</div>
</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
  <dt class="govuk-summary-list__key">
    Map view
  </dt>
  
</div>
</dl>   

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<img src="/public/images/pontoon-map-square.jpg" alt="Map view" style="width: 100%;">

{% elif data['exemption'] == "sample-notification" %}
<img src="/public/images/worthing-map-square.jpg" alt="Map view" style="width: 100%;">
{% endif %}

<!-- End of square -->

<!-- Start of enter multiple coords -->
{% elif data['exemption-how-do-you-want-to-enter-the-coordinates-radios'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Start and end points
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-1-latitude'] }}, {{ data['coordinates-point-1-longitude'] }}
</dd>

</div>

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 2
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-2-latitude'] }}, {{ data['coordinates-point-2-longitude'] }}
</dd>

</div>

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 3
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-3-latitude'] }}, {{ data['coordinates-point-3-longitude'] }}
</dd>

</div>

<!-- Only display Point 4 if data was entered -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Point 4
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-4-latitude'] }}, {{ data['coordinates-point-4-longitude'] }}
</dd>

</div>
{% endif %}

<!-- Only display Point 5 if data was entered -->
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Point 5
</dt>
<dd class="govuk-summary-list__value">
  {{ data['coordinates-point-5-latitude'] }}, {{ data['coordinates-point-5-longitude'] }}
</dd>

</div>
{% endif %}
</dl>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
  Map view
</dt>

</div>
</dl>  

<!-- Display the correct map depending on the scenario - will default to the pontoon if no data available -->
{% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
<!-- Display the correct map depending on how many points are shown -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
  <img src="/public/images/pontoon-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% else %}
  <img src="/public/images/pontoon-map-4-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% else %}
<img src="/public/images/pontoon-map-3-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}

{% elif data['exemption'] == "sample-notification" %}
<!-- Display the correct map depending on how many points are shown -->
{% if data['coordinates-point-4-latitude'] and data['coordinates-point-4-longitude'] %}
{% if data['coordinates-point-5-latitude'] and data['coordinates-point-5-longitude'] %}
  <img src="/public/images/worthing-map-5-points.jpg" alt="Map view" style="width: 100%;">
{% else %}
  <img src="/public/images/worthing-map-4-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% else %}
<img src="/public/images/worthing-map-3-points.jpg" alt="Map view" style="width: 100%;">
{% endif %}
{% endif %}

{% endif %}
<!-- End of enter multiple coords -->

</div>
</div>
<!-- End of entering square or circle coordinates -->
{% endif %}  

<!-- End of enter coordinates manually -->

<!-- Closing summary card divs and button - common to all -->
</div>
</div>

    <!-- End of site details -->

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Public register
      </h2>

      {% if data['applicationSubmitted'] == "true" %}

      {% else %}
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="sharing-your-information?camefromcheckanswers=true">Change<span class="govuk-visually-hidden"> Information withheld from public register</span></a>
        </li>
      </ul>
      {% endif %}

    </div>
    <div class="govuk-summary-card__content">

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Information withheld from public register
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['exemption-public-register-radios'] }}
      </dd>
    </div>

    {% if data['exemption-public-register-radios'] == "Yes" %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Why the information should be withheld 
      </dt>
      <dd class="govuk-summary-list__value">
      {{ data['exemption-public-register-text-area'] }}
      </dd>

    </div>
    {% endif %}
  </dl>
  </div>
  </div>

  {% if data['applicationSubmitted'] == "true" %}

{% else %}
<form action="check-answers-router" method="post" novalidate>
  <h2 class="govuk-heading-m">Now send your information</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Confirm and send"
        }) }}
  
{% endif %}

      </form>
</div>
</div>

{% endblock %}