{% extends "../layouts/email.html" %}

{% block pageTitle %}
  Email - Confirmation of your marine licence exemption
{% endblock %}

{% block content %}

<style>
.govuk-width-container {
	max-width: 640px;
}
.govuk-main-wrapper {
    padding-top: 10px;
    padding-bottom: 40px;
}
h1 {
	font-size: 36px;
	font-family: Arial,Helvetica;
	color: #000;
}
p {
	font-size: 21px;
	font-family: Arial,Helvetica;
	color: #000;
}
h2 {
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: #000;
}
.govuk-template {
    background-color: #fff;
}
</style>


<h1>Confirmation of your marine licence exemption</h1>

<p>Dear Charlie Smith</p>

<p>Thank you for sending us details of your activity.</p>

<p>Your reference number is EXE/2025/00005.</p>

<p>Based on the answers you gave us, your activity does not need a marine licence.</p>

<h2>What happens next </h2>

<p>You can proceed within the dates you provided.</p>

<p>Make sure your activity matches the details you gave us. If we later find it didn't, we may take enforcement action.</p>

<!--<p>To view the answers you gave us, go to <a href="sign-in.html?goto=projects">https://www.gov.uk/marine-licensing/your-projects</a></p>-->

<p>To view the answers you gave us, go to <a href="sign-in.html?goto=projects">https://www.gov.uk/marine-licensing/your-projects</a></p>

<h2>If details of your activity change</h2>

<p>If any details of your activity change, you'll need to check if it still qualifies for an exemption.</p>

<p>To do this, go to <a href="../check/start.html">https://www.gov.uk/marine-licensing/check-if-you-need-a-marine-licence</a> </p>
	
<p>If your activity is still exempt, you'll need to send us your information again. </p>

<p>From Marine Management Organisation</p>

{% endblock %}
