{% extends "../layouts/exemption.html" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}

<!-- Set a variable to identify this specific page -->
{% set currentPageId = "home" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work",
  navigation: [
    {
      href: "home",
      text: "Projects",
	  active: true
    },
    {
      href: "#",
      text: "Defra account",
      active: false
    },
    {
      href: "/versions/multiple-sites-v2/exemption/sign-in.html?goto=home",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
	  	{% include "../includes/phase-banner.html" %}
    {{ super() }}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Projects
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="page-header-with-button govuk-!-margin-bottom-6">
			<div class="page-header-text-container">
				<span class="govuk-caption-l">{{ data['organisation-name'] }}</span>
				<h1 class="govuk-heading-l page-header-title">
					{{ pageHeadingTextHTML }}
				</h1>
			</div>
			<a href="/versions/multiple-sites-v2/start-improved" role="button" draggable="false" class="govuk-button govuk-button--secondary page-header-button" data-module="govuk-button">
				Create new project
			</a>
		</div>

		{% set isDeleteProject = data['deleteProject'] == "true" or deleteProjectsParam %}
		{% set isTowerBridgeDeleted = data['towerBridgeProjectDeleted'] == "true" %}
		{% set isUserProjectDeleted = data['userProjectDeleted'] == "true" %}
		{% set isAlternativeView = data['alternativeProjectView'] == "true" %}

		{% if isDeleteProject %}

		<p>You currently have no projects.</p>

		{% else %}

		<table class="govuk-table" data-module="moj-sortable-table">
			<caption class="govuk-table__caption govuk-visually-hidden">{{ pageHeadingTextHTML }}</caption>
			<thead class="govuk-table__head">
			  <tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Reference</th>
				<th scope="col" class="govuk-table__header" aria-sort="descending">Status</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Date submitted</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Actions</th>
			  </tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if not isDeleteProject and not isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Westhaven Bay pipe maintenance</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="001">
						EXE/2025/00001
					</td>
					
					<td class="govuk-table__cell" data-sort-value="002">
						{{ govukTag({
							text: "Scheduled",
							classes: "govuk-tag"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250512">12 May 2025</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isDeleteProject and isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Scientific fieldwork Mousehole Harbour</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="012">
						-
					</td>
					
					<td class="govuk-table__cell" data-sort-value="002">
						{{ govukTag({
							text: "Draft",
							classes: "govuk-tag--light-blue"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250712">-</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isDeleteProject and not isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Tynemouth pile replacement</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="002">
						EXE/2025/00002
					</td>
					
					<td class="govuk-table__cell" data-sort-value="001">
						{{ govukTag({
							text: "Active",
							classes: "govuk-tag--green"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250422">22 Apr 2025</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isDeleteProject and isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Replacement of pontoon Hammersmith Rowing Club</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="015">
						EXE/2025/00015
					</td>
					
					<td class="govuk-table__cell" data-sort-value="001">
						{{ govukTag({
							text: "Active",
							classes: "govuk-tag--green"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250319">19 Mar 2025</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isDeleteProject and not isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">King Point Marina mooring piles removal</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="003">
						EXE/2025/00003
					</td>
					
					<td class="govuk-table__cell" data-sort-value="003">
						{{ govukTag({
							text: "Finished",
							classes: "govuk-tag--grey"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250212">12 Feb 2025</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isDeleteProject and not isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Fibre optic cable system route survey</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="004">
						EXE/2025/00004
					</td>
					
					<td class="govuk-table__cell" data-sort-value="001">
						{{ govukTag({
							text: "Active",
							classes: "govuk-tag--green"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="250706">7 Jun 2025</td>
					<td class="govuk-table__cell" data-sort-value="View details">	
						<a href="#" class="govuk-link--no-visited-state">View details</a>
					</td>
				</tr>
				{% endif %}

				{% if not isTowerBridgeDeleted and not isDeleteProject and not isAlternativeView %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Tower Bridge refurbishment</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>
					<td class="govuk-table__cell" data-sort-value="-">
						-
					</td>
					
					<td class="govuk-table__cell" data-sort-value="005">
						{{ govukTag({
							text: "Draft",
							classes: "govuk-tag--light-blue"
						}) }}
					</td>
					<td class="govuk-table__cell" data-sort-value="-">-</td>
					<td class="govuk-table__cell" data-sort-value="Continue">	
						<a href="#" class="govuk-link--no-visited-state govuk-!-margin-right-4">Continue</a> <a href="delete?project=tower-bridge" class="govuk-link--no-visited-state">Delete</a>
					</td>
				</tr>
				{% endif %}

				{% if not isUserProjectDeleted and not isDeleteProject and not isAlternativeView and data['exemption-project-name-text-input'] %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">{{ data['exemption-project-name-text-input'] }}</th>
					<td class="govuk-table__cell">
						Exempt activity notification
					</td>

					

					{% if data['applicationSubmitted'] == "true" %}
					<td class="govuk-table__cell" data-sort-value="005">
						EXE/2025/00005
					</td>
					{% else %}
					<td class="govuk-table__cell" data-sort-value="-">
						-
					</td>
					{% endif %}
				
					{% if data['applicationSubmitted'] == "true" %}	
						<td class="govuk-table__cell" data-sort-value="002">
							{{ govukTag({
								text: "Scheduled",
								classes: "govuk-tag--blue"
							}) }}
						</td>
						<td class="govuk-table__cell" data-sort-value="250716">
						{{ "today" | govukDate(truncate=true) }}
						</td>
					{% else %}
						<td class="govuk-table__cell" data-sort-value="005">
							{{ govukTag({
								text: "Draft",
								classes: "govuk-tag--light-blue"
							}) }}
						</td>
						<td class="govuk-table__cell" data-sort-value="-">
						-
						</td>
					{% endif %}
					
					{% if data['applicationSubmitted'] == "true" %}	
						<td class="govuk-table__cell" data-sort-value="View details">
							<a href="check-answers-multiple-sites.html" class="govuk-link--no-visited-state">View details</a>
						</td>
					{% else %}
						<td class="govuk-table__cell" data-sort-value="Continue">
							<a href="task-list" class="govuk-link--no-visited-state govuk-!-margin-right-4">Continue</a> <a href="delete?project=user" class="govuk-link--no-visited-state">Delete</a>
						</td>
					{% endif %}
				</tr>
				{% endif %}			  
			</tbody>
		</table>

		{% endif %}

	</div>
</div>
{% endblock %}