{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set pageHeadingTextHTML %}
Does your project involve more than one site?
{% endset %}

<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
    Select yes if your project involves more than one site
    {% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#exemption-multiple-sites-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

        <!-- go to routes.js for routing  -->

        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
                    <h1 class="govuk-heading-l">
                        {{ pageHeadingTextHTML }}
                    </h1>

        <form action="{% if data['returnTo'] == 'review-site-details' %}more-than-one-site-router{% else %}multiple-sites-question-router{% endif %}{% if data['returnTo'] %}?returnTo={{ data['returnTo'] }}{% endif %}" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "exemption-multiple-sites-radios",

                    id: "exemption-multiple-sites-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-visually-hidden"
                        }
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "Yes",
                            text: "Yes",
                            checked: data['exemption-multiple-sites-radios'] == "Yes"
                        },
                        {
                            value: "No",
                            text: "No",
                            checked: data['exemption-multiple-sites-radios'] == "No"
                        }
                    ]
                })
            }}

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="cancel-site-details">Cancel</a>
            </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}
<!-- Generated by Copilot -->