{% extends "layouts/main.html" %}

{% block pageTitle %}
  Select marine organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/accessible-autocomplete@3.0.1/dist/accessible-autocomplete.min.css" />
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@3.0.1/dist/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="my-autocomplete">
            Select organisation
          </label>
        </h1>
        <div class="govuk-hint">
          Start typing to search for an organisation
        </div>
        <div id="my-autocomplete-container"></div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
