{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Sharing your information publicly
{% endset %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}

{% endset %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set questionHeadingTextHTML %}
Do you consent to the MMO publishing your information publicly?
{% endset %}

<!-- Set the text for the error type -->
{% set errorTextHTML %}
{% if data['errortypeone'] == "true" %}
Select whether you consent to the MMO publishing your information publicly
{% elif data['errortypetwo'] == "true" %}
Provide details of why you do not consent to your information being published
{% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['errorthispage'] == "true" %}
Error:
{% endif %}

{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% set detailsHtml %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({

id: "exemption-public-register-text-area",

name: "exemption-public-register-text-area",

value: data['exemption-public-register-text-area'],

label: {
text: "Provide details of why you do not consent to your information being published",
classes: "govuk-label",
isPageHeading: false
},

errorMessage: null if data['errortypetwo'] != "true"
else { text: "Provide details of why you do not consent to your information being published" }
}) }}
{% endset -%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- ERROR LOGIC 'error summary' -->
		{% if data['errorthispage'] == "true" %}
		{{ govukErrorSummary({
		titleText: "There is a problem",
		errorList: [
		{
		text: errorTextHTML,
		href: "#exemption-public-register-radios" if data['errortypeone'] == "true" else "#exemption-public-register-text-area"
		}
		]
		}) }}
		{% endif %}
		<!-- END OF 'error summary' -->

		<!-- go to routes.js for routing  -->
		<form action="public-register-router" method="post" novalidate>
			<span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
			<h1 class="govuk-heading-l">
				{{ pageHeadingTextHTML }}
			</h1>

			<p>The Marine Management Organisation (MMO) publishes some of the information you provide on <a href="https://www.gov.uk/guidance/explore-marine-plans" rel="noreferrer noopener" target="_blank">Explore Marine Plans (opens in new tab)</a>. In the future, we may also publish this information on the MMO's public register.</p>

			<p>Sharing this information helps you and other applicants:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>get a clear picture of activity in the marine environment</li>
				<li>prepare applications more effectively by avoiding conflicts with existing marine activity</li>
				<li>evaluate the environmental impact of projects in the context of other marine activity, leading to better applications and evidence for decision-makers</li>
			</ul>

			<p>We will not publish contact details, such as your email address, phone number or postal address, or any financial information.</p>

			{{ govukRadios
			({
			name: "exemption-public-register-radios",

			id: "exemption-public-register-radios",

			fieldset:
			{
			legend:
			{
			html: questionHeadingTextHTML,
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
			},

			errorMessage: null if data['errortypeone'] != "true"
			else { html: "Select whether you consent to the MMO publishing your information publicly" },

			items:
			[
			{
			value: "Yes",
			text: "Yes",
			checked: data['exemption-public-register-radios'] == "Yes"
			},
			{
			value: "No",
			text: "No",
			conditional: {
			html: detailsHtml
			},
			checked: data['exemption-public-register-radios'] == "No"
			}
			]
			})
			}}

			<div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="javascript:window.history.back()">Cancel</a>
            </div>

		</form>

	</div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

	<select style="height:30px;" onchange="window.location.href='?'+this.value">

		<option value="errorthispage=false&errortypeone=false&errortypetwo=false&" {% if (data['errorthispage'] !="true"
			) %}selected{% endif %}>Errors - Off</option>

		<option value="errorthispage=true&errortypeone=true&errortypetwo=false&" {% if (data['errortypeone']=='true' and
			data['errortypetwo'] !='true' ) %}selected{% endif %}>Error 1 - No radio selected</option>

		<option value="errorthispage=true&errortypeone=false&errortypetwo=true&" {% if (data['errortypeone'] !='true' and
			data['errortypetwo']=='true' ) %}selected{% endif %}>Error 2 - Input text left blank</option>

	</select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}