{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Public register
{% endset %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}

{% endset %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set questionHeadingTextHTML %}
Do you believe the information you have provided should be withheld from the public register?
{% endset %}

<!-- Set the text for the error type -->
{% set errorTextHTML %}
{% if data['errortypeone'] == "true" %}
Select whether there is any information you believe should be withheld from the public register
{% elif data['errortypetwo'] == "true" %}
Provide details of the information that should be withheld
{% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['errorthispage'] == "true" %}
Error:
{% endif %}

{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% set detailsHtml %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({

id: "exemption-public-register-text-area",

name: "exemption-public-register-text-area",

value: data['exemption-public-register-text-area'],

label: {
text: "Provide details of why the information should be withheld",
classes: "govuk-label",
isPageHeading: false
}
}) }}
{% endset -%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- ERROR LOGIC 'error summary' -->
		{% if data['errorthispage'] == "true" %}
		{{ govukErrorSummary({
		titleText: "There is a problem",
		errorList: [
		{
		text: "Select whether you believe the information you have provided should be withheld from the public register",
		href: "#exemption-public-register-radios"
		}
		]
		}) }}
		{% endif %}
		<!-- END OF 'error summary' -->

		<!-- go to routes.js for routing  -->
		<form action="public-register-router" method="post" novalidate>
			<span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
			<h1 class="govuk-heading-l">
				{{ pageHeadingTextHTML }}
			</h1>

			<p>The Marine Management Organisation publishes information about marine licence applications and exemptions
				on a <a href="https://marinelicensing.marinemanagement.org.uk/mmofox5/fox/live/MMO_PUBLIC_REGISTER"
					rel="noreferrer noopener" target="_blank">public register (opens in new tab)</a>.</p>

			{{ govukRadios
			({
			name: "exemption-public-register-radios",

			id: "exemption-public-register-radios",

			fieldset:
			{
			legend:
			{
			html: questionHeadingTextHTML,
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
			},

			errorMessage: null if data['errorthispage'] != "true"
			else { html: errorTextHTML },

			items:
			[
			{
			value: "Yes",
			text: "Yes",
			conditional: {
			html: detailsHtml
			},
			checked: data['exemption-public-register-radios'] == "Yes"
			},
			{
			value: "No",
			text: "No",
			checked: data['exemption-public-register-radios'] == "No"
			}
			]
			})
			}}

			<div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="javascript:window.history.back()">Cancel</a>
            </div>

		</form>

	</div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

	<select style="height:30px;" onchange="window.location.href='?'+this.value">

		<option value="errorthispage=false&errortypeone=false&errortypetwo=false&" {% if (data['errorthispage'] !="true"
			) %}selected{% endif %}>Errors - Off</option>

		<option value="errorthispage=true&errortypeone=true&errortypetwo=false&" {% if (data['errortypeone']=='true' and
			data['errortypetwo'] !='true' ) %}selected{% endif %}>Error 1 - Must select at least one</option>

	</select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}