{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Review site details

{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>
        
        <!-- Check if all required fields are completed -->
        {% set allComplete = true %}
        
        <!-- Run the completeness logic without debug output -->
        <!-- Step 1: Determine journey type -->
        {% if data['manual-multiple-sites'] == 'Yes' %}
            {% set isMultipleSitesJourney = true %}
        {% elif data['manual-multiple-sites'] == 'No' %}
            {% set isMultipleSitesJourney = false %}
        {% elif sites and sites.length == 1 and sites[0].entryMethod == 'file-upload' and not data['manual-multiple-sites'] %}
            {% set isMultipleSitesJourney = false %}
        {% elif data['singleSiteFileUpload'] == true %}
            {% set isMultipleSitesJourney = false %}
        {% else %}
            {% set isMultipleSitesJourney = true %}
        {% endif %}
        
        <!-- Step 2: Sites validation -->
        {% if not sites or sites.length === 0 %}
            {% set allComplete = false %}
        {% else %}
            {% for site in sites %}
                <!-- Check site name requirement -->
                {% if isMultipleSitesJourney %}
                    {% if not site.name %}
                        {% set allComplete = false %}
                    {% endif %}
                {% elif site.entryMethod != 'file-upload' %}
                    {% if not site.name %}
                        {% set allComplete = false %}
                    {% endif %}
                {% endif %}
                
                <!-- Check dates and descriptions -->
                {% if not isMultipleSitesJourney %}
                    <!-- Single site: always require dates and description -->
                    {% if not site.startDate or not site.startDate.day %}
                        {% set allComplete = false %}
                    {% endif %}
                    {% if not site.description %}
                        {% set allComplete = false %}
                    {% endif %}
                {% else %}
                    <!-- Multiple sites: check based on shared settings -->
                    {% if data['exemption-same-activity-dates-for-sites'] == "No" %}
                        {% if not site.startDate or not site.startDate.day %}
                            {% set allComplete = false %}
                        {% endif %}
                    {% endif %}
                    {% if data['exemption-same-activity-description-for-sites'] == "No" %}
                        {% if not site.description %}
                            {% set allComplete = false %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <!-- Step 3: Multiple sites shared settings validation -->
        {% if isMultipleSitesJourney and sites and sites.length > 1 %}
            <!-- Check shared dates setting is answered -->
            {% if not data['exemption-same-activity-dates-for-sites'] %}
                {% set allComplete = false %}
            {% else %}
                <!-- If shared dates, check shared dates are provided -->
                {% if data['exemption-same-activity-dates-for-sites'] == "Yes" %}
                    {% if not data['exemption-start-date-date-input-day'] and not (currentBatch and currentBatch.settings and currentBatch.settings.sharedStartDate and currentBatch.settings.sharedStartDate.day) %}
                        {% set allComplete = false %}
                    {% endif %}
                {% endif %}
            {% endif %}
            
            <!-- Check shared description setting is answered -->
            {% if not data['exemption-same-activity-description-for-sites'] %}
                {% set allComplete = false %}
            {% else %}
                <!-- If shared description, check shared description is provided -->
                {% if data['exemption-same-activity-description-for-sites'] == "Yes" %}
                    {% if not data['exemption-activity-details-text-area'] and not (currentBatch and currentBatch.settings and currentBatch.settings.sharedDescription) %}
                        {% set allComplete = false %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if not allComplete %}
            {{ govukInsetText({
                html: "The site details you've provided are saved.<br>You must complete all sections marked <span class='govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-top-2'>Incomplete</span> before you can send your information.<br>If you cannot finish now, you can return to this page later."
            }) }}
        {% else %}
            {% if data['camefromcheckanswers'] != 'true' %}
            {{ govukInsetText({
                html: "The site details you've provided are saved.<br>You can return to this page and make changes at any time before you send your information."
            }) }}
            {% endif %}
        {% endif %}
        
        <!-- Get current batch for use throughout template -->
        {% set currentBatch = null %}
        {% if sites and sites.length > 0 and sites[0].batchId %}
            {% for batch in data['siteBatches'] %}
                {% if batch.id == sites[0].batchId %}
                    {% set currentBatch = batch %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <!-- Providing the site location section -->
        <div id="site-location" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Providing the site location
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href="delete-all-sites">
                            Delete all site details<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Method of providing site location
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Upload a file with the coordinates of the site
                        </dd>
                    </div>
                    {% if data['exemption-which-type-of-file-radios'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            File type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['exemption-which-type-of-file-radios'] }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if data['hasUploadedFile'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            File uploaded
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['exemption-which-type-of-file-radios'] == "KML" %}
                                se-coast-sample-sites-coordinates.kml
                            {% else %}
                                se-coast-sample-sites-coordinates.zip
                            {% endif %}
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>

        <!-- Activity details section - only show for multiple sites -->
        {% if sites and sites.length > 1 %}
        <div id="activity-details" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Activity details
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are the activity dates the same for every site?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDates %}
                                {{ currentBatch.settings.sameActivityDates }}
                            {% elif data['exemption-same-activity-dates-for-sites'] %}
                                {{ data['exemption-same-activity-dates-for-sites'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="same-activity-dates?returnTo=review-site-details#activity-details" class="govuk-link govuk-link--no-visited-state">
                                Change<span class="govuk-visually-hidden"> activity dates setting</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% set showSharedDates = (currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDates == "Yes") or (not currentBatch and data['exemption-same-activity-dates-for-sites'] == "Yes") %}
                    {% if showSharedDates %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity dates
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if currentBatch and currentBatch.settings and currentBatch.settings.sharedStartDate and currentBatch.settings.sharedStartDate.day %}
                                {{ currentBatch.settings.sharedStartDate.day }} {{ currentBatch.settings.sharedStartDate.month | toMonth }} {{ currentBatch.settings.sharedStartDate.year }} to {{ currentBatch.settings.sharedEndDate.day }} {{ currentBatch.settings.sharedEndDate.month | toMonth }} {{ currentBatch.settings.sharedEndDate.year }}
                            {% elif data['exemption-start-date-date-input-day'] %}
                                {{ data['exemption-start-date-date-input-day'] }} {{ data['exemption-start-date-date-input-month'] | toMonth }} {{ data['exemption-start-date-date-input-year'] }} to {{ data['exemption-end-date-date-input-day'] }} {{ data['exemption-end-date-date-input-month'] | toMonth }} {{ data['exemption-end-date-date-input-year'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-dates?returnTo=review-site-details#activity-details" class="govuk-link govuk-link--no-visited-state">
                                {% if (currentBatch and currentBatch.settings and currentBatch.settings.sharedStartDate and currentBatch.settings.sharedStartDate.day) or data['exemption-start-date-date-input-day'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity dates</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Is the activity description the same for every site?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDescription %}
                                {{ currentBatch.settings.sameActivityDescription }}
                            {% elif data['exemption-same-activity-description-for-sites'] %}
                                {{ data['exemption-same-activity-description-for-sites'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="same-activity-description?returnTo=review-site-details#activity-details" class="govuk-link govuk-link--no-visited-state">
                                Change<span class="govuk-visually-hidden"> activity description setting</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% set showSharedDescription = (currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDescription == "Yes") or (not currentBatch and data['exemption-same-activity-description-for-sites'] == "Yes") %}
                    {% if showSharedDescription %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if currentBatch and currentBatch.settings and currentBatch.settings.sharedDescription %}
                                {{ currentBatch.settings.sharedDescription }}
                            {% elif data['exemption-activity-details-text-area'] %}
                                {{ data['exemption-activity-details-text-area'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-details?returnTo=review-site-details#activity-details" class="govuk-link govuk-link--no-visited-state">
                                {% if (currentBatch and currentBatch.settings and currentBatch.settings.sharedDescription) or data['exemption-activity-details-text-area'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> Activity description</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>
        {% endif %}

        <!-- Dynamic Site Details Sections -->
        {% if sites and sites.length > 0 %}
            {% for site in sites %}
                {% set siteIndex = site.globalNumber or loop.index %}
                <div id="site-{{ siteIndex }}-details" class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            {% if not isMultipleSitesJourney %}
                                Site details
                            {% else %}
                                Site {{ siteIndex }} details
                            {% endif %}
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list govuk-summary-list--full-width">
                            <!-- Only show site name for non-single-site-file-upload journeys -->
                            {% if isMultipleSitesJourney or site.entryMethod != 'file-upload' %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Site name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if site.name %}
                                        {{ site.name }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="site-name?site={{ siteIndex }}&return=site-{{ siteIndex }}-details#site-{{ siteIndex }}-details" class="govuk-link govuk-link--no-visited-state">
                                        {% if site.name %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> site name</span>
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% if sites.length == 1 %}
                                <!-- Single site: always show activity dates and description -->
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Activity dates
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if site.startDate and site.startDate.day %}
                                            {{ site.startDate.day }} {{ site.startDate.month | toMonth }} {{ site.startDate.year }} to {{ site.endDate.day }} {{ site.endDate.month | toMonth }} {{ site.endDate.year }}
                                        {% else %}
                                            <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="site-activity-dates?site={{ siteIndex }}&return=site-{{ siteIndex }}-details#site-{{ siteIndex }}-details" class="govuk-link govuk-link--no-visited-state">
                                            {% if site.startDate and site.startDate.day %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> Activity dates</span>
                                        </a>
                                    </dd>
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Activity description
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if site.description %}
                                            {{ site.description }}
                                        {% else %}
                                            <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="site-activity-description?site={{ siteIndex }}&return=site-{{ siteIndex }}-details#site-{{ siteIndex }}-details" class="govuk-link govuk-link--no-visited-state">
                                            {% if site.description %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> Activity description</span>
                                        </a>
                                    </dd>
                                </div>
                            {% else %}
                                <!-- Multiple sites: show conditionally based on "same for all sites" settings -->
                                {% set showSiteDates = (currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDates == "No") or (not currentBatch and data['exemption-same-activity-dates-for-sites'] == "No") %}
                                {% if showSiteDates %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Activity dates
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if site.startDate and site.startDate.day %}
                                            {{ site.startDate.day }} {{ site.startDate.month | toMonth }} {{ site.startDate.year }} to {{ site.endDate.day }} {{ site.endDate.month | toMonth }} {{ site.endDate.year }}
                                        {% else %}
                                            <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="site-activity-dates?site={{ siteIndex }}&return=site-{{ siteIndex }}-details#site-{{ siteIndex }}-details" class="govuk-link govuk-link--no-visited-state">
                                            {% if site.startDate and site.startDate.day %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> Activity dates</span>
                                        </a>
                                    </dd>
                                </div>
                                {% endif %}
                                
                                {% set showSiteDescription = (currentBatch and currentBatch.settings and currentBatch.settings.sameActivityDescription == "No") or (not currentBatch and data['exemption-same-activity-description-for-sites'] == "No") %}
                                {% if showSiteDescription %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Activity description
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if site.description %}
                                            {{ site.description }}
                                        {% else %}
                                            <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="site-activity-description?site={{ siteIndex }}&return=site-{{ siteIndex }}-details#site-{{ siteIndex }}-details" class="govuk-link govuk-link--no-visited-state">
                                            {% if site.description %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> Activity description</span>
                                        </a>
                                    </dd>
                                </div>
                                {% endif %}
                            {% endif %}
                            
                            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                                <dt class="govuk-summary-list__key govuk-summary-list__key--full-width map-label">
                                    Map view
                                </dt>
                                <dd class="govuk-summary-list__value govuk-summary-list__value--full-width">
                                    <img src="{{ site.mapImage or '/public/images/map-drawn.jpg' }}" alt="Map showing site {{ siteIndex }} location" />
                                </dd>
                            </div>
                        </dl>
                        
                        
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="govuk-inset-text">
                No sites have been added yet. Please upload a file with site coordinates.
            </div>
        {% endif %}
        <form action="review-site-details-router" method="post" novalidate>
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}