{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Are the activity dates the same for every site?
{% endset %}

{% set errorText1HTML %}
    Select whether the activity dates the same for every site
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- ERROR LOGIC 'error summary' -->
{% if data['errorthispage'] == "true" %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: errorText1HTML,
        href: "#exemption-same-activity-dates-for-sites"
      } if data['errortypeone'] == "true"
    ]
  }) }}
{% endif %}
        <!--  END OF 'error summary' -->

        <form action="same-activity-dates-router" method="post" novalidate>

{{ govukRadios({
  idPrefix: "exemption-same-activity-dates-for-sites",
  name: "exemption-same-activity-dates-for-sites",
  fieldset: {
    legend: {
      html: (('<span class="govuk-caption-l">' + data['exemption-project-name-text-input'] + '</span>') if data['exemption-project-name-text-input']) + pageHeadingTextHTML,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: {
    text: errorText1HTML
  } if data['errortypeone'] == "true",
  items: [
    {
      value: "Yes",
      text: "Yes, the dates are the same for every site",
      hint: {
        text: "You'll only need to enter the dates once"
      },
      checked: data['exemption-same-activity-dates-for-sites'] == "Yes"
    },
    {
      value: "No",
      text: "No, at least one site has different dates",
      hint: {
        text: "You'll add dates for each site on the 'Review site details' page"
      },
      checked: data['exemption-same-activity-dates-for-sites'] == "No"
    }
  ]
}) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        {% if returnTo !== 'review-site-details' %}
        <a class="govuk-link govuk-link--no-visited-state" href="cancel-site-details">Cancel</a>
        {% endif %}
    </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&"
                {% if (data['errortypeone'] == 'true') %}selected{% endif %}
        >Error 1 - No selection made</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}