<!-- filepath: /Users/tom/Documents/Prototypes/defra/marine-licensing-prototype/app/views/versions/multiple-sites/exemption/site-details-added.html -->
{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageHeadingTextHTML %}
Your sites
{% endset %}

{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set hasSiteIncomplete = false %}
        
        {% if data['sites'] and data['sites'].length > 0 %}
            {% for site in data['sites'] %}
                {% if not site.name %}
                    {% set hasSiteIncomplete = true %}
                {% endif %}
                
                {% set siteBatch = null %}
                {% if site.batchId and data['siteBatches'] %}
                    {% for batch in data['siteBatches'] %}
                        {% if batch.id == site.batchId %}
                            {% set siteBatch = batch %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if siteBatch and siteBatch.settings %}
                    {% if siteBatch.settings.sameActivityDates == "No" %}
                        {% if not site.startDate or not site.startDate.day %}
                            {% set hasSiteIncomplete = true %}
                        {% endif %}
                    {% endif %}
                    
                    {% if siteBatch.settings.sameActivityDescription == "No" %}
                        {% if not site.description %}
                            {% set hasSiteIncomplete = true %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if site.entryMethod == "manual-entry" %}
                        {% if data['manual-same-activity-dates'] == "No" %}
                            {% if not site.startDate or not site.startDate.day %}
                                {% set hasSiteIncomplete = true %}
                            {% endif %}
                        {% endif %}
                        {% if data['manual-same-activity-description'] == "No" %}
                            {% if not site.description %}
                                {% set hasSiteIncomplete = true %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if data['exemption-same-activity-dates-for-sites'] == "No" %}
                            {% if not site.startDate or not site.startDate.day %}
                                {% set hasSiteIncomplete = true %}
                            {% endif %}
                        {% endif %}
                        {% if data['exemption-same-activity-description-for-sites'] == "No" %}
                            {% if not site.description %}
                                {% set hasSiteIncomplete = true %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if data['errorthispage'] == "true" %}
            {% if data['sites'] and data['sites'].length > 0 %}
                {% set errorText = "Complete all site details or clear the 'Finished adding sites' box to save and continue" %}
            {% else %}
                {% set errorText = "Add at least one site or clear the 'Finished adding sites' box to save and continue" %}
            {% endif %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: errorText,
                        href: "#finished-adding-sites"
                    }
                ]
            }) }}
        {% endif %}
        
        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        {% if data['sites'] and data['sites'].length > 0 %}
            <p class="govuk-body">You can select 'Save and continue' to keep your progress and return later if any sites are marked incomplete.</p>
            <p class="govuk-body govuk-!-margin-bottom-6">You must complete all site details before selecting 'I've finished adding sites'.</p>
        {% endif %}
        
        <div class="govuk-!-margin-bottom-0">
            {% if data['sites'] and data['sites'].length > 0 %}
                {% set fileUploadCount = 0 %}
                {% set manualEntryCount = 0 %}
                
                {% for site in data['sites'] %}
                    {% set siteIndex = site.globalNumber or loop.index %}
                    {% set isComplete = true %}
                    
                    {% set isFirstInBatch = true %}
                    {% set currentBatchId = site.batchId or 'default' %}
                    {% if not loop.first %}
                        {% set prevSite = data['sites'][loop.index - 2] %}
                        {% set prevBatchId = prevSite.batchId or 'default' %}
                        {% if currentBatchId == prevBatchId %}
                            {% set isFirstInBatch = false %}
                        {% endif %}
                    {% endif %}
                    
                    {% set isLastInBatch = true %}
                    {% if not loop.last %}
                        {% set nextSite = data['sites'][loop.index] %}
                        {% set nextBatchId = nextSite.batchId or 'default' %}
                        {% if currentBatchId == nextBatchId %}
                            {% set isLastInBatch = false %}
                        {% endif %}
                    {% endif %}
                    
                    {% if not site.name %}
                        {% set isComplete = false %}
                    {% endif %}
                    
                    {% set siteBatch = null %}
                    {% if site.batchId and data['siteBatches'] %}
                        {% for batch in data['siteBatches'] %}
                            {% if batch.id == site.batchId %}
                                {% set siteBatch = batch %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    {% if siteBatch and siteBatch.settings %}
                        {% if siteBatch.settings.sameActivityDates == "No" %}
                            {% if not site.startDate or not site.startDate.day %}
                                {% set isComplete = false %}
                            {% endif %}
                        {% endif %}
                        
                        {% if siteBatch.settings.sameActivityDescription == "No" %}
                            {% if not site.description %}
                                {% set isComplete = false %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if site.entryMethod == "manual-entry" %}
                            {% if data['manual-same-activity-dates'] == "No" %}
                                {% if not site.startDate or not site.startDate.day %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                            {% if data['manual-same-activity-description'] == "No" %}
                                {% if not site.description %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if data['exemption-same-activity-dates-for-sites'] == "No" %}
                                {% if not site.startDate or not site.startDate.day %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                            {% if data['exemption-same-activity-description-for-sites'] == "No" %}
                                {% if not site.description %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                    {% if isFirstInBatch %}
                        {% set batchComplete = true %}
                        {% set batchSiteCount = 0 %}
                        {% for batchSite in data['sites'] %}
                            {% if (batchSite.batchId or 'default') == currentBatchId %}
                                {% set batchSiteCount = batchSiteCount + 1 %}
                                {% set batchSiteComplete = true %}
                                {% if not batchSite.name %}
                                    {% set batchSiteComplete = false %}
                                {% endif %}
                                
                                {% if siteBatch and siteBatch.settings %}
                                    {% if siteBatch.settings.sameActivityDates == "No" and (not batchSite.startDate or not batchSite.startDate.day) %}
                                        {% set batchSiteComplete = false %}
                                    {% endif %}
                                    {% if siteBatch.settings.sameActivityDescription == "No" and not batchSite.description %}
                                        {% set batchSiteComplete = false %}
                                    {% endif %}
                                {% else %}
                                    {% if batchSite.entryMethod == "manual-entry" %}
                                        {% if data['manual-same-activity-dates'] == "No" and (not batchSite.startDate or not batchSite.startDate.day) %}
                                            {% set batchSiteComplete = false %}
                                        {% endif %}
                                        {% if data['manual-same-activity-description'] == "No" and not batchSite.description %}
                                            {% set batchSiteComplete = false %}
                                        {% endif %}
                                    {% else %}
                                        {% if data['exemption-same-activity-dates-for-sites'] == "No" and (not batchSite.startDate or not batchSite.startDate.day) %}
                                            {% set batchSiteComplete = false %}
                                        {% endif %}
                                        {% if data['exemption-same-activity-description-for-sites'] == "No" and not batchSite.description %}
                                            {% set batchSiteComplete = false %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if not batchSiteComplete %}
                                    {% set batchComplete = false %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        {% set currentBatchHeading = "" %}
                        {% if site.entryMethod == "file-upload" %}
                            {% set fileUploadCount = fileUploadCount + 1 %}
                            {% if fileUploadCount == 1 %}
                                {% set currentBatchHeading = "File upload" %}
                            {% else %}
                                {% set currentBatchHeading = "File upload " + fileUploadCount %}
                            {% endif %}
                        {% elif site.entryMethod == "manual-entry" or site.entryMethod == "manual-entry-single-site" %}
                            {% set manualEntryCount = manualEntryCount + 1 %}
                            {% if manualEntryCount == 1 %}
                                {% set currentBatchHeading = "Manual entry" %}
                            {% else %}
                                {% set currentBatchHeading = "Manual entry " + manualEntryCount %}
                            {% endif %}
                        {% endif %}
                        
                        {% set reviewUrl = "review-site-details?site=" + siteIndex + "&batchId=" + site.batchId %}
                        {% if site.entryMethod == "manual-entry" %}
                            {% set reviewUrl = "manual-entry/review-site-details?site=" + siteIndex + "&batchId=" + site.batchId %}
                        {% elif site.entryMethod == "manual-entry-single-site" %}
                            {% set reviewUrl = "manual-entry-single-site/review-site-details" %}
                        {% endif %}
                        
                        <div class="govuk-!-margin-bottom-6 site-batch-header">
                            <div style="overflow: hidden; border-bottom: 1px solid #b1b4b6;" class="site-batch-header-content; govuk-!-padding-bottom-2">
                                <h2 class="govuk-heading-m site-batch-heading" style="float: left; margin-bottom: 10px;">
                                    {{ currentBatchHeading }}
                                    {% if batchComplete %}
                                        <span class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Completed</span>
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Incomplete</span>
                                    {% endif %}
                                </h2>
                                <div style="float: right;" class="site-batch-actions">
                                    {% if batchComplete %}
                                        <a href="{{ reviewUrl }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Review site details</a>
                                    {% else %}
                                        <a href="{{ reviewUrl }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Add site details</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            
                            <dl class="govuk-summary-list">
                    {% endif %}
                    
                    {% if (site.batchId or 'default') == currentBatchId %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Site {{ siteIndex }}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ site.name or "-" }}
                            </dd>
                        </div>
                    {% endif %}
                    
                    {% if isLastInBatch %}
                            </dl>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="govuk-!-margin-bottom-8">You have no sites.</p>
            {% endif %}
        </div>

        <div class="govuk-form-group govuk-!-margin-top-5 govuk-!-margin-bottom-0">
            {{ govukButton({
                text: "Add another site",
                classes: "govuk-button--secondary",
                href: "add-another-site"
            }) }}
        </div>
        
        <form action="site-details-added-router" method="post" novalidate>
            {% if data['errorthispage'] == "true" %}
                {% if data['sites'] and data['sites'].length > 0 %}
                    {% set checkboxErrorText = "Complete all site details or clear the 'Finished adding sites' box to save and continue" %}
                {% else %}
                    {% set checkboxErrorText = "Add at least one site or clear the 'Finished adding sites' box to save and continue" %}
                {% endif %}
            {% endif %}
            {{ govukCheckboxes({
                idPrefix: "finished-adding-sites",
                name: "finished-adding-sites",
                errorMessage: {
                    text: checkboxErrorText
                } if data['errorthispage'] == "true",
                items: [
                    {
                        value: "yes",
                        text: "I've finished adding sites",
                        checked: data['finished-adding-sites'] and data['finished-adding-sites'].includes("yes")
                    }
                ]
            }) }}
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
<!-- Generated by Copilot -->
