<!-- filepath: /Users/tom/Documents/Prototypes/defra/marine-licensing-prototype/app/views/versions/multiple-sites/exemption/site-details-added.html -->
{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Your sites
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set hasSiteIncomplete = false %}
        
        <!-- Determine if any site is incomplete using the sites array -->
        {% if data['sites'] and data['sites'].length > 0 %}
            {% for site in data['sites'] %}
                <!-- Check if site name is missing -->
                {% if not site.name %}
                    {% set hasSiteIncomplete = true %}
                {% endif %}
                
                <!-- Check if site-specific dates are required but incomplete -->
                {% if data['exemption-same-activity-dates-for-sites'] == "No" %}
                    {% if not site.startDate or not site.startDate.day %}
                        {% set hasSiteIncomplete = true %}
                    {% endif %}
                {% endif %}
                
                <!-- Check if site-specific descriptions are required but incomplete -->
                {% if data['exemption-same-activity-description-for-sites'] == "No" %}
                    {% if not site.description %}
                        {% set hasSiteIncomplete = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <!-- Display error summary if applicable -->
        {% if data['errorthispage'] == "true" %}
            {% if data['sites'] and data['sites'].length > 0 %}
                {% set errorText = "To continue, either complete all the sites or uncheck the box and save your changes" %}
            {% else %}
                {% set errorText = "To continue, either add a site or uncheck the box and save your changes" %}
            {% endif %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: errorText,
                        href: "#finished-adding-sites"
                    }
                ]
            }) }}
        {% endif %}
        
        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        {% if data['sites'] and data['sites'].length > 0 %}
            {{ govukInsetText({
                html: "You can select 'Save and continue' to keep your progress and return later if any sites are marked <span class='govuk-tag govuk-tag--red govuk-!-margin-bottom-1'>Incomplete</span><br>
                You must complete all site details before selecting 'I've finished adding sites'."
            }) }}
        {% endif %}
        
        <div class="govuk-!-margin-bottom-6">
            {% if data['sites'] and data['sites'].length > 0 %}
                <!-- Plain HTML GOV.UK styled table -->
                <table class="govuk-table govuk-!-margin-bottom-6">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Site</th>
                            <th scope="col" class="govuk-table__header">Site name</th>
                            <th scope="col" class="govuk-table__header">Source</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for site in data['sites'] %}
                            {% set siteIndex = site.globalNumber or loop.index %}
                            {% set isComplete = true %}
                            
                            <!-- Determine if this is the first site in its batch -->
                            {% set isFirstInBatch = true %}
                            {% set currentBatchId = site.batchId or 'default' %}
                            {% if not loop.first %}
                                {% set prevSite = data['sites'][loop.index - 2] %}
                                {% set prevBatchId = prevSite.batchId or 'default' %}
                                {% if currentBatchId == prevBatchId %}
                                    {% set isFirstInBatch = false %}
                                {% endif %}
                            {% endif %}
                            
                            <!-- Determine if this is the last site in its batch -->
                            {% set isLastInBatch = true %}
                            {% if not loop.last %}
                                {% set nextSite = data['sites'][loop.index] %}
                                {% set nextBatchId = nextSite.batchId or 'default' %}
                                {% if currentBatchId == nextBatchId %}
                                    {% set isLastInBatch = false %}
                                {% endif %}
                            {% endif %}
                            
                            <!-- Determine if site is complete -->
                            {% if not site.name %}
                                {% set isComplete = false %}
                            {% endif %}
                            
                            {% if data['exemption-same-activity-dates-for-sites'] == "No" %}
                                {% if not site.startDate or not site.startDate.day %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                            
                            {% if data['exemption-same-activity-description-for-sites'] == "No" %}
                                {% if not site.description %}
                                    {% set isComplete = false %}
                                {% endif %}
                            {% endif %}
                            
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"{% if not isLastInBatch %} style="border-bottom: none !important;"{% endif %}>Site {{ siteIndex }}</td>
                                <td class="govuk-table__cell"{% if not isLastInBatch %} style="border-bottom: none !important;"{% endif %}>{{ site.name or "-" }}</td>
                                <td class="govuk-table__cell"{% if not isLastInBatch %} style="border-bottom: none !important;"{% endif %}>
                                    {% if site.entryMethod == "manual-entry" or site.entryMethod == "manual-entry-single-site" %}
                                        Manual entry
                                    {% elif site.entryMethod == "file-upload" %}
                                        File upload
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="govuk-table__cell"{% if not isLastInBatch %} style="border-bottom: none !important;"{% endif %}>
                                    {% if isComplete %}
                                        Completed
                                    {% else %}
                                        <strong class="govuk-tag govuk-tag--red">Incomplete</strong>
                                    {% endif %}
                                </td>
                                <td class="govuk-table__cell"{% if not isLastInBatch %} style="border-bottom: none !important;"{% endif %}>
                                    {% set reviewUrl = "review-site-details?site=" + siteIndex + "&batchId=" + site.batchId %}
                                    {% if site.entryMethod == "manual-entry" %}
                                        {% set reviewUrl = "manual-entry/review-site-details?site=" + siteIndex + "&batchId=" + site.batchId %}
                                    {% elif site.entryMethod == "manual-entry-single-site" %}
                                        {% set reviewUrl = "manual-entry-single-site/review-site-details" %}
                                    {% endif %}
                                    <a href="{{ reviewUrl }}" class="govuk-link govuk-link--no-visited-state">Review</a>
                                    <a href="delete-site?site={{ siteIndex }}&return=site-details-added" class="govuk-link govuk-!-margin-left-3 govuk-link--no-visited-state">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="govuk-!-margin-bottom-6">You have no sites.</p>
            {% endif %}
        </div>

        {{ govukButton({
            text: "Add another site",
            classes: "govuk-button--secondary govuk-!-margin-bottom-6",
            href: "add-another-site"
        }) }}
        
        <form action="site-details-added-router" method="post" novalidate>
            {% if data['errorthispage'] == "true" %}
                {% if data['sites'] and data['sites'].length > 0 %}
                    {% set checkboxErrorText = "To continue, either complete all the sites or uncheck the box and save your changes" %}
                {% else %}
                    {% set checkboxErrorText = "To continue, either add a site or uncheck the box and save your changes" %}
                {% endif %}
            {% endif %}
            {{ govukCheckboxes({
                idPrefix: "finished-adding-sites",
                name: "finished-adding-sites",
                errorMessage: {
                    text: checkboxErrorText
                } if data['errorthispage'] == "true",
                items: [
                    {
                        value: "yes",
                        text: "I've finished adding sites",
                        checked: data['finished-adding-sites'] and data['finished-adding-sites'].includes("yes")
                    }
                ]
            }) }}
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
<!-- Generated by Copilot -->
