{% extends "../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set pageHeadingTextHTML %}
Which coordinate system do you want to use?
{% endset %}

<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
    Select which coordinate system you want to use
    {% endif %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#exemption-what-coordinate-system-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

		<span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
            <h1 class="govuk-heading-l">
                {{ pageHeadingTextHTML }}
            </h1> 

		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Help with the coordinate systems
			  </span>
			</summary>
			<div class="govuk-details__text">
			 <h2 class="govuk-heading-s">WGS84 (World Geodetic System 1984)</h2>
			  <p>WGS84 is a global system that pinpoints locations using latitude and longitude. Latitude shows how far north or south a place is, and longitude shows how far east or west it is. WGS84 is widely used in GPS and mapping tools like Google Maps.</p>
				
			  <h2 class="govuk-heading-s">British National Grid (OSGB36)</h2>
			  <p>The British National Grid maps Great Britain using numerical east and north positions, called eastings and northings. It’s based on the OSGB36 reference system used by Ordnance Survey. For example, easting 438493, northing 569648.</p>
			</div>
		  </details>

        <!-- go to routes.js for routing  -->
        <form action="what-coordinate-system-router" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "exemption-what-coordinate-system-radios",

                    id: "exemption-what-coordinate-system-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                        }
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "WGS84 (World Geodetic System 1984)",
                            text: "WGS84 (World Geodetic System 1984)",
                            checked: data['exemption-what-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)",
							hint: {
							  text: "Uses latitude and longitude"
							}
                        },
                        {
                            value: "British National Grid (OSGB36)",
                            text: "British National Grid (OSGB36)",
                            checked: data['exemption-what-coordinate-system-radios'] == "British National Grid (OSGB36)",
							hint: {
							  text: "Uses eastings and northings"
							}
                        }
                    ]
                })
            }}

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
            </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}

