{% extends "versions/multiple-sites-v2/consultation-v1/includes/layout.html" %}

{% set navActive = "home" %}
{% set pageTitle = "Home" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Natural England</span>
        <h1 class="govuk-heading-l">Home</h1>
        <p class="govuk-body">Respond to requests from the Marine Management Organisation (MMO) for advice on marine licence applications.</p>
        <p class="govuk-body"><a href="consultations" class="govuk-link govuk-link--no-visited-state">View consultation requests</a></p>
    </div>
</div>
{% endblock %}
