{% extends "versions/multiple-sites-v2/consultation-v1/includes/layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "versions/multiple-sites-v2/consultation-v1/includes/macros.html" import statusTag %}

{% set navActive = "consultations" %}
{% set isAdvice = request.type === "response-required" %}
{% set pageHeading = "Request for specialist advice for a marine licence application" if isAdvice else "Notification of a marine licence application" %}
{% set pageTitle = pageHeading %}
{% set backLink = "../consultations" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{ request.applicationName }}</span>
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if not isAdvice %}
        {{ govukWarningText({
            text: "You do not need to respond unless you have specific concerns or information you want to tell us."
        }) }}
        {% endif %}

        <h2 class="govuk-heading-m">About this request</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">{{ statusTag(request) }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date received</dt>
                <dd class="govuk-summary-list__value">{{ request.receivedOffset | daysFromToday }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Respond by</dt>
                <dd class="govuk-summary-list__value">{{ request.respondByOffset | daysFromToday }}</dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">About the application</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who the marine licence is for</dt>
                <dd class="govuk-summary-list__value">{{ request.applicant }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Application name</dt>
                <dd class="govuk-summary-list__value">{{ request.applicationName }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Summary of the proposed works</dt>
                <dd class="govuk-summary-list__value">{{ request.summary }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Full details</dt>
                <dd class="govuk-summary-list__value"><a href="../view-application/{{ request.id }}" class="govuk-link govuk-link--no-visited-state">View the application</a></dd>
            </div>
        </dl>

        {% if isAdvice %}
        <h2 class="govuk-heading-m">Advice requested by the MMO</h2>
        {# The case officer's plain-text request from MAS, one paragraph per line break #}
        {% for paragraph in request.adviceRequested %}
        <p class="govuk-body">{{ paragraph }}</p>
        {% endfor %}
        {% else %}
        <h2 class="govuk-heading-m">If you need to respond</h2>
        <p class="govuk-body">You can respond up to {{ request.respondByOffset | daysFromToday }} if you need to. We will consider any responses we receive by then when we make our decision.</p>
        {% endif %}

        {% if request.status === "Responded" %}
        <h2 class="govuk-heading-m">Your response</h2>
        <p class="govuk-body govuk-hint">Sent to the MMO on {{ request.respondedDate }}</p>
        <p class="govuk-body">{{ request.response }}</p>
        {% elif isAdvice %}
        {{ govukButton({
            text: "Respond to this request",
            href: "../respond/" + request.id
        }) }}
        {% else %}
        <p class="govuk-body">
            <a href="../respond/{{ request.id }}" class="govuk-link govuk-link--no-visited-state">Respond to this application</a>
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}
