{% extends "../../layouts/sample-plans-v2.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Disposal sites and details
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/guidance/deposits" target="_blank">Read the guidance on deposits</a>. This includes guidance on disposal of material at sea.
      </p>

      <p class="govuk-body">In the next step, you'll need to tell us the following for every site:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if you want to dispose of material at an existing or new disposal site</li>
        <li>type of material being disposed</li>
        <li>method of disposal</li>
        <li>maximum disposal volume for the full licence period</li>
        <li>if any material being disposed of will be re-used to benefit the environment (beneficial use)</li>
      </ul>

      <h2 class="govuk-heading-m">Using an existing designated disposal site</h2>

      <p class="govuk-body">You need to tell us the location of the existing designated disposal site you plan to use. You can provide the existing site location by selecting it from a list. You can filter the list and search for an existing disposal site by using any, or all, of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>disposal site code</li>
        <li>name of the disposal site</li>
        <li>site location</li>
        <li>marine area the disposal site is located in</li>
        <li>site status</li>
      </ul>

      <h2 class="govuk-heading-m">Request a new disposal site</h2>

      <p class="govuk-body">To request a new disposal site to be designated you need to tell us its location.</p>

      <p>The Marine Management Organisation will review the location you provide to determine if a new disposal site can be designated at this location.</p>

      <p class="govuk-body">You can provide the site location in 1 of 2 ways. You cannot do both. You can either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>upload a shapefile or KML file with the coordinates</li>
        <li>enter the coordinates manually</li>
      </ul>

      <h3 class="govuk-heading-s">Projects with multiple sites</h3>

      <p class="govuk-body">You need to give separate location details for each disposal site if your project has multiple sites.</p>

      <p class="govuk-body">If you're uploading a file you need to include all the sites in 1 file.</p>

      <h2 class="govuk-heading-m">Defining the site boundary</h2>

      <p class="govuk-body">The coordinates must mark the full boundary of every site, including space for any movement or small changes in the activity location.</p>

        <form action="before-you-start-router" method="post" novalidate>
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a class="govuk-link govuk-link--no-visited-state" href="../sample-plan-start-page">Cancel</a>
            </div>

        </form>

    </div>
</div>
{% endblock %}
