{% extends "../../layouts/sample-plans.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="../sample-plan-start-page">Back to the sample plan start page</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Disposal sites and details
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <p class="govuk-body">You've told us you plan to dispose of material at both existing and new disposal sites.</p>
            
        <p>You can complete or make changes to site details, and add and delete sites on each of the relevant pages.</p>

        <ul class="govuk-task-list">
            <!-- Existing disposal sites task -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['has-visited-disposal-site-review'] or data['sample-disposal-site-selected'] %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" 
                           href="review-disposal-site-details" 
                           aria-describedby="existing-disposal-sites-status">
                            Existing disposal sites
                        </a>
                    {% else %}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" 
                           href="find-existing-disposal-site-lean-v2?disposal-site-code-or-name=&include-closed-disused=" 
                           aria-describedby="existing-disposal-sites-status">
                            Existing disposal sites
                        </a>
                    {% endif %}
                </div>
                
                <div class="govuk-task-list__status" id="existing-disposal-sites-status">
                    {% set existingSite1Complete = data['sample-disposal-site-material-type-completed'] and data['sample-disposal-site-disposal-method-completed'] and data['sample-disposal-site-1-maximum-volume-completed'] and data['sample-disposal-site-1-beneficial-use-completed'] %}
                    {% set existingSite2Complete = data['sample-disposal-site-2-material-type-completed'] and data['sample-disposal-site-2-disposal-method-completed'] and data['sample-disposal-site-2-maximum-volume-completed'] and data['sample-disposal-site-2-beneficial-use-completed'] %}
                    {% set hasSite2 = data['sample-disposal-site-2-selected'] %}
                    {% set existingSitesComplete = existingSite1Complete and (not hasSite2 or existingSite2Complete) %}
                    
                    {% if data['sample-disposal-site-selected'] and existingSitesComplete %}
                        Completed
                    {% elif data['has-visited-disposal-site-review'] or data['sample-disposal-site-selected'] %}
                        <strong class="govuk-tag govuk-tag--light-blue">
                            In progress
                        </strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                    {% endif %}
                </div>
            </li>

            <!-- New disposal sites task -->
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data['has-visited-manual-disposal-site-locations'] %}
                        {# Manual entry journey #}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" 
                           href="new-disposal-sites/manual-entry/review-manual-disposal-site-details" 
                           aria-describedby="new-disposal-sites-status">
                            New disposal sites
                        </a>
                    {% elif data['has-visited-new-disposal-site-locations'] %}
                        {# File upload journey #}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" 
                           href="new-disposal-sites/review-new-disposal-site-details" 
                           aria-describedby="new-disposal-sites-status">
                            New disposal sites
                        </a>
                    {% else %}
                        {# Not started #}
                        <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" 
                           href="new-disposal-sites/how-do-you-want-to-provide-site-location" 
                           aria-describedby="new-disposal-sites-status">
                            New disposal sites
                        </a>
                    {% endif %}
                </div>
                
                <div class="govuk-task-list__status" id="new-disposal-sites-status">
                    {% if data['new-disposal-sites-all-complete'] %}
                        Completed
                    {% elif data['has-visited-new-disposal-site-locations'] or data['has-visited-manual-disposal-site-locations'] %}
                        <strong class="govuk-tag govuk-tag--light-blue">
                            In progress
                        </strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                    {% endif %}
                </div>
            </li>
        </ul>

        <p class="govuk-body">
            <a href="delete-all-disposal-sites" class="govuk-link govuk-link--no-visited-state">
                Delete all disposal sites and start task again
            </a>
        </p>

    </div>
</div>

{% endblock %}

