{% extends "../../layouts/sample-plans.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Where do you want to dispose of the material?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}

<!-- Error summary -->
{% if data['sample-plan-errorthispage'] == "true" %}
    {% set errorArray = [] %}
    {% if data['sample-plan-errortypeone'] == "true" %}
        {% set errorArray = (errorArray.push({"text": "Select where you want to dispose of the material", "href": "#sample-plan-where-dispose-material"}), errorArray) %}
    {% endif %}

    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorArray
    }) }}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="where-dispose-of-material-router" method="post">
            
            {{ govukRadios({
                    fieldset: {
                        legend: {
                            html: '<span class="govuk-caption-l">' + data['sample-plan-project-name-text-input'] + '</span>' + pageHeadingTextHTML,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "Use an existing designated disposal site",
                            text: "Use an existing designated disposal site",
                            checked: data['sample-plan-where-dispose-material'] === "Use an existing designated disposal site"
                        },
                        {
                            value: "Request a new disposal site to be designated",
                            text: "Request a new disposal site to be designated",
                            checked: data['sample-plan-where-dispose-material'] === "Request a new disposal site to be designated"
                        }
                    ],
                    name: "sample-plan-where-dispose-material",
                    errorMessage: {
                        text: "Select where you want to dispose of the material"
                    } if data['sample-plan-errortypeone'] == "true"
                }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
                
                <a class="govuk-link govuk-link--no-visited-state" href="">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}
