{% extends "../../layouts/exemption.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% include "../../includes/phase-banner.html" %}
{{ super() }}
{% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Activity description
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if errors.description %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if errors.description %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errors.description,
                            href: "#activity-details-text-area"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

        <!-- go to routes.js for routing  -->
        <form action="activity-description-router?site={{ siteParam }}{% if returnTo %}&returnTo={{ returnTo }}{% endif %}" method="post" novalidate>

            <div class="govuk-form-group {% if errors.description %}govuk-form-group--error{% endif %}">
                <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="activity-details-text-area">
                    {{ pageHeadingTextHTML }}
                  </label>
                </h1>
              
                <p>Briefly describe what you'll do at all sites, how you'll do it, and why.</p>
                
                <p>For example, 'Collect a 0.1 cubic metre seabed sample by day grab from a workboat for particle size analysis'.</p>
              
                {% if errors.description %}
                  <p id="activity-details-text-area-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors.description }}
                  </p>
                {% endif %}
              
                <textarea
                  class="govuk-textarea {% if errors.description %}govuk-textarea--error{% endif %}"
                  id="activity-details-text-area"
                  name="activity-details-text-area"
                  rows="8"
                  aria-describedby="activity-details-text-area-hint{% if errors.description %} activity-details-text-area-error{% endif %}"
                >{{ sharedDescription }}</textarea>
              </div>

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue" if returnTo == 'review-site-details' else "Continue"
                }) }}
                {% if returnTo !== 'review-site-details' %}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
                {% endif %}
              </div>
        </form>
    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&"
                {% if not errors.description %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&"
                {% if errors.description %}selected{% endif %}
        >Error 1 - No answer entered</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}

<!-- Generated by Copilot --> 