{% extends "../../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Activity dates
{% endset %}

{% set question1TextHTML %}
Start date
{% endset %}

{% set question2TextHTML %}
End date
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if errors.startDate or errors.endDate %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- ERROR LOGIC 'error summary' -->
{% if errors.startDate or errors.endDate %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if errors.startDate %}
          <li><a href="#start-date-date-input-day">{{ errors.startDate }}</a></li>
        {% endif %}
        {% if errors.endDate %}
          <li><a href="#end-date-date-input-day">{{ errors.endDate }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
        <!--  END OF 'error summary' -->
        
        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
		</h1>
        <p>Enter the activity dates for all sites. Allow time for potential delays, like consents (for example, a river works licence) or bad weather. If you miss the dates, you'll need to restart the process.</p>
        <p>You can enter a start date from today and begin your activity as soon as you've sent your information.</p>
        
        <form action="activity-dates-router?site={{ siteParam }}{% if returnTo %}&returnTo={{ returnTo }}{% endif %}" method="post" novalidate>

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

			{{ govukDateInput({
				idPrefix: "start-date-date-input",
				namePrefix: "start-date-date-input",
				fieldset: {
					legend: {
						html: question1TextHTML,
						isPageHeading: false,
						classes: "govuk-fieldset__legend--s"
					}
				},
				hint: {
					text: "For example, 27 7 2026"
				},
				errorMessage: null if not errors.startDate
							   else { text: errors.startDate },
				items: [
					{ name: "day", classes: "govuk-input--width-2", value: sharedStartDate.day, attributes: { autocomplete: "off", inputmode: "numeric" } },
					{ name: "month", classes: "govuk-input--width-2", value: sharedStartDate.month, attributes: { autocomplete: "off", inputmode: "numeric" } },
					{ name: "year", classes: "govuk-input--width-4", value: sharedStartDate.year, attributes: { autocomplete: "off", inputmode: "numeric" } }
				]
			}) }}

			{{ govukDateInput({
				idPrefix: "end-date-date-input",
				namePrefix: "end-date-date-input",
				fieldset: {
					legend: {
						html: question2TextHTML,
						isPageHeading: false,
						classes: "govuk-fieldset__legend--s"
					}
				},
				hint: {
					text: "For example, 27 8 2026"
				},
				errorMessage: null if not errors.endDate
							   else { text: errors.endDate },
				items: [
					{ name: "day", classes: "govuk-input--width-2", value: sharedEndDate.day, attributes: { autocomplete: "off", inputmode: "numeric" } },
					{ name: "month", classes: "govuk-input--width-2", value: sharedEndDate.month, attributes: { autocomplete: "off", inputmode: "numeric" } },
					{ name: "year", classes: "govuk-input--width-4", value: sharedEndDate.year, attributes: { autocomplete: "off", inputmode: "numeric" } }
				]
			}) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue" if returnTo == 'review-site-details' else "Continue"
        }) }}
        {% if returnTo !== 'review-site-details' %}
        <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
        {% endif %}
      </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&startdateerror=false&enddateerror=false&"
                {% if not errors.startDate and not errors.endDate %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&startdateerror=true&enddateerror=false&"
                {% if errors.startDate and not errors.endDate %}selected{% endif %}
        >Error 1 - Start date missing</option>

        <option value="errorthispage=true&startdateerror=false&enddateerror=true&"
                {% if not errors.startDate and errors.endDate %}selected{% endif %}
        >Error 2 - End date missing</option>

        <option value="errorthispage=true&startdateerror=true&enddateerror=true&"
                {% if errors.startDate and errors.endDate %}selected{% endif %}
        >Error 3 - Both dates missing</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}

<!-- Generated by Copilot --> 