{% extends "../../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% include "../../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Review site details
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>
        
        <!-- Check if all required fields are completed -->
        {% set allComplete = true %}
        
        <!-- Check for required fields -->
        {% if not data['manual-site-name-text-input'] %}
            {% set allComplete = false %}
        {% endif %}
        
        <!-- Check activity dates if they're the same for all sites -->
        {% if data['manual-same-activity-dates'] == "Yes" %}
            {% if not data['manual-start-date-date-input-day'] %}
                {% set allComplete = false %}
            {% endif %}
        {% else %}
            <!-- Check individual site dates if they're different -->
            {% if not data['manual-start-date-date-input-day'] %}
                {% set allComplete = false %}
            {% endif %}
        {% endif %}
        
        <!-- Check activity description if it's the same for all sites -->
        {% if data['manual-same-activity-description'] == "Yes" %}
            {% if not data['manual-activity-details-text-area'] %}
                {% set allComplete = false %}
            {% endif %}
        {% else %}
            <!-- Check individual site description if they're different -->
            {% if not data['manual-activity-details-text-area'] %}
                {% set allComplete = false %}
            {% endif %}
        {% endif %}
        
        <!-- Check coordinates based on method -->
        {% if data['manual-coordinate-entry-method'] == "Enter one set of coordinates and a width to create a circular site" %}
            {% if not data['manual-latitude'] or not data['manual-longitude'] or not data['manual-site-width'] %}
                {% set allComplete = false %}
            {% endif %}
        {% elif data['manual-coordinate-entry-method'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
            {% if not data['manual-coordinates-point-1-latitude'] or not data['manual-coordinates-point-1-longitude'] %}
                {% set allComplete = false %}
            {% endif %}
        {% endif %}

        {% if not allComplete %}
            {{ govukInsetText({
                html: "You must complete all sections marked <span class='govuk-tag govuk-tag--red'>Incomplete</span> before you can send your information.<br>You can select 'Save and continue' to keep your progress and return later."
            }) }}
        {% endif %}
        
        <!-- Activity details section -->
        <div id="activity-details" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Activity details
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are the activity dates the same for every site?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-same-activity-dates'] == "Yes" %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="same-activity-dates?returnTo=review-site-details#activity-details" class="govuk-link">
                                Change<span class="govuk-visually-hidden"> activity dates setting</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% if data['manual-same-activity-dates'] == "Yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity dates
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-start-date-date-input-day'] %}
                                {{ data['manual-start-date-date-input-day'] }} {{ data['manual-start-date-date-input-month'] | toMonth }} {{ data['manual-start-date-date-input-year'] }} to {{ data['manual-end-date-date-input-day'] }} {{ data['manual-end-date-date-input-month'] | toMonth }} {{ data['manual-end-date-date-input-year'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-dates?returnTo=review-site-details#activity-details" class="govuk-link">
                                {% if data['manual-start-date-date-input-day'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity dates</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Is the activity description the same for every site?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-same-activity-description'] == "Yes" %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="same-activity-description?returnTo=review-site-details#activity-details" class="govuk-link">
                                Change<span class="govuk-visually-hidden"> activity description setting</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% if data['manual-same-activity-description'] == "Yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-activity-details-text-area'] %}
                                {{ data['manual-activity-details-text-area'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-description?returnTo=review-site-details#activity-details" class="govuk-link">
                                {% if data['manual-activity-details-text-area'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity description</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>

        <!-- Site 1 details section -->
        <div id="site-1-details" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Site 1 details
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Site name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-site-name-text-input'] %}
                                {{ data['manual-site-name-text-input'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="site-name?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-site-name-text-input'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> site name</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% if data['manual-same-activity-dates'] != "Yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity dates
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-start-date-date-input-day'] %}
                                {{ data['manual-start-date-date-input-day'] }} {{ data['manual-start-date-date-input-month'] | toMonth }} {{ data['manual-start-date-date-input-year'] }} to {{ data['manual-end-date-date-input-day'] }} {{ data['manual-end-date-date-input-month'] | toMonth }} {{ data['manual-end-date-date-input-year'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="individual-site-activity-dates?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-start-date-date-input-day'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity dates</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if data['manual-same-activity-description'] != "Yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Activity description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-activity-details-text-area'] %}
                                {{ data['manual-activity-details-text-area'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="activity-description?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-activity-details-text-area'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity description</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Method of providing site location
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-coordinate-entry-method'] %}
                                Manually {{ data['manual-coordinate-entry-method'] | lower }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="how-do-you-want-to-enter-the-coordinates?clearSubsequent=true&returnTo=review-site-details#site-1-details" class="govuk-link">
                                Change<span class="govuk-visually-hidden"> method of providing site location</span>
                            </a>
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Coordinate system
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-coordinate-system-radios'] %}
                                {{ data['manual-coordinate-system-radios'] }}<br>
                                {% if data['manual-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                                    Latitude and longitude
                                {% elif data['manual-coordinate-system-radios'] == "OSGB36 (National Grid)" %}
                                    Eastings and Northings
                                {% endif %}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="which-coordinate-system?clearCoordinates=true&returnTo=review-site-details#site-1-details" class="govuk-link">
                                Change<span class="govuk-visually-hidden"> coordinate system</span>
                            </a>
                        </dd>
                    </div>
                    
                    <!-- Coordinate display based on method -->
                    {% if data['manual-coordinate-entry-method'] == "Enter one set of coordinates and a width to create a circular site" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Coordinates at centre of site
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-latitude'] and data['manual-longitude'] %}
                                {{ data['manual-latitude'] }}, {{ data['manual-longitude'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="enter-coordinates?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-latitude'] and data['manual-longitude'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> coordinates at centre of site</span>
                            </a>
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Width of circular site
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-site-width'] %}
                                {{ data['manual-site-width'] }} metres
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="site-width?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-site-width'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> width of circular site</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% elif data['manual-coordinate-entry-method'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Start and end points
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['manual-coordinates-point-1-latitude'] and data['manual-coordinates-point-1-longitude'] %}
                                {{ data['manual-coordinates-point-1-latitude'] }}, {{ data['manual-coordinates-point-1-longitude'] }}
                            {% else %}
                                <span class="govuk-tag govuk-tag--red">Incomplete</span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="enter-multiple-coordinates?returnTo=review-site-details#site-1-details" class="govuk-link">
                                {% if data['manual-coordinates-point-1-latitude'] and data['manual-coordinates-point-1-longitude'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> start and end points</span>
                            </a>
                        </dd>
                    </div>
                    
                    {% if data['manual-coordinates-point-2-latitude'] and data['manual-coordinates-point-2-longitude'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Point 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['manual-coordinates-point-2-latitude'] }}, {{ data['manual-coordinates-point-2-longitude'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if data['manual-coordinates-point-3-latitude'] and data['manual-coordinates-point-3-longitude'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Point 3
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['manual-coordinates-point-3-latitude'] }}, {{ data['manual-coordinates-point-3-longitude'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if data['manual-coordinates-point-4-latitude'] and data['manual-coordinates-point-4-longitude'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Point 4
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['manual-coordinates-point-4-latitude'] }}, {{ data['manual-coordinates-point-4-longitude'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if data['manual-coordinates-point-5-latitude'] and data['manual-coordinates-point-5-longitude'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Point 5
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['manual-coordinates-point-5-latitude'] }}, {{ data['manual-coordinates-point-5-longitude'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% endif %}
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Map view
                        </dt>
                        <dd class="govuk-summary-list__value">
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                </dl>
                
                <!-- Display appropriate map based on coordinate method -->
                {% if data['manual-coordinate-entry-method'] == "Enter one set of coordinates and a width to create a circular site" %}
                    {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
                        <img src="/public/images/pontoon-map-circle-copy.jpg" alt="Map showing site 1 location" width="100%" />
                    {% elif data['exemption'] == "sample-notification" %}
                        <img src="/public/images/worthing-map-circle-copy.jpg" alt="Map showing site 1 location" width="100%" />
                    {% endif %}
                    
                {% elif data['manual-coordinate-entry-method'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
                    {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
                        {% if data['manual-coordinates-point-4-latitude'] and data['manual-coordinates-point-4-longitude'] %}
                            {% if data['manual-coordinates-point-5-latitude'] and data['manual-coordinates-point-5-longitude'] %}
                                <img src="/public/images/pontoon-map-5-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                            {% else %}
                                <img src="/public/images/pontoon-map-4-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                            {% endif %}
                        {% else %}
                            <img src="/public/images/pontoon-map-3-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                        {% endif %}
                    {% elif data['exemption'] == "sample-notification" %}
                        {% if data['manual-coordinates-point-4-latitude'] and data['manual-coordinates-point-4-longitude'] %}
                            {% if data['manual-coordinates-point-5-latitude'] and data['manual-coordinates-point-5-longitude'] %}
                                <img src="/public/images/worthing-map-5-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                            {% else %}
                                <img src="/public/images/worthing-map-4-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                            {% endif %}
                        {% else %}
                            <img src="/public/images/worthing-map-3-points-copy.jpg" alt="Map showing site 1 location" width="100%" />
                        {% endif %}
                    {% endif %}
                {% else %}
                    <!-- Default map if no method selected -->
                    <img src="/public/images/worthing-map-drawn-copy.jpg" alt="Map showing site 1 location" width="100%" />
                {% endif %}
            </div>
        </div>

        <!-- Dynamic Site 2+ Details Sections -->
        {% set currentSiteNumber = data['manual-current-site'] | int or 1 %}
        {% if currentSiteNumber > 1 %}
            {% for siteNum in range(2, currentSiteNumber + 1) %}
                <div id="site-{{ siteNum }}-details" class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Site {{ siteNum }} details
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Site name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-name-text-input'] %}
                                        {{ data['manual-site-' + siteNum + '-name-text-input'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="site-name?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-name-text-input'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> site name</span>
                                    </a>
                                </dd>
                            </div>
                            
                            {% if data['manual-same-activity-dates'] != "Yes" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Activity dates
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-start-date-date-input-day'] %}
                                        {{ data['manual-site-' + siteNum + '-start-date-date-input-day'] }} {{ data['manual-site-' + siteNum + '-start-date-date-input-month'] | toMonth }} {{ data['manual-site-' + siteNum + '-start-date-date-input-year'] }} to {{ data['manual-site-' + siteNum + '-end-date-date-input-day'] }} {{ data['manual-site-' + siteNum + '-end-date-date-input-month'] | toMonth }} {{ data['manual-site-' + siteNum + '-end-date-date-input-year'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="individual-site-activity-dates?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-start-date-date-input-day'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity dates</span>
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% if data['manual-same-activity-description'] != "Yes" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Activity description
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-activity-details-text-area'] %}
                                        {{ data['manual-site-' + siteNum + '-activity-details-text-area'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="individual-site-activity-description?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-activity-details-text-area'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> activity description</span>
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Method of providing site location
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-coordinate-entry-method'] %}
                                        {{ data['manual-site-' + siteNum + '-coordinate-entry-method'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="how-do-you-want-to-enter-the-coordinates?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        Change<span class="govuk-visually-hidden"> method of providing site location</span>
                                    </a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Coordinate system
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-coordinate-system-radios'] %}
                                        {{ data['manual-site-' + siteNum + '-coordinate-system-radios'] }}<br>
                                        {% if data['manual-site-' + siteNum + '-coordinate-system-radios'] == "WGS84 (World Geodetic System 1984)" %}
                                            Latitude and longitude
                                        {% elif data['manual-site-' + siteNum + '-coordinate-system-radios'] == "OSGB36 (National Grid)" %}
                                            Eastings and Northings
                                        {% endif %}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="which-coordinate-system?site={{ siteNum }}&clearCoordinates=true&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        Change<span class="govuk-visually-hidden"> coordinate system</span>
                                    </a>
                                </dd>
                            </div>
                            
                            <!-- Coordinate display based on method for this site -->
                            {% if data['manual-site-' + siteNum + '-coordinate-entry-method'] == "Enter one set of coordinates and a width to create a circular site" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Coordinates at centre of site
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-latitude'] and data['manual-site-' + siteNum + '-longitude'] %}
                                        {{ data['manual-site-' + siteNum + '-latitude'] }}, {{ data['manual-site-' + siteNum + '-longitude'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="enter-coordinates?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-latitude'] and data['manual-site-' + siteNum + '-longitude'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> coordinates at centre of site</span>
                                    </a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Width of circular site
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-site-width'] %}
                                        {{ data['manual-site-' + siteNum + '-site-width'] }} metres
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="site-width?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-site-width'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> width of circular site</span>
                                    </a>
                                </dd>
                            </div>
                            
                            {% elif data['manual-site-' + siteNum + '-coordinate-entry-method'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Start and end points
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['manual-site-' + siteNum + '-coordinates-point-1-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-1-longitude'] %}
                                        {{ data['manual-site-' + siteNum + '-coordinates-point-1-latitude'] }}, {{ data['manual-site-' + siteNum + '-coordinates-point-1-longitude'] }}
                                    {% else %}
                                        <span class="govuk-tag govuk-tag--red">Incomplete</span>
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="enter-multiple-coordinates?site={{ siteNum }}&returnTo=review-site-details#site-{{ siteNum }}-details" class="govuk-link">
                                        {% if data['manual-site-' + siteNum + '-coordinates-point-1-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-1-longitude'] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> start and end points</span>
                                    </a>
                                </dd>
                            </div>
                            
                            {% if data['manual-site-' + siteNum + '-coordinates-point-2-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-2-longitude'] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Point 2
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ data['manual-site-' + siteNum + '-coordinates-point-2-latitude'] }}, {{ data['manual-site-' + siteNum + '-coordinates-point-2-longitude'] }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% if data['manual-site-' + siteNum + '-coordinates-point-3-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-3-longitude'] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Point 3
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ data['manual-site-' + siteNum + '-coordinates-point-3-latitude'] }}, {{ data['manual-site-' + siteNum + '-coordinates-point-3-longitude'] }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% if data['manual-site-' + siteNum + '-coordinates-point-4-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-4-longitude'] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Point 4
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ data['manual-site-' + siteNum + '-coordinates-point-4-latitude'] }}, {{ data['manual-site-' + siteNum + '-coordinates-point-4-longitude'] }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% if data['manual-site-' + siteNum + '-coordinates-point-5-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-5-longitude'] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Point 5
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ data['manual-site-' + siteNum + '-coordinates-point-5-latitude'] }}, {{ data['manual-site-' + siteNum + '-coordinates-point-5-longitude'] }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            {% endif %}
                            
                            {% endif %}
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Map view
                                </dt>
                                <dd class="govuk-summary-list__value">
                                </dd>
                                <dd class="govuk-summary-list__actions"></dd>
                            </div>
                        </dl>
                        
                        <!-- Display appropriate map based on coordinate method for this site -->
                        {% if data['manual-site-' + siteNum + '-coordinate-entry-method'] == "Enter one set of coordinates and a width to create a circular site" %}
                            {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
                                <img src="/public/images/pontoon-map-circle-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                            {% elif data['exemption'] == "sample-notification" %}
                                <img src="/public/images/worthing-map-circle-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                            {% endif %}
                            
                        {% elif data['manual-site-' + siteNum + '-coordinate-entry-method'] == "Enter multiple sets of coordinates to mark the boundary of the site" %}
                            {% if (data['exemption'] == "pontoon-approval" or data['exemption'] == "pontoon-notification" or data['exemption'] == "") %}
                                {% if data['manual-site-' + siteNum + '-coordinates-point-4-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-4-longitude'] %}
                                    {% if data['manual-site-' + siteNum + '-coordinates-point-5-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-5-longitude'] %}
                                        <img src="/public/images/pontoon-map-5-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                    {% else %}
                                        <img src="/public/images/pontoon-map-4-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                    {% endif %}
                                {% else %}
                                    <img src="/public/images/pontoon-map-3-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                {% endif %}
                            {% elif data['exemption'] == "sample-notification" %}
                                {% if data['manual-site-' + siteNum + '-coordinates-point-4-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-4-longitude'] %}
                                    {% if data['manual-site-' + siteNum + '-coordinates-point-5-latitude'] and data['manual-site-' + siteNum + '-coordinates-point-5-longitude'] %}
                                        <img src="/public/images/worthing-map-5-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                    {% else %}
                                        <img src="/public/images/worthing-map-4-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                    {% endif %}
                                {% else %}
                                    <img src="/public/images/worthing-map-3-points-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <!-- Default map if no method selected -->
                            <img src="/public/images/worthing-map-drawn-copy.jpg" alt="Map showing site {{ siteNum }} location" width="100%" />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Add the next site section -->
        <div class="govuk-!-margin-bottom-4">
            {{ govukButton({
                text: "Add the next site",
                classes: "govuk-button--secondary",
                attributes: {
                    onclick: "window.location.href='add-next-site-router'"
                }
            }) }}
        </div>

        <form action="../site-details-added" method="post" novalidate>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!-- USER TYPE TOGGLE  -->
<form method="post" action="#" class="for4" style="float: left; position: relative; bottom:-225px;">
    <select style="height:30px;" onchange="window.location.href='?'+this.value">
        <option value="user=citizen&" {% if data['user'] != "agent" %} selected {% endif %}>User type - Individual</option>
        <option value="user=agent&" {% if data['user'] == "agent" %} selected {% endif %}>User type - Agent</option>
    </select>
</form>
<!--  END USER TYPE TOGGLE -->

{% endblock %}

<!-- Generated by Copilot --> 