{% extends "../../layouts/exemption.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Enter the width of the circular site in metres
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if errors.siteWidth %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Get current site information -->
        {% set displaySiteNumber = site.globalNumber %}
        {% set siteWidthInputId = 'site-width' %}

        <!-- ERROR LOGIC 'error summary' -->
        {% if errors.siteWidth %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errors.siteWidth,
                            href: "#" + siteWidthInputId
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

        <!-- go to routes.js for routing  -->
        <form action="site-width-router?site={{ site.globalNumber }}{% if returnTo %}&returnTo={{ returnTo }}{% endif %}" method="post" novalidate>

            {% if errors.siteWidth %}
            <div class="govuk-form-group govuk-form-group--error">
            {% else %}
            <div class="govuk-form-group">
            {% endif %}
            
                <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}{% if data['manual-multiple-sites'] == 'Yes' %}<span class="govuk-!-display-block">Site {{ displaySiteNumber }}</span>{% endif %}</span>
                <h1 class="govuk-heading-l">
                    {{ pageHeadingTextHTML }}
                </h1>
                
                {% if errors.siteWidth %}
                <p id="{{ siteWidthInputId }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors.siteWidth }}
                </p>
                {% endif %}
                
                {{ govukInput
                    ({
                        label:
                        {
                            html: pageHeadingTextHTML,
                            classes: "govuk-visually-hidden",
                            isPageHeading: false
                        },

                        autocomplete: "off",

                        id: siteWidthInputId,

                        name: siteWidthInputId,

                        value: site.coordinates.width,
                        suffix:
                        {
                            text: "metres"
                        },
                        classes: "govuk-input--width-5" + (" govuk-input--error" if errors.siteWidth else ""),
                        
                        formGroup: {
                            classes: "govuk-!-margin-bottom-0"
                        }
                    })
                }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save and continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
            </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if not errors.siteWidth %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 1 - If answer is not a number when it should be</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 2 - If answer is not a whole number</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=true&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 3 - If answer (number) is 0</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=true&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 4 - If answer (number) is less than 0 (negative)</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 5 - If answer (number) is too low</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=false&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 6 - If answer (number) is too high</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=true&"
                {% if errors.siteWidth %}selected{% endif %}
        >Error 7 - If answer must be between 2 numbers</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %} 