{% extends "../../layouts/exemption.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% include "../../includes/back-link.html" %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Enter the width of the circular site in metres
{% endset %}

<!-- Set the text for each error type -->
{% set errorTextHTML %}
    {%  if  data['errorthispage'] == "true"  %}
    Enter the width of the circular site in metres
    {%  endif  %}
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Get current site number -->
        {% set currentSite = (query.site | int) or (data['current-site'] | int) or 1 %}
        {% set sitePrefix = 'manual-' if currentSite == 1 else 'manual-site-' + currentSite + '-' %}
        
        <!-- The currentSite from URL parameter is already the global site number -->
        {% set displaySiteNumber = currentSite %}
        {% set siteWidthInputId = sitePrefix + 'site-width' %}

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#" + siteWidthInputId
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->

        <!-- go to routes.js for routing  -->
        <form action="site-width-router{% if currentSite > 1 %}?site={{ currentSite }}{% endif %}" method="post" novalidate>

            {% if data['errorthispage'] == "true" %}
            <div class="govuk-form-group govuk-form-group--error">
            {% else %}
            <div class="govuk-form-group">
            {% endif %}
            
                <span class="govuk-caption-l">{{ data['exemption-project-name-text-input'] }}</span>
                <h1 class="govuk-heading-l">
                    {{ pageHeadingTextHTML }}
                    <span class="govuk-caption-l">Site {{ displaySiteNumber }}</span>
                </h1>
                
                {% if data['errorthispage'] == "true" %}
                <p id="{{ siteWidthInputId }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errorTextHTML }}
                </p>
                {% endif %}
                
                {{ govukInput
                    ({
                        label:
                        {
                            html: pageHeadingTextHTML,
                            classes: "govuk-visually-hidden",
                            isPageHeading: false
                        },

                        autocomplete: "off",

                        id: siteWidthInputId,

                        name: siteWidthInputId,

                        value: data[siteWidthInputId],
                        suffix:
                        {
                            text: "metres"
                        },
                        classes: "govuk-input--width-5" + (" govuk-input--error" if data['errorthispage'] == "true" else ""),
                        
                        formGroup: {
                            classes: "govuk-!-margin-bottom-0"
                        }
                    })
                }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-site-details">Cancel</a>
            </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 1 - If answer is not a number when it should be</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] == 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 2 - If answer is not a whole number</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=true&errortypefour=false&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] == 'true'  and  data['errortypefour'] != 'true'   and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 3 - If answer (number) is 0</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=true&errortypefive=false&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] == 'true'  and  data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 4 - If answer (number) is less than 0 (negative)</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] == 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 5 - If answer (number) is too low</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] != 'true'  and  data['errortypesix'] == 'true'  and  data['errortypeseven'] != 'true'  %}selected{% endif %}
        >Error 6 - If answer (number) is too high</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&errortypesix=false&errortypeseven=true&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  and  data['errortypeseven'] == 'true'  %}selected{% endif %}
        >Error 7 - If answer must be between 2 numbers</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->

{% endblock %} 