{% extends "../layouts/sample-plans.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Dredging volumes and beneficial use
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">In the next step, you'll need to tell us:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>maximum dredging volume for either the whole licence period, annually or per campaign</li>
            <li>if any of the dredged material is for beneficial use (the material being disposed of is re-used to benefit the environment)</li>
        </ul>

        <form method="post" action="before-you-start-dredging-volume-router">
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a class="govuk-link govuk-link--no-visited-state" href="">Cancel</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}
