{% extends "../layouts/sample-plans-v2.html" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
What are the details of your existing marine licence?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{% if data['sample-plan-errorthispage'] == "true" %}
Error:
{% endif %}
{{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set errorList = [] %}

        {% if data['sample-plan-errortypetwo'] == 'true' %}
            {% set errorList = errorList.concat([{
                text: "Enter the licence number",
                href: "#sample-plan-licence-number"
            }]) %}
        {% endif %}

        {% if data['sample-plan-errortypeone'] == 'true' %}
            {% set errorList = errorList.concat([{
                text: "Enter the marine licence expiry date",
                href: "#sample-plan-licence-expiry-day"
            }]) %}
        {% endif %}
        {% if data['sample-plan-errorthispage'] == "true" %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}
        {% endif %}

        <!--  END OF 'error summary' -->

        <form action="existing-licence-expiry-router" method="post" novalidate>
          <h1 class="govuk-heading-l">
            {% if data['sample-plan-project-name-text-input'] %}<span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>{% endif %}
            {{ pageHeadingTextHTML | safe }}
          </h1>

          {{ govukInput({
            id: "sample-plan-licence-number",
            name: "sample-plan-licence-number",
            value: data['sample-plan-licence-number'],
            classes: "govuk-input--width-20",
            label: {
              text: "Licence number",
              classes: "govuk-fieldset__legend--s"
            },
            hint: {
              text: "For example, MLA/2025/00123"
            },
            errorMessage: {
              text: "Enter the licence number"
            } if data['sample-plan-errortypetwo'] == "true"
          }) }}

            {{ govukDateInput({
                id: "sample-plan-licence-expiry",
                namePrefix: "sample-plan-licence-expiry",
                fieldset: {
                    legend: {
                        text: "When is the licence expiry date?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "For example, 31 3 2026"
                },
                errorMessage: {
                    text: "Enter the marine licence expiry date"
                } if data['sample-plan-errortypeone'] == "true",
                items: [
                    {
                        id: "day",
                        name: "day",
                        label: "Day",
                        value: data['sample-plan-licence-expiry-day'],
                        classes: "govuk-input--width-2"
                    },
                    {
                        id: "month",
                        name: "month",
                        label: "Month",
                        value: data['sample-plan-licence-expiry-month'],
                        classes: "govuk-input--width-2"
                    },
                    {
                        id: "year",
                        name: "year",
                        label: "Year",
                        value: data['sample-plan-licence-expiry-year'],
                        classes: "govuk-input--width-4"
                    }
                ]
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and continue"
                }) }}

                {% if data['camefromcheckanswers'] != 'true' %}
                <a class="govuk-link govuk-link--no-visited-state" href="">Cancel</a>
                {% endif %}
            </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Updated to use sample-plan specific data values to avoid conflicts with exemption journey -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option
            value="sample-plan-errorthispage=false&sample-plan-errortypeone=false&sample-plan-errortypetwo=false&sample-plan-errortypethree=false&sample-plan-errortypefour=false&sample-plan-errortypefive=false&sample-plan-errortypesix=false&"
            {% if data['sample-plan-errorthispage'] !="true" %}selected{% endif %}>Errors - Off</option>

        <option
            value="sample-plan-errorthispage=true&sample-plan-errortypeone=true&sample-plan-errortypetwo=false&sample-plan-errortypethree=false&sample-plan-errortypefour=false&sample-plan-errortypefive=false&sample-plan-errortypesix=false&"
            {% if data['sample-plan-errortypeone']=='true' and data['sample-plan-errortypetwo'] !='true' %}selected{% endif %}>Error 1 - No date entered</option>

        <option
            value="sample-plan-errorthispage=true&sample-plan-errortypeone=false&sample-plan-errortypetwo=true&sample-plan-errortypethree=false&sample-plan-errortypefour=false&sample-plan-errortypefive=false&sample-plan-errortypesix=false&"
            {% if data['sample-plan-errortypetwo']=='true' and data['sample-plan-errortypeone'] !='true' %}selected{% endif %}>Error 2 - No licence number entered</option>

        <option
            value="sample-plan-errorthispage=true&sample-plan-errortypeone=true&sample-plan-errortypetwo=true&sample-plan-errortypethree=false&sample-plan-errortypefour=false&sample-plan-errortypefive=false&sample-plan-errortypesix=false&"
            {% if data['sample-plan-errortypetwo']=='true' and data['sample-plan-errortypeone']=='true' %}selected{% endif %}>Error 1 & 2</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}
