{% extends "../layouts/sample-plans.html" %}

{% block beforeContent %}
	{% include "../includes/phase-banner.html" %} 
	{% include "../includes/back-link.html" %}
{% endblock %}
<!--End of Remove this after UR-->

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
You need to get a plan for sediment sample analysis before you can apply for a marine licence
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerName'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		<p>Based on your answers you need to apply for a marine licence to do dredging or disposal activities.</p>

		<h2 class="govuk-heading-m">Before you apply for a marine licence</h2>

		<h3 class="govuk-heading-s">Send us some information to get a sample plan agreed</h3>

		<p>A sample plan lists the samples you need to take and how you need to take them. A sample plan is required by the <a href="https://www.imo.org/en/ourwork/environment/pages/london-convention-protocol.aspx" rel="noreferrer noopener" target="_blank">London Convention</a> and <a href="https://www.ospar.org/convention" rel="noreferrer noopener" target="_blank">OSPAR convention</a> to make sure any material being dredged or disposed is safe to be disposed of at sea.</p>

		<p>You'll also need to agree to an estimate of costs for £3102.24 for the sampling before you can take samples.</p>

		<h3 class="govuk-heading-s">Take samples</h3>

		<p>You need to collect the samples listed in your sample plan.</p>

		<h3 class="govuk-heading-s">Get the samples analysed</h3>

		<p>The samples need to be analysed by a Marine Management Organisation (MMO) approved laboratory.</p>

		<p>Costs for getting samples analysed are separate and not included as part of the estimate.</p>

		<h3 class="govuk-heading-s">Apply for a marine licence</h3>

		<p>Once the samples have been analysed you need to send us the results as part of your application to get a marine licence.</p>

		<p>There's a separate cost for a marine licence. The cost of a marine licence varies depending on what the licence is for.</p>

		<p class="govuk-!-font-weight-bold">If you apply for a marine licence without the required sample analysis the application will be put on hold until this is completed.</p>
		<p>This is a 'beta' service - <a href="https://www.gov.uk/help/beta" rel="noreferrer noopener" target="_blank">find out what this means for you (opens in new tab)</a>.</p>

		<p>You'll need a Defra account to use this service. You can create a Defra account in the next step.</p>
		
		<div class="">
			<a href="sign-in" class="govuk-button" role="button">Continue</a> <a href="" class="govuk-button govuk-button--secondary" role="button">Download a PDF record of my answers</a>
		</div>

	</div>
</div>
{% endblock %}