{% extends "../layouts/sample-plans-v2.html" %}

<!-- Set a variable to identify this specific page -->
{% set currentPageId = "sample-plans-home" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work",
  navigation: [
    {
      href: "homepage",
      text: "Home",
      active: true
    },
    {
      href: "projects",
      text: "Projects",
      active: false
    },
    {
      href: "#",
      text: "Defra account",
      active: false
    },
    {
      href: "/versions/multiple-sites-v2/sample-plans-v1/sign-in.html?goto=home",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
    <div class="app-organisation-switcher">
		<span class="govuk-body-s govuk-!-font-weight-bold app-organisation-switcher__name">{{ data['organisation-name'] }}</span>

				<a class="govuk-link app-organisation-switcher__link govuk-link--no-visited-state" href="organisation-selector">
					Change who you're representing
				</a>
	</div>
    {% endif %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Home
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">{{ data['organisation-name'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<a href="projects" class="homepage-tile-card">
				<h2 class="govuk-heading-m homepage-tile-card__heading">View projects</h2>
				<p class="govuk-body homepage-tile-card__description">View all of the existing projects in this account.</p>
			</a>
		</div>

			<div class="govuk-grid-column-one-third">
				<a href="/versions/multiple-sites-v2/start-improved" class="homepage-tile-card">
					<h2 class="govuk-heading-m homepage-tile-card__heading">Check if I need a marine licence</h2>
					<p class="govuk-body homepage-tile-card__description">Find out if an activity needs a marine licence or if it's exempt.</p>
				</a>
			</div>

		<div class="govuk-grid-column-one-third">
			<a href="project-name-start?sample-plan-project-name-text-input=" class="homepage-tile-card">
				<h2 class="govuk-heading-m homepage-tile-card__heading">Get a plan for sediment sample analysis</h2>
				<p class="govuk-body homepage-tile-card__description">Send information to get a plan for taking sediment samples for analysis.</p>
			</a>
		</div>
		</div>

	</div>
</div>
{% endblock %}

