{% extends "../layouts/sample-plans-v2.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
  {% if changingOrganisation or data['changing-organisation'] === 'true' %}
    {{ govukHeader({
      classes: "govuk-header--full-width-border"
    }) }}
    {{ govukServiceNavigation({
      serviceName: "Get permission for marine work",
      navigation: [
        {
          href: "homepage",
          text: "Home",
          active: false
        },
        {
          href: "projects",
          text: "Projects",
          active: false
        },
        {
          href: "#",
          text: "Defra account",
          active: false
        },
        {
          href: "sign-in",
          text: "Sign out"
        }
      ]
    }) }}
  {% else %}
    {{ govukHeader({
      classes: "govuk-header--full-width-border"
    }) }}
    {{ govukServiceNavigation({
      serviceName: "Get permission for marine work"
    }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if changingOrganisation or data['changing-organisation'] === 'true' %}
      {% include "../includes/organisation-switcher.html" %}
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    {% endif %}
{% endblock %}


<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Who do you want to represent?
{% endset %}

{% set errorText1HTML %}
    Select an organisation
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['sample-plan-errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerNameSamplePlan'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- ERROR LOGIC 'error summary' -->
{% if data['sample-plan-errorthispage'] == "true" %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if data['sample-plan-errortypeone'] == "true" %}
          <li><a href="#organisation-selector">{{ errorText1HTML }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
        <!--  END OF 'error summary' -->
        
        <form action="organisation-selector-router" method="post" novalidate>

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set legendHTML %}
{{ pageHeadingTextHTML }}
{% endset %}

{{ govukRadios({
  idPrefix: "organisation-selector",
  name: "organisation-name",
  value: data['organisation-name'],
  fieldset: {
    legend: {
      html: legendHTML,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: organisations,
  errorMessage: {
    text: errorText1HTML
  } if data['sample-plan-errortypeone'] == "true"
}) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
    </div>

        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-325px; padding-bottom: 30px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="sample-plan-errorthispage=false&sample-plan-errortypeone=false&"
                {% if (data['sample-plan-errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="sample-plan-errorthispage=true&sample-plan-errortypeone=true&"
                {% if (data['sample-plan-errortypeone'] == 'true') %}selected{% endif %}
        >Error 1 - No selection made</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->

{% endblock %}

<!-- Generated by Copilot -->
