{% extends "../layouts/sample-plans-v2.html" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!-- Set a variable to identify this specific page -->
{% set currentPageId = "sample-plans-projects" %}

{% block head %}
  {{ super() }}
  <style>
  /* Error styling for person checkboxes conditional panel */
  .govuk-radios__conditional.error-state {
    border-left-color: #d4351c;
  }
  
  .person-error-message {
    display: none;
    color: #d4351c;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  /* Results count styling */
  #results-count {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #results-count.error-message {
    color: #d4351c;
    font-weight: 700;
  }
  
  /* Full width button */
  .govuk-button--full-width {
    width: 100%;
  }
  </style>
{% endblock %}

{% block header %}
{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "Get permission for marine work",
  serviceUrl: "/versions/multiple-sites-v2/sample-plans-v2/homepage",
  navigation: [
    {
      href: "homepage",
      text: "Home",
      active: false
    },
    {
      href: "projects",
      text: "Projects",
      active: true
    },
    {
      href: "#",
      text: "Defra account",
      active: false
    },
    {
      href: "/versions/multiple-sites-v2/sample-plans-v1/sign-in.html?goto=home",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% if data['user_type'] === 'organisation' %}
  <div class="app-organisation-switcher">
    <span class="govuk-body-s govuk-!-font-weight-bold app-organisation-switcher__name">{{ data['organisation-name'] }}</span>
    <a class="govuk-link app-organisation-switcher__link govuk-link--no-visited-state" href="organisation-selector?change=true&returnTo=projects">
      Change who you're representing
    </a>
  </div>
  {% endif %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Projects
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Get permission for marine work
{% endblock %}

{% block content %}

<!-- Notification banner -->
{% set notificationHtml %}
  <p class="govuk-notification-banner__heading govuk-!-margin-bottom-3" style="width: 100%; max-width: none; margin: 0;">
    You may need to log in to a different system to access some of your applications
  </p>
  <p class="govuk-body" style="width: 100%; max-width: none; margin: 0;">
    <a class="govuk-notification-banner__link" href="#">Sign in to the Marine Case Management System</a> to view or manage information that is not available in this system.
  </p>
{% endset %}

<!--<div style="width: 100%; max-width: 1280px; margin: 0 auto;">
{{ govukNotificationBanner({
  html: notificationHtml
}) }}
</div>-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">{{ data['organisation-name'] }}</span>
    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>
  </div>
</div>

    <div class="moj-filter-layout">
      <div class="moj-filter-layout__filter" id="moj-filter">
        <div class="moj-filter" data-module="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="moj-filter__header-action">
            </div>
          </div>
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>
            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="#" id="clear-filters">Clear filters</a></p>
            </div>
          </div>
          <div id="selected-filter-tags">
             <!-- Tags will be injected here by JS -->
          </div>
        </div>
        <div class="moj-filter__options">
          <button type="submit" class="govuk-button govuk-button--full-width govuk-!-margin-bottom-4" data-module="govuk-button" id="apply-filters-button">
            Apply filters
          </button>
          
          {% set personHtml %}
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">
              Select a person
            </legend>
            <p class="person-error-message" id="person-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select a person to view their projects
            </p>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="person-alex" name="person" type="checkbox" value="alex-williams">
                <label class="govuk-label govuk-checkboxes__label" for="person-alex">
                  Alex Williams <span class="person-count" data-person="alex-williams">(0)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="person-james" name="person" type="checkbox" value="james-thompson">
                <label class="govuk-label govuk-checkboxes__label" for="person-james">
                  James Thompson <span class="person-count" data-person="james-thompson">(0)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="person-jon" name="person" type="checkbox" value="jon-doe">
                <label class="govuk-label govuk-checkboxes__label" for="person-jon">
                  John Smith <span class="person-count" data-person="jon-doe">(0)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="person-sarah" name="person" type="checkbox" value="sarah-chen">
                <label class="govuk-label govuk-checkboxes__label" for="person-sarah">
                  Sarah Chen <span class="person-count" data-person="sarah-chen">(0)</span>
                </label>
              </div>
            </div>
          </fieldset>
          {% endset %}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Show
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-checkboxes__input govuk-radios__input" id="filter-all" name="projectFilter" type="radio" value="all-projects" checked>
                  <label class="govuk-label govuk-radios__label" for="filter-all">
                    All {{ data['organisation-name'] or "Ramsgate Marina" }} projects <span id="count-all-projects">(0)</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-checkboxes__input govuk-radios__input" id="filter-my" name="projectFilter" type="radio" value="my-projects">
                  <label class="govuk-label govuk-radios__label" for="filter-my">
                    My projects <span id="count-my-projects">(0)</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-checkboxes__input govuk-radios__input" id="filter-specific" name="projectFilter" type="radio" value="specific-person" data-aria-controls="conditional-specific-person">
                  <label class="govuk-label govuk-radios__label" for="filter-specific">
                    Projects by owner
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-specific-person">
                  {{ personHtml | safe }}
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="project-name">
              Project name
            </label>
            <div id="project-name-hint" class="govuk-hint">
				Enter full or partial name
            </div>
            <input class="govuk-input" id="project-name" name="project-name" type="text" aria-describedby="project-name-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="reference">
              Reference
            </label>
            <div id="reference-hint" class="govuk-hint">
				Enter full or partial name
            </div>
            <input class="govuk-input" id="reference" name="reference" type="text" aria-describedby="reference-hint">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Type
              </legend>
              <div id="type-checkboxes-container" class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <!-- Dynamically populated by JavaScript -->
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Status
              </legend>
              <div id="status-checkboxes-container" class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <!-- Dynamically populated by JavaScript -->
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="moj-filter-layout__content">
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter">
        <button class="govuk-button govuk-button--secondary moj-filter__toggle" type="button" data-aria-controls="moj-filter" aria-expanded="true">
          Hide filter
        </button>
      </div>
    </div>
    
    <p id="results-count" class="govuk-body"><strong>10 results found in 'All Ramsgate Marina projects'</strong></p>
    
    <table class="govuk-table" data-module="moj-sortable-table" id="projects-table">
      <caption class="govuk-table__caption govuk-visually-hidden">{{ pageHeadingTextHTML }}</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="none">Project name</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Reference</th>
        <th scope="col" class="govuk-table__header" aria-sort="descending">Status</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Submitted</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Owner</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!-- Exempt activity notifications -->
        <tr class="govuk-table__row" data-creator="jon-doe" data-type="Exempt activity notification" data-status="Closed">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Branscombe bore holes</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10002">EXE/2025/10002</td>
          <td class="govuk-table__cell" data-sort-value="001">
            {{ govukTag({
              text: "Closed",
              classes: "govuk-tag--green"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="250906">6 Sep 2025</td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="jon-doe" data-type="Exempt activity notification" data-status="Closed">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Worthing sediment samples</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10012">EXE/2025/10012</td>
          <td class="govuk-table__cell" data-sort-value="001">
            {{ govukTag({
              text: "Closed",
              classes: "govuk-tag--green"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="250911">11 Sep 2025</td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="alex-williams" data-type="Exempt activity notification" data-status="Closed">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Plymouth harbour core samples</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10023">EXE/2025/10023</td>
          <td class="govuk-table__cell" data-sort-value="001">
            {{ govukTag({
              text: "Closed",
              classes: "govuk-tag--green"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="250917">17 Sep 2025</td>
          <td class="govuk-table__cell">Alex Williams</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="sarah-chen" data-type="Exempt activity notification" data-status="Closed">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Sunderland marina maintenance dredge</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10029">EXE/2025/10029</td>
          <td class="govuk-table__cell" data-sort-value="001">
            {{ govukTag({
              text: "Closed",
              classes: "govuk-tag--green"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="251101">1 Nov 2025</td>
          <td class="govuk-table__cell">Sarah Chen</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="sarah-chen" data-type="Exempt activity notification" data-status="Closed">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Teignmouth water quality sampling</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10034">EXE/2025/10034</td>
          <td class="govuk-table__cell" data-sort-value="001">
            {{ govukTag({
              text: "Closed",
              classes: "govuk-tag--green"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="251109">9 Nov 2025</td>
          <td class="govuk-table__cell">Sarah Chen</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="jon-doe" data-type="Exempt activity notification" data-status="Draft">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Whitstable intertidal survey pits</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10047">EXE/2025/10047</td>
          <td class="govuk-table__cell" data-sort-value="003">
            {{ govukTag({
              text: "Draft",
              classes: "govuk-tag--light-blue"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="-">-</td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state govuk-!-margin-right-4">Continue</a> <a href="#" class="govuk-link--no-visited-state">Delete</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="alex-williams" data-type="Exempt activity notification" data-status="Draft">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Scarborough seabed grab samples</th>
          <td class="govuk-table__cell">Exempt activity notification</td>
          <td class="govuk-table__cell" data-sort-value="EXE-10051">EXE/2025/10051</td>
          <td class="govuk-table__cell" data-sort-value="003">
            {{ govukTag({
              text: "Draft",
              classes: "govuk-tag--light-blue"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="-">-</td>
          <td class="govuk-table__cell">Alex Williams</td>
          <td class="govuk-table__cell">
            
          </td>
        </tr>

        <!-- Sediment sample plans -->
        <tr class="govuk-table__row" data-creator="jon-doe" data-type="Sediment sample plan" data-status="Sent">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Tyne estuary sampling</th>
          <td class="govuk-table__cell">Sediment sample plan</td>
          <td class="govuk-table__cell" data-sort-value="SAM-10002">SAM/2025/10002</td>
          <td class="govuk-table__cell" data-sort-value="002">
            {{ govukTag({
              text: "Sent"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="251111">11 Nov 2025</td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="jon-doe" data-type="Sediment sample plan" data-status="Sent">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Portsmouth channel dredge sample</th>
          <td class="govuk-table__cell">Sediment sample plan</td>
          <td class="govuk-table__cell" data-sort-value="SAM-10007">SAM/2025/10007</td>
          <td class="govuk-table__cell" data-sort-value="002">
            {{ govukTag({
              text: "Sent"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="251117">17 Nov 2025</td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link--no-visited-state">View details</a>
          </td>
        </tr>

        <tr class="govuk-table__row" data-creator="sarah-chen" data-type="Sediment sample plan" data-status="Draft">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Falmouth harbour pre-dredge analysis</th>
          <td class="govuk-table__cell">Sediment sample plan</td>
          <td class="govuk-table__cell" data-sort-value="SAM-10011">SAM/2025/10011</td>
          <td class="govuk-table__cell" data-sort-value="003">
            {{ govukTag({
              text: "Draft",
              classes: "govuk-tag--light-blue"
            }) }}
          </td>
          <td class="govuk-table__cell" data-sort-value="-">-</td>
          <td class="govuk-table__cell">Sarah Chen</td>
          <td class="govuk-table__cell">
            
          </td>
        </tr>
      </tbody>
    </table>

    <p id="no-results-message" class="govuk-body" style="display: none;">There are no projects to display.</p>

  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterRadios = document.querySelectorAll('input[name="projectFilter"]');
  const personCheckboxes = document.querySelectorAll('input[name="person"]');
  const projectNameInput = document.getElementById('project-name');
  const referenceInput = document.getElementById('reference');
  const applyButton = document.getElementById('apply-filters-button');
  const clearFiltersLink = document.getElementById('clear-filters');
  const tableRows = document.querySelectorAll('#projects-table tbody tr');
  const projectsTable = document.getElementById('projects-table');
  const noResultsMessage = document.getElementById('no-results-message');
  const resultsCount = document.getElementById('results-count');
  const selectedFiltersContainer = document.getElementById('selected-filter-tags');
  const typeCheckboxesContainer = document.getElementById('type-checkboxes-container');
  const statusCheckboxesContainer = document.getElementById('status-checkboxes-container');

  // Map of person values to display names
  const personNames = {
    'alex-williams': 'Alex Williams',
    'james-thompson': 'James Thompson',
    'jon-doe': 'John Smith',
    'sarah-chen': 'Sarah Chen'
  };

  // Function to count projects by criteria
  function updateCounts() {
    // Count by person
    const personCounts = {
      'alex-williams': 0,
      'james-thompson': 0,
      'jon-doe': 0,
      'sarah-chen': 0
    };
    
    let myProjectsCount = 0;
    let allProjectsCount = 0;
    
    const typeCounts = {};
    const statusCounts = {};

    tableRows.forEach(function(row) {
      const creator = row.getAttribute('data-creator');
      const type = row.getAttribute('data-type');
      const status = row.getAttribute('data-status');
      
      // Count all projects
      allProjectsCount++;
      
      // Count by creator
      if (creator) {
        Object.keys(personCounts).forEach(function(person) {
          if (creator.includes(person)) {
            personCounts[person]++;
          }
        });
        
        // Count "my projects" (jon-doe is current user)
        if (creator.includes('jon-doe')) {
          myProjectsCount++;
        }
      }
      
      // Count by type
      if (type) {
        typeCounts[type] = (typeCounts[type] || 0) + 1;
      }
      
      // Count by status
      if (status) {
        statusCounts[status] = (statusCounts[status] || 0) + 1;
      }
    });

    // Update Show radio counts
    const countAllProjects = document.getElementById('count-all-projects');
    const countMyProjects = document.getElementById('count-my-projects');
    if (countAllProjects) countAllProjects.textContent = '(' + allProjectsCount + ')';
    if (countMyProjects) countMyProjects.textContent = '(' + myProjectsCount + ')';

    // Update person counts
    Object.keys(personCounts).forEach(function(person) {
      const countSpan = document.querySelector('.person-count[data-person="' + person + '"]');
      if (countSpan) {
        countSpan.textContent = '(' + personCounts[person] + ')';
      }
    });

    // Update type counts
    Object.keys(typeCounts).forEach(function(type) {
      const checkbox = Array.from(document.querySelectorAll('input[name="type"]')).find(cb => cb.value === type);
      if (checkbox) {
        const label = document.querySelector('label[for="' + checkbox.id + '"]');
        if (label) {
          // Remove existing count if present
          const existingCount = label.querySelector('.type-count');
          if (existingCount) existingCount.remove();
          
          // Add new count
          const countSpan = document.createElement('span');
          countSpan.className = 'type-count';
          countSpan.textContent = ' (' + typeCounts[type] + ')';
          label.appendChild(countSpan);
        }
      }
    });

    // Update status counts
    Object.keys(statusCounts).forEach(function(status) {
      const checkbox = Array.from(document.querySelectorAll('input[name="status"]')).find(cb => cb.value === status);
      if (checkbox) {
        const label = document.querySelector('label[for="' + checkbox.id + '"]');
        if (label) {
          // Remove existing count if present
          const existingCount = label.querySelector('.status-count');
          if (existingCount) existingCount.remove();
          
          // Add new count
          const countSpan = document.createElement('span');
          countSpan.className = 'status-count';
          countSpan.textContent = ' (' + statusCounts[status] + ')';
          label.appendChild(countSpan);
        }
      }
    });
  }

  // Get organization name from page
  const orgCaption = document.querySelector('.govuk-caption-l');
  const orgName = orgCaption ? orgCaption.textContent.trim() : 'Ramsgate Marina';

  // Clear error state
  function clearErrorState() {
    const conditionalPanel = document.querySelector('.govuk-radios__conditional');
    const personErrorMessage = document.getElementById('person-error-message');
    
    if (conditionalPanel) {
      conditionalPanel.classList.remove('error-state');
    }
    if (personErrorMessage) {
      personErrorMessage.style.display = 'none';
    }
    if (resultsCount) {
      resultsCount.classList.remove('error-message');
    }
  }
  
  // Show error state
  function showErrorState() {
    const conditionalPanel = document.querySelector('.govuk-radios__conditional');
    const personErrorMessage = document.getElementById('person-error-message');
    
    if (conditionalPanel) {
      conditionalPanel.classList.add('error-state');
    }
    if (personErrorMessage) {
      personErrorMessage.style.display = 'block';
    }
    if (resultsCount) {
      resultsCount.classList.add('error-message');
    }
  }
  
  // Update results count display
  function updateResultsCount(visibleCount, isError) {
    if (!resultsCount) return;
    
    const selectedFilter = document.querySelector('input[name="projectFilter"]:checked').value;
    const selectedPeople = Array.from(personCheckboxes).filter(cb => cb.checked);
    
    let message = '';
    const resultText = visibleCount === 1 ? 'result' : 'results';
    
    // Check for error state
    if (isError) {
      message = '<strong>Select a person to view their projects</strong>';
    } else {
      // Always show count with context based on Show radio selection
      if (selectedFilter === 'all-projects') {
        message = `<strong>${visibleCount} ${resultText} found in 'All ${orgName} projects'</strong>`;
      } else if (selectedFilter === 'my-projects') {
        message = `<strong>${visibleCount} ${resultText} found in 'My projects'</strong>`;
      } else if (selectedFilter === 'specific-person') {
        if (selectedPeople.length > 0) {
          const names = selectedPeople.map(cb => personNames[cb.value]).join(', ');
          message = `<strong>${visibleCount} ${resultText} found in 'Projects by ${names}'</strong>`;
        } else {
          message = `<strong>${visibleCount} ${resultText} found in 'Projects by owner'</strong>`;
        }
      }
    }
    
    resultsCount.innerHTML = message;
  }

  // Dynamically generate Type and Status checkboxes from table data
  function generateDynamicCheckboxes() {
    const types = new Set();
    const statuses = new Set();

    tableRows.forEach(function(row) {
      const type = row.getAttribute('data-type');
      const status = row.getAttribute('data-status');
      if (type) types.add(type);
      if (status) statuses.add(status);
    });

    // Generate Type checkboxes
    let typeIndex = 0;
    types.forEach(function(type) {
      const typeId = 'type-' + typeIndex;
      const typeValue = type;
      const div = document.createElement('div');
      div.className = 'govuk-checkboxes__item';
      div.innerHTML = `
        <input class="govuk-checkboxes__input" id="${typeId}" name="type" type="checkbox" value="${typeValue}">
        <label class="govuk-label govuk-checkboxes__label" for="${typeId}">
          ${type}
        </label>
      `;
      typeCheckboxesContainer.appendChild(div);
      typeIndex++;
    });

    // Generate Status checkboxes
    let statusIndex = 0;
    statuses.forEach(function(status) {
      const statusId = 'status-' + statusIndex;
      const statusValue = status;
      const div = document.createElement('div');
      div.className = 'govuk-checkboxes__item';
      div.innerHTML = `
        <input class="govuk-checkboxes__input" id="${statusId}" name="status" type="checkbox" value="${statusValue}">
        <label class="govuk-label govuk-checkboxes__label" for="${statusId}">
          ${status}
        </label>
      `;
      statusCheckboxesContainer.appendChild(div);
      statusIndex++;
    });
  }

  // Generate dynamic checkboxes on load
  generateDynamicCheckboxes();
  
  // Update counts after checkboxes are generated
  updateCounts();
  
  // Add change listeners to radio buttons to clear person checkboxes and hide conditional panel
  filterRadios.forEach(function(radio) {
    radio.addEventListener('change', function() {
      // Clear person checkboxes when switching away from "specific-person"
      if (this.value !== 'specific-person') {
        personCheckboxes.forEach(function(cb) {
          cb.checked = false;
        });
        
        // Hide the conditional reveal panel
        const conditionalPanel = document.getElementById('conditional-specific-person');
        if (conditionalPanel) {
          conditionalPanel.classList.add('govuk-radios__conditional--hidden');
        }
      } else {
        // Show the conditional reveal panel when "specific-person" is selected
        const conditionalPanel = document.getElementById('conditional-specific-person');
        if (conditionalPanel) {
          conditionalPanel.classList.remove('govuk-radios__conditional--hidden');
        }
      }
      // Clear error state when changing
      clearErrorState();
    });
  });

  function updateSelectedFilterTags() {
    selectedFiltersContainer.innerHTML = '';
    
    // Build categorized tags
    const categories = [];
    
    // Project name category
    const projectName = projectNameInput.value.trim();
    if (projectName) {
      categories.push({
        heading: 'Project name',
        items: [{ text: projectName, type: 'project-name' }]
      });
    }

    // Reference category
    const reference = referenceInput.value.trim();
    if (reference) {
      categories.push({
        heading: 'Reference',
        items: [{ text: reference, type: 'reference' }]
      });
    }

    // Person category (only show if specific-person is selected)
    const selectedFilter = document.querySelector('input[name="projectFilter"]:checked').value;
    if (selectedFilter === 'specific-person') {
      const selectedPersons = Array.from(personCheckboxes).filter(cb => cb.checked);
      if (selectedPersons.length > 0) {
        categories.push({
          heading: 'Person',
          items: selectedPersons.map(cb => ({ text: personNames[cb.value], type: 'person', value: cb.value }))
        });
      }
    }

    // Type category
    const typeCheckboxes = document.querySelectorAll('input[name="type"]');
    const selectedTypes = Array.from(typeCheckboxes).filter(cb => cb.checked);
    if (selectedTypes.length > 0) {
      categories.push({
        heading: 'Type',
        items: selectedTypes.map(cb => ({ text: cb.value, type: 'type', value: cb.value }))
      });
    }

    // Status category
    const statusCheckboxes = document.querySelectorAll('input[name="status"]');
    const selectedStatuses = Array.from(statusCheckboxes).filter(cb => cb.checked);
    if (selectedStatuses.length > 0) {
      categories.push({
        heading: 'Status',
        items: selectedStatuses.map(cb => ({ text: cb.value, type: 'status', value: cb.value }))
      });
    }

    if (categories.length === 0) {
      return; // Don't show tags section if no filters
    }

    // Build the HTML for each category
    categories.forEach(category => {
      const heading = document.createElement('h3');
      heading.className = 'govuk-heading-s govuk-!-margin-bottom-0';
      heading.textContent = category.heading;
      selectedFiltersContainer.appendChild(heading);

      const ul = document.createElement('ul');
      ul.className = 'moj-filter-tags';

      category.items.forEach(item => {
        const li = document.createElement('li');
        const a = document.createElement('a');
        a.className = 'moj-filter__tag';
        a.href = '#';
        a.innerHTML = `<span class="govuk-visually-hidden">Remove this filter</span> ${item.text}`;
        
        a.addEventListener('click', function(e) {
          e.preventDefault();
          
          // Clear the specific filter
          if (item.type === 'project-name') {
            projectNameInput.value = '';
          } else if (item.type === 'reference') {
            referenceInput.value = '';
          } else if (item.type === 'person') {
            const checkbox = Array.from(personCheckboxes).find(cb => cb.value === item.value);
            if (checkbox) checkbox.checked = false;
          } else if (item.type === 'type') {
            const typeCheckboxes = document.querySelectorAll('input[name="type"]');
            const checkbox = Array.from(typeCheckboxes).find(cb => cb.value === item.value);
            if (checkbox) checkbox.checked = false;
          } else if (item.type === 'status') {
            const statusCheckboxes = document.querySelectorAll('input[name="status"]');
            const checkbox = Array.from(statusCheckboxes).find(cb => cb.value === item.value);
            if (checkbox) checkbox.checked = false;
          }
          
          // Re-filter
          filterProjects(false);
        });

        li.appendChild(a);
        ul.appendChild(li);
      });

      selectedFiltersContainer.appendChild(ul);
    });
  }

  // Function to filter projects
  function filterProjects(checkForErrors) {
    const selectedRadio = document.querySelector('input[name="projectFilter"]:checked');
    const selectedFilter = selectedRadio ? selectedRadio.value : 'all-projects';
    
    // Get filter values
    const projectName = projectNameInput.value.trim().toLowerCase();
    const reference = referenceInput.value.trim().toLowerCase();
    const selectedPersons = Array.from(personCheckboxes).filter(cb => cb.checked).map(cb => cb.value);
    
    const typeCheckboxes = document.querySelectorAll('input[name="type"]');
    const selectedTypes = Array.from(typeCheckboxes).filter(cb => cb.checked).map(cb => cb.value);
    
    const statusCheckboxes = document.querySelectorAll('input[name="status"]');
    const selectedStatuses = Array.from(statusCheckboxes).filter(cb => cb.checked).map(cb => cb.value);
    
    // Check for error state (only when explicitly checking, i.e., on Apply filters)
    let isError = false;
    if (checkForErrors && selectedFilter === 'specific-person' && selectedPersons.length === 0) {
      isError = true;
      showErrorState();
    } else {
      clearErrorState();
    }
    
    // If in error state, don't proceed with filtering
    if (isError) {
      updateSelectedFilterTags();
      updateResultsCount(0, true);
      projectsTable.style.display = 'none';
      noResultsMessage.style.display = 'none';
      if (resultsCount) resultsCount.style.display = 'block';
      return;
    }
    
    let visibleCount = 0;

    updateSelectedFilterTags();

    tableRows.forEach(function(row) {
      let show = true;
      
      // Filter by Show radios (scope filter)
      const creator = row.getAttribute('data-creator');
      if (selectedFilter === 'my-projects') {
        // Show only John Smith's projects (current user)
        if (!creator || !creator.includes('jon-doe')) {
          show = false;
        }
      } else if (selectedFilter === 'specific-person') {
        // Show only if creator matches one of selected persons
        if (selectedPersons.length > 0) {
          const matchesPerson = selectedPersons.some(person => creator && creator.includes(person));
          if (!matchesPerson) {
            show = false;
          }
        } else {
          // No person selected, show nothing
          show = false;
        }
      }
      // all-projects shows everything (no filtering by creator)

      // Filter by project name (AND logic)
      if (show && projectName) {
        const rowProjectName = row.querySelector('th').textContent.toLowerCase();
        if (!rowProjectName.includes(projectName)) {
          show = false;
        }
      }

      // Filter by reference (AND logic)
      if (show && reference) {
        const rowReference = row.querySelectorAll('td')[1].textContent.toLowerCase();
        if (!rowReference.includes(reference)) {
          show = false;
        }
      }

      // Filter by type (OR logic within type, AND across)
      if (show && selectedTypes.length > 0) {
        const rowType = row.getAttribute('data-type');
        if (!selectedTypes.includes(rowType)) {
          show = false;
        }
      }

      // Filter by status (OR logic within status, AND across)
      if (show && selectedStatuses.length > 0) {
        const rowStatus = row.getAttribute('data-status');
        if (!selectedStatuses.includes(rowStatus)) {
          show = false;
        }
      }

      // Show or hide row
      if (show) {
        row.style.display = '';
        visibleCount++;
      } else {
        row.style.display = 'none';
      }
    });

    // Update results count
    updateResultsCount(visibleCount, false);

    // Show/hide table and no results message based on visible count
    if (visibleCount === 0) {
      projectsTable.style.display = 'none';
      noResultsMessage.style.display = 'block';
      if (resultsCount) resultsCount.style.display = 'none';
    } else {
      projectsTable.style.display = 'table';
      noResultsMessage.style.display = 'none';
      if (resultsCount) resultsCount.style.display = 'block';
    }
  }

  // Apply filter on button click (with error checking)
  applyButton.addEventListener('click', function(e) {
    e.preventDefault();
    filterProjects(true);
  });

  // Handle Clear Filters
  if (clearFiltersLink) {
    clearFiltersLink.addEventListener('click', function(e) {
      e.preventDefault();
      
      // Reset to default "All projects"
      const allProjectsRadio = document.querySelector('input[name="projectFilter"][value="all-projects"]');
      if (allProjectsRadio) allProjectsRadio.checked = true;
      
      // Hide the conditional reveal panel
      const conditionalPanel = document.getElementById('conditional-specific-person');
      if (conditionalPanel) {
        conditionalPanel.classList.add('govuk-radios__conditional--hidden');
      }
      
      // Clear all inputs
      projectNameInput.value = '';
      referenceInput.value = '';
      
      // Uncheck all person checkboxes
      personCheckboxes.forEach(cb => cb.checked = false);
      
      // Uncheck all type checkboxes
      const typeCheckboxes = document.querySelectorAll('input[name="type"]');
      typeCheckboxes.forEach(cb => cb.checked = false);
      
      // Uncheck all status checkboxes
      const statusCheckboxes = document.querySelectorAll('input[name="status"]');
      statusCheckboxes.forEach(cb => cb.checked = false);
      
      // Clear error state
      clearErrorState();
      filterProjects(false);
    });
  }
  
  // Add change listener to person checkboxes to clear error state
  personCheckboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      clearErrorState();
    });
  });

  // Initial filter on page load (show all projects by default, no error checking)
  filterProjects(false);

  // Handle filter toggle button
  const toggleButton = document.querySelector('.moj-filter__toggle');
  const filterContainer = document.getElementById('moj-filter');
  
  if (toggleButton && filterContainer) {
    toggleButton.addEventListener('click', function() {
      const isExpanded = this.getAttribute('aria-expanded') === 'true';
      
      if (isExpanded) {
        // Hide the filter
        filterContainer.style.display = 'none';
        this.setAttribute('aria-expanded', 'false');
        this.textContent = 'Show filter';
      } else {
        // Show the filter
        filterContainer.style.display = 'block';
        this.setAttribute('aria-expanded', 'true');
        this.textContent = 'Hide filter';
      }
    });
  }
});
</script>


{% endblock %}

