{% extends "../../layouts/low-complexity-v3.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {% if data['organisation-name'] %}
        {% include "../../includes/organisation-switcher.html" %}
    {% endif %}
	{% if showBackToProjects %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="../projects">Back</a>
    {% endif %}
{% endblock %}

{% block pageTitle %}
We are unable to progress your application - {{ data['headerNameExemption'] or 'Get permission for marine work' }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		{% if data['low-complexity-project-name-text-input'] %}
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		{% else %}
		<span class="govuk-caption-l">Plymouth Sound cable laying</span>
		{% endif %}

		<h1 class="govuk-heading-l">We are unable to progress your application</h1>

		<p class="govuk-body">We have reviewed your application (MLA/2026/10002) and we are unable to progress it as submitted.</p>

		<h2 class="govuk-heading-m">Why we are unable to progress your application</h2>

		<p class="govuk-body">We've identified issues with the following sections of your application:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>Marine plan policies</li>
		</ul>

		<p class="govuk-body">You answered 'Not applicable' for policy S-BIO-1. Based on the site location you have provided, this policy does apply to your application.</p>

		<p class="govuk-body">Your site is in the South marine plan area and includes intertidal foreshore. Placing rock armour and piled structures in this area has the potential to affect coastal habitats and species, so you must consider policy S-BIO-1 whether or not the site is in a protected area.</p>

		<p class="govuk-body">To resubmit, update your answer for S-BIO-1 to explain how your proposal responds to the policy. Describe any potential impacts on habitats and species at the site, and how you will avoid, minimise or reduce them. If you consider there will be no impacts, explain why.</p>

		{% if data['resubmit-draft-created'] and not data['deleted-plymouth-resubmit'] %}

		<div class="govuk-inset-text">
			<p class="govuk-body">We created a new draft application for you on {{ data['resubmit-draft-created-date'] }}.</p>
			<p class="govuk-body govuk-!-margin-bottom-0">View it in <a class="govuk-link govuk-link--no-visited-state" href="../projects">Projects</a>.</p>
		</div>

		<p class="govuk-body govuk-!-margin-top-6"><a class="govuk-link govuk-link--no-visited-state" href="../view-details/plymouth-sound-cable-laying">View your original application</a></p>

		{% else %}

		<h2 class="govuk-heading-m">What you can do</h2>

		<p class="govuk-body">You can update your application to address the issues above and resubmit it.</p>

		<p class="govuk-body">You do not need to submit a completely new application. We will create a new draft containing all of your application information for you to update and resubmit.</p>

		<div class="govuk-button-group govuk-!-margin-top-6">
			{{ govukButton({
				text: "Update and resubmit application",
				href: "../update-and-resubmit"
			}) }}
		</div>

		<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../view-details/plymouth-sound-cable-laying">View your original application</a></p>

		{% endif %}

	</div>
</div>

{% endblock %}
