{% extends "../layouts/exemption.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link" href="sample-plan-start-page.html">Go back to sample plan start page</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Check your answers before sending your information
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Project details</h2>
            </div>
            <div class="govuk-summary-card__content">
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                                text: "Project name"
                            },
                            value: {
                                text: data['sample-plan-project-name-text-input'] if data['sample-plan-project-name-text-input'] else "[user entered data]"
                            },
                            actions: {
                                items: [
                                    {
                                        href: "project-name",
                                        text: "Change",
                                        visuallyHiddenText: "project name"
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: "Project background"
                            },
                            value: {
                                text: data['sample-plan-project-background'] if data['sample-plan-project-background'] else "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."
                            },
                            actions: {
                                items: [
                                    {
                                        href: "",
                                        text: "Change",
                                        visuallyHiddenText: "project background",
                                        classes: "govuk-link govuk-link--no-visited-state"
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: "Other contact with the Marine Management Organisation (MMO)" if data['sample-plan-other-contact'] == "No" else "Details of contact with the Marine Management Organisation (MMO)"
                            },
                            value: {
                                text: "No" if data['sample-plan-other-contact'] == "No" else (data['sample-plan-other-contact-details'] if data['sample-plan-other-contact-details'] else "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.")
                            },
                            actions: {
                                items: [
                                    {
                                        href: "",
                                        text: "Change",
                                        visuallyHiddenText: "contact with the Marine Management Organisation",
                                        classes: "govuk-link govuk-link--no-visited-state"
                                    }
                                ]
                            }
                        }
                    ]
                }) }}
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Activity and licence details</h2>
            </div>
            <div class="govuk-summary-card__content">
                {% set activityRows = [
                    {
                        key: {
                            text: "Type of activity"
                        },
                        value: {
                            text: data['sample-plan-which-activity'] if data['sample-plan-which-activity'] else "Marine dredging"
                        },
                        actions: {
                            items: [
                                {
                                    href: "",
                                    text: "Change",
                                    visuallyHiddenText: "type of activity",
                                    classes: "govuk-link govuk-link--no-visited-state"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "New or existing marine licence"
                        },
                        value: {
                            text: data['sample-plan-new-or-existing-licence'] if data['sample-plan-new-or-existing-licence'] else "New marine licence"
                        },
                        actions: {
                            items: [
                                {
                                    href: "",
                                    text: "Change",
                                    visuallyHiddenText: "new or existing marine licence",
                                    classes: "govuk-link govuk-link--no-visited-state"
                                }
                            ]
                        }
                    }
                ] %}

                {% if data['sample-plan-new-or-existing-licence'] == "New marine licence" %}
                    {% set licenceLengthText = "" %}
                    {% if data['sample-plan-licence-length-years'] and data['sample-plan-licence-length-months'] %}
                        {% set licenceLengthText = data['sample-plan-licence-length-years'] + " years " + data['sample-plan-licence-length-months'] + " months" %}
                    {% elif data['sample-plan-licence-length-years'] %}
                        {% set licenceLengthText = data['sample-plan-licence-length-years'] + " years 0 months" %}
                    {% elif data['sample-plan-licence-length-months'] %}
                        {% set licenceLengthText = "0 years " + data['sample-plan-licence-length-months'] + " months" %}
                    {% else %}
                        {% set licenceLengthText = "5 years 0 months" %}
                    {% endif %}

                    {% set activityRows = activityRows.concat([
                        {
                            key: {
                                text: "Proposed length of the new licence"
                            },
                            value: {
                                text: licenceLengthText
                            },
                            actions: {
                                items: [
                                    {
                                        href: "",
                                        text: "Change",
                                        visuallyHiddenText: "proposed length of the new licence",
                                        classes: "govuk-link govuk-link--no-visited-state"
                                    }
                                ]
                            }
                        }
                    ]) %}
                {% elif data['sample-plan-new-or-existing-licence'] == "Existing marine licence" %}
                    {% set licenceExpiryText = "" %}
                    {% if data['sample-plan-licence-expiry-day'] and data['sample-plan-licence-expiry-month'] and data['sample-plan-licence-expiry-year'] %}
                        {% set monthNames = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
                        {% set monthNumber = data['sample-plan-licence-expiry-month'] | int %}
                        {% set monthName = monthNames[monthNumber] if monthNumber >= 1 and monthNumber <= 12 else data['sample-plan-licence-expiry-month'] %}
                        {% set licenceExpiryText = data['sample-plan-licence-expiry-day'] + " " + monthName + " " + data['sample-plan-licence-expiry-year'] %}
                    {% else %}
                        {% set licenceExpiryText = "10 June 2029" %}
                    {% endif %}

                    {% set activityRows = activityRows.concat([
                        {
                            key: {
                                text: "Licence number"
                            },
                            value: {
                                text: data['sample-plan-licence-number'] if data['sample-plan-licence-number'] else "MLA/2025/00123"
                            },
                            classes: "govuk-summary-list__row--no-border",
                            actions: {
                                items: [
                                    {
                                        href: "",
                                        text: "Change",
                                        visuallyHiddenText: "licence number",
                                        classes: "govuk-link govuk-link--no-visited-state"
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: "Licence expiry date"
                            },
                            value: {
                                text: licenceExpiryText
                            }
                        }
                    ]) %}
                {% endif %}

                {{ govukSummaryList({
                    rows: activityRows
                }) }}
            </div>
        </div>

        <h2 class="govuk-heading-m">Send your information</h2>
        
        <p class="govuk-body">By sending this information you're confirming that, to the best of your knowledge, the details you're providing are correct.</p>

        <form action="check-answers-router" method="post" novalidate>
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Confirm and send"
                }) }}

                <a class="govuk-link govuk-link--no-visited-state" href="">Cancel</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
