<div class="app-organisation-switcher">
	<span class="govuk-body-s govuk-!-font-weight-bold app-organisation-switcher__name">{{ data['organisation-name'] }}</span>
	{% if currentPageId === "home" or currentPageId === "sample-plans-projects" %}
		{% if data['component_type'] === 'autocomplete' %}
			<a class="govuk-link app-organisation-switcher__link govuk-link--no-visited-state" href="organisation-selector-autocomplete?change=true">
				Change who you're representing
			</a>
		{% else %}
			<a class="govuk-link app-organisation-switcher__link govuk-link--no-visited-state" href="organisation-selector?change=true">
				Change who you're representing
			</a>
		{% endif %}
	{% endif %}
</div>