{% extends "../layouts/main.html" %}


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Which type of activity will take place?
{% endset %}

<!-- Setting the heading caption -->
{% set captionTextHTML %}
	Check if you need a marine licence
{% endset %}

<!-- Setting the smaller secondary heading lower down the page -->
{% set questionHeadingTextHTML %}
What type of activity will take place?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select which type of activity will take place
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - {{ data['headerName'] }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#check-what-type-of-activity-will-take-place-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="what-type-of-activity-will-take-place-router" method="post" novalidate>

            
            <h1 class="govuk-heading-l">
                {{ pageHeadingTextHTML }}
            </h1>

            <p>Find out more about <a rel="noreferrer noopener" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/do-i-need-a-marine-licence">activities that may need a marine licence (opens in new tab)</a></p>


            {{ govukRadios
                ({
                    name: "check-what-type-of-activity-will-take-place-radios",

                    id: "check-what-type-of-activity-will-take-place-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: questionHeadingTextHTML,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m 
                            govuk-visually-hidden"
                        }
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "Construction",
                            text: "Construction",
                            hint: {
								text: "Including building or making something, maintenance, alteration, and improvement activities"
                            },
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Construction"
                        },
                        {
                            value: "Deposit of a substance or object",
                            text: "Deposit of a substance or object",
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Deposit of a substance or object"
                        },
                        {
                            value: "Removal of a substance or object",
                            text: "Removal of a substance or object",
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Removal of a substance or object"
                        },
                        {
                            value: "Dredging",
                            text: "Dredging",
                            hint: {
								text: "The process of removing material from the seabed for navigation, water quality, flood control, or construction"
                            },
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Dredging"
                        }
                        ,
                        {
                            value: "Incineration of a substance or object",
                            text: "Incineration of a substance or object",
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Incineration of a substance or object"
                        }
                        ,
                        {
                            value: "Use of an explosive substance",
                            text: "Use of an explosive substance",
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Use of an explosive substance"
                        }
                        ,
                        {
                            value: "Sinking of a vessel or floating container (also known as scuttling)",
                            text: "Sinking of a vessel or floating container (also known as scuttling)",
                            checked: data['check-what-type-of-activity-will-take-place-radios'] == "Sinking of a vessel or floating container (also known as scuttling)"
                        }
                    ]
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>




<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
<!--  END USER TYPE TOGGLE -->





{% endblock %}


