{% extends "../layouts/main.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Put your question heading for the page after '% set questionHeadingTextHTML %'
3. Type/customise the error messages after '% set errorTextHTML %'
4. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
5. Use 'Find and replace' to replace "PAGENAME_TEXT_COMPLEX" with whatever you named this page/file.
6. Go to the javascript file 'templates.js' and copy the section 'COMPLEX PAGE  OF TEXT ENTRY' into your routes.js file.
7. Follow instructions at the top of the 'templates.js'.
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
About your activity
{% endset %}

<!-- Set the text for each error type -->
{% set errorTextHTML %}
    <!-- Error 1 - No answer selected -->
    {% if data['errortypeone'] == "true" %}
        Enter an activity description
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#exemption-about-your-activity-text-area"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->



        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


        <!-- go to routes.js for routing  -->
        <form action="about-your-activity-router" method="post" novalidate>


            {{ govukCharacterCount({
                
                id: "exemption-about-your-activity-text-area",

                name: "exemption-about-your-activity-text-area",

                value: data['exemption-about-your-activity-text-area'],

				errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },
									   
                maxlength: 2000,
                label: {
                  text: "Activity description",
                  classes: "govuk-label",
                  isPageHeading: false
                },
                hint: {
                  text: "Provide details about what you plan to do in this location "
                }
              }) }}


            {{ govukButton({ text: "Continue" }) }}


        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 1 - No answer entered</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->


<!-- USER TYPE TOGGLE  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

    <option value="user=citizen&"
            {% if  data['user'] != "agent"  %} selected {% endif %}
    >User type - Individual</option>

    <option value="user=agent&"
            {% if  data['user'] == "agent"  %} selected {% endif %}
    >User type - Agent</option>

  </select>

</form>
<!--  END USER TYPE TOGGLE -->






{% endblock %}





