{% extends "../../layouts/exemption.html" %}

{% block beforeContent %}
    {% include "../../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../../includes/back-link.html" %}
{% endblock %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- Set the heading for the page -->
{% set pageHeadingTextHTML %}
Dredging details
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['dredging-details-site-1-errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }} - Get a plan for sediment sample analysis
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <!-- Error summary -->
        {% if data['dredging-details-site-1-errorthispage'] == "true" %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: data['dredging-details-site-1-material-type-other-error'] or data['dredging-details-site-1-material-type-error'] or "Select the type of material that will be dredged at this site",
                    href: "#dredging-details-site-1-material-type-other" if data['dredging-details-site-1-material-type-other-error'] else "#dredging-details-site-1-material-type"
                } if data['dredging-details-site-1-material-type-error'] or data['dredging-details-site-1-material-type-other-error'],
                {
                    text: data['dredging-details-site-1-method-other-error'] or data['dredging-details-site-1-method-error'] or "Select the proposed method of dredging",
                    href: "#dredging-details-site-1-method-other" if data['dredging-details-site-1-method-other-error'] else "#dredging-details-site-1-method"
                } if data['dredging-details-site-1-method-error'] or data['dredging-details-site-1-method-other-error'],
                {
                    text: data['dredging-details-site-1-depth-error'] or "Enter the depth of the dredge in metres",
                    href: "#dredging-details-site-1-depth"
                } if data['dredging-details-site-1-depth-error']
            ]
        }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}<span class="govuk-!-display-block">Site 1</span></span>
        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <form action="dredging-details-site-1-router" method="post" novalidate>
            
            <!-- Question 1: What type of material will be dredged at this site? -->
            {% set materialTypeOtherHtml %}
            {{ govukInput({
                id: "dredging-details-site-1-material-type-other",
                name: "dredging-details-site-1-material-type-other",
                type: "text",
                classes: "govuk-!-width-full",
                label: {
                    text: "Describe the other material"
                },
                value: data['dredging-details-site-1-material-type-other'],
                errorMessage: {
                    text: data['dredging-details-site-1-material-type-other-error']
                } if data['dredging-details-site-1-material-type-other-error']
            }) }}
            {% endset -%}

            {{ govukCheckboxes({
                idPrefix: "dredging-details-site-1-material-type",
                name: "dredging-details-site-1-material-type",
                fieldset: {
                    legend: {
                        text: "What type of material will be dredged at this site?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "Select all that apply"
                },
                errorMessage: {
                    text: data['dredging-details-site-1-material-type-error']
                } if data['dredging-details-site-1-material-type-error'],
                items: [
                    {
                        value: "capital-dredged-material",
                        text: "Capital dredged material",
                        hint: {
                            text: "Removal of material not previously dredged in the last 10 years, including deepening or widening an existing dredge area"
                        },
                        checked: true if data['dredging-details-site-1-material-type'] and "capital-dredged-material" in data['dredging-details-site-1-material-type']
                    },
                    {
                        value: "maintenance-dredged-material",
                        text: "Maintenance dredged material",
                        hint: {
                            text: "Routine removal of material from areas previously dredged in the last 10 years, to the same depth as before"
                        },
                        checked: true if data['dredging-details-site-1-material-type'] and "maintenance-dredged-material" in data['dredging-details-site-1-material-type']
                    },
                    {
                        value: "non-dredged-sediments",
                        text: "Non-dredged sediments",
                        checked: true if data['dredging-details-site-1-material-type'] and "non-dredged-sediments" in data['dredging-details-site-1-material-type']
                    },
                    {
                        value: "organic-material",
                        text: "Organic material of natural origin (for example, seaweed)",
                        checked: true if data['dredging-details-site-1-material-type'] and "organic-material" in data['dredging-details-site-1-material-type']
                    },
                    {
                        value: "other",
                        text: "Other",
                        checked: true if data['dredging-details-site-1-material-type'] and "other" in data['dredging-details-site-1-material-type'],
                        conditional: {
                            html: materialTypeOtherHtml
                        }
                    }
                ]
            }) }}

            <!-- Question 2: What is the proposed method of dredging? -->
            {% set methodOtherHtml %}
            {{ govukInput({
                id: "dredging-details-site-1-method-other",
                name: "dredging-details-site-1-method-other",
                type: "text",
                classes: "govuk-!-width-full",
                label: {
                    text: "Describe the other method"
                },
                value: data['dredging-details-site-1-method-other'],
                errorMessage: {
                    text: data['dredging-details-site-1-method-other-error']
                } if data['dredging-details-site-1-method-other-error']
            }) }}
            {% endset -%}

            {{ govukCheckboxes({
                idPrefix: "dredging-details-site-1-method",
                name: "dredging-details-site-1-method",
                fieldset: {
                    legend: {
                        text: "What is the proposed method of dredging?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "Select all that apply"
                },
                errorMessage: {
                    text: data['dredging-details-site-1-method-error']
                } if data['dredging-details-site-1-method-error'],
                items: [
                    {
                        value: "cutter-suction",
                        text: "Cutter suction",
                        checked: true if data['dredging-details-site-1-method'] and "cutter-suction" in data['dredging-details-site-1-method']
                    },
                    {
                        value: "grab",
                        text: "Grab",
                        checked: true if data['dredging-details-site-1-method'] and "grab" in data['dredging-details-site-1-method']
                    },
                    {
                        value: "plough-bed-levelling",
                        text: "Plough or bed levelling",
                        checked: true if data['dredging-details-site-1-method'] and "plough-bed-levelling" in data['dredging-details-site-1-method']
                    },
                    {
                        value: "trailer-suction",
                        text: "Trailer suction",
                        checked: true if data['dredging-details-site-1-method'] and "trailer-suction" in data['dredging-details-site-1-method']
                    },
                    {
                        value: "water-injection-agitation",
                        text: "Water injection or agitation dredging",
                        checked: true if data['dredging-details-site-1-method'] and "water-injection-agitation" in data['dredging-details-site-1-method']
                    },
                    {
                        value: "other",
                        text: "Other",
                        checked: true if data['dredging-details-site-1-method'] and "other" in data['dredging-details-site-1-method'],
                        conditional: {
                            html: methodOtherHtml
                        }
                    }
                ]
            }) }}

            <!-- Question 3: What is the depth of the dredge in metres? -->
            {{ govukInput({
                id: "dredging-details-site-1-depth",
                name: "dredging-details-site-1-depth",
                value: data['dredging-details-site-1-depth'],
                type: "text",
                inputmode: "decimal",
                classes: "govuk-input--width-3",
                label: {
                    text: "What is the depth of the dredge in metres?",
                    classes: "govuk-label--s"
                },
                hint: {
                    text: "This is calculated by using the current depth of the sea or river bed and how much you need to deepen it by"
                },
                suffix: {
                    text: "m"
                },
                errorMessage: {
                    text: data['dredging-details-site-1-depth-error']
                } if data['dredging-details-site-1-depth-error']
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
