{# iat-lcml/layouts/iat/outcome.njk #}

{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ h1 }} – Marine licence IAT
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if caption %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {% endif %}
      <h1 class="govuk-heading-l">{{ h1 }}</h1>

      <div class="govuk-body">{{ bodyHtml | safe }}</div>

      {% if primaryAction %}
        {{ govukButton({ 
          text: primaryAction.text, 
          href: primaryAction.href,
          classes: "govuk-!-margin-right-3"
        }) }}
      {% endif %}

      {% if secondaryAction %}
        {{ govukButton({ 
          text: secondaryAction.text, 
          href: secondaryAction.href,
          classes: "govuk-button--secondary"
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
