{# iat-lcml/layouts/iat/radio-page.njk #}

{% extends "layouts/main.html" %}

{# --- Import the GOV.UK component macros we need --- #}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if data['errorthispage'] == "true" %}
    Error: 
  {% endif %}
  {{ h1 }} – Marine licence IAT
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Error summary -->
      {% if data['errorthispage'] == "true" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select an option",
              href: "#" + inputName
            }
          ]
        }) }}
      {% endif %}

      <form method="post" novalidate>

        {{ govukRadios({
          idPrefix: inputName,
          name: inputName,
          fieldset: {
            legend: {
              html: (('<span class="govuk-caption-l">' + caption + '</span>') if caption else '') + h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: hintHtml
          } if hintHtml,
          items: radios,
          errorMessage: {
            text: "Select an option"
          } if data['errortypeone'] == "true"
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
{% endblock %}
