{% extends "../../../layouts/sample-plans.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../../../includes/phase-banner.html" %}
    {{ super() }}
    {% include "../../../includes/back-link.html" %}
{% endblock %}

{% set pageHeadingTextHTML %}
Are you sure you want to delete all new disposal site details?
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Get a plan for sediment sample analysis
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ data['sample-plan-project-name-text-input'] }}</span>
    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>

    <p class="govuk-inset-text">
      You'll lose all the site details you've already entered. This cannot be undone.
    </p>
 
    <form action="delete-all-sites-router" method="post" novalidate>
      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: "Yes, delete all site details",
          classes: "govuk-button--warning"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="review-new-disposal-site-details">Cancel</a>
    </div>
    </form>
  </div>
</div>

{% endblock %}

