{% extends "layouts/main.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "MMO"
}) }}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
About the prototype and iterations
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Marine Management Organisation
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: ''
      }) }}

      <a class="govuk-back-link" href="javascript:window.history.back()" style="margin-bottom: 0;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">2025 alpha prototype</span>
      <h1 class="govuk-heading-xl">
          {{ pageHeadingTextHTML }}
        </h1>
  
        <p>This prototype is made using the <a href="https://prototype-kit.service.gov.uk/">GOV.UK Prototype Kit</a> and components and patterns from the the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>

        <h2 class="govuk-heading-m">User journeys in this prototype</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>Check if you need a marine licence</li>
          <li>The exemption notification journey</li>
        </ul>

        <p>The 'Check if you need a marine licence' journey guides users through a series of questions and helps them determine whether their marine activity requires a licence or is exempt.</p>

        <p>Exempt activities do not require a marine licence but MMO need to be notified of the activity.</p>

        <!--<p>[Link to Mural board to show the mapped out user journeys]</p>-->

        <h2 class="govuk-heading-m">Drawing on a map</h2>

        <p>For drawing a location/site on a map, the prototype uses the map software that the 2024 alpha were using and developing. This has some limitations in terms of usability and accessibility and we have been investigating other fully accessible and more usable options that could be used instead, including the Flood risk map that is being developed within Defra.</p>

        <h2 class="govuk-heading-m">Prototype limitations</h2>

        <p>If you see a page titled 'Journey end' it means either a feature you've selected isn't available or you need to go back and answer a question differently.</p>

        <h2 class="govuk-heading-m">Validation</h2>

        <p>A lot of the pages have validation on them, but only for when nothing is entered or selected. They do not check for incorrect characters or other input errors, which would be necessary for the real service in some instances.</p>

        <h2 class="govuk-heading-m">Clearing session data</h2>

        <p>For the prototype to function and display correctly, the data entered during a session is saved. If you revisit a journey without clearing this data, the prototype will not function correctly. To ensure it does, you must clear the data each time. You can do this using the 'Clear data' link in the footer and on the index page.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Iteration 1</h2>

        <p>The 'Check if you need a licence' journey that allows for the scenario relating to removal of sediment from the sea bed for scientific research. When the questions have been successfully answered the 2nd part is the exemption notification journey where details of the activity are entered.</p>

        <p>It's a linear journey with no account creation or sign in required.</p>

        <p>The 'Check if you need a licence' journey is an existing live service, so our Content Designer reviewed the questions to ensure they align with the Government Digital Service style guide, restructuring them where necessary. Some questions were also removed because they repeated information users had already provided. <a href="https://defra.sharepoint.com/:x:/r/teams/Team4307/Change%20Delivery%20%20Implementation/MMO%20CHANGE%20PROGRAMME/MPLP%20(Marine%20Planning%20%26%20Licensing%20Programme)/ALPHA/Content/Content%20decisions/Exemptions%20prototype%20content%20decision%20log.xlsx?d=webd2d010168a4a2c9e2d0edf69fb4ea3&csf=1&web=1&e=6RLHix">Read the content change log</a>.</p>

        <p><a href="/versions/2025-01-27/check/marine-protected-areas">The Marine Protected Areas (MPA) question</a> links to an arcgis mapping tool which has various layers on it to help identify different areas. This is linked to from the live service, but in the prototype the map loads with only the MPA layer visible, rather than all of them, which is currently the case in live.</p>

        <p>The available location details options are draw on a map and specify the centre of a square and its width.</p>

        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Scenario 1 details
            </span>
          </summary>
          <div class="govuk-details__text">

            <p>You're looking to carry out some research involving analysis of sediments from just off the coast of Worthing, by the pier.</p>
            <p>You need to carry out a survey taking 1 sample within 100m of the pier.</p>
            <p>You'll travel to the sample sites by boat and lower a grab overboard.</p>
            <p>The grab will be used to extract 0.3m<sup>3</sup> of material from the surface of the sea floor.</p>
            <p>The material removed will be returned to the vessel and taken anyway for testing and analysis.</p>
            <p>The material will be disposed to land once testing and analysis is complete.</p>
            <p>A colleague advised that you might need to get permission from the Marine Management Organisation before you carry out this activity.</p>
          </div>
        </details>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Iteration 2</h2>

        <p>Based on the UR feedback some of the 'Check if you need a marine licence' questions were updated with <a href="https://defra.sharepoint.com/:x:/r/teams/Team4307/Change%20Delivery%20%20Implementation/MMO%20CHANGE%20PROGRAMME/MPLP%20(Marine%20Planning%20%26%20Licensing%20Programme)/ALPHA/Content/Content%20decisions/Exemptions%20prototype%20content%20decision%20log.xlsx?d=webd2d010168a4a2c9e2d0edf69fb4ea3&csf=1&web=1&e=6RLHix">different or new content</a>, but we also added in new pages to allow us to test a different scenario more appropriate for novice users - pontoon construction in a residential setting.</p>

        <p>Features added:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>File with coordinates upload options, with KML file upload the one that works</li>
          <li>Specifying centre of a circle and it's width as the location</li>
          <li>Manually entering multiple coordinates of the area</li>
          <li>Specifying which coordinate system is used for coordinate entry (WGS84 or OSGB36)</li>
          <li>'Check answers' and 'Review your location' now uses Cards style summary lists, with location changes happening only on the 'Review your location' page with a single link to that page from 'Check answers'</li>
        </ul>

        <p>We didn't have time to iterate all the recommendations from all the UR feedback (specifically dates guidance and duplication of project and activity details), as we were waiting for a response from the legal team.</p>
        
        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Scenario 2 details
            </span>
          </summary>
          <div class="govuk-details__text">

            <p>You live in Hammersmith London W6 9TS with a private garden fronting onto the River Thames.</p>
            <p>You'd like to install a new private pontoon of 20m<sup>2</sup>, accessible via gangway, enabling independent access to the River Thames. You'll employ a builder to do this work for you.</p>
            <p>Five of your neighbours properties have a similar pontoon.</p>
            <p>The Pontoon and gangway will be constructed and installed on site.</p>
            <p>You have also applied for permission from the Marine Harbour Authority.</p>
            <p>Works are planned to be conducted in one phase, over an estimated period of 2 days in the period April-May 2025.</p>

          </div>
        </details>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Iteration 3</h2>

        <p>For this iteration we wanted to explore users needing a Defra account to send the exemption notification information. Part of the reason being enabling users to save and comeback later - for example if they needed to get coordinates or check on the dates of the activity.</p>

        <p>The design switches from a linear flow to using the task list component. This enables users to see all sections that need completing upfront and complete them in any order they choose. Using this pattern would also benefit the more complex and lengthy standard marine licence and self-service marine licence journeys when those are designed and developed.</p>

        <p>The prototype journey assumes the user already has a Defra account and Government Gateway account which the user signs in with.</p>

        <p>Various questions in the 'Check if you need a marine licence' journey were updated with <a href="https://defra.sharepoint.com/:x:/r/teams/Team4307/Change%20Delivery%20%20Implementation/MMO%20CHANGE%20PROGRAMME/MPLP%20(Marine%20Planning%20%26%20Licensing%20Programme)/ALPHA/Content/Content%20decisions/Exemptions%20prototype%20content%20decision%20log.xlsx?d=webd2d010168a4a2c9e2d0edf69fb4ea3&csf=1&web=1&e=6RLHix">different or new content</a>.</p>

        <p>We no longer ask for name and email address as they are asked for during the account creation.</p>

        <p>'Provide site details' (previously 'Location details') has been simplified. Users are first asked if they have site coordinates. If they don't, they're shown the map, if they do, they're asked whether they want to enter coordinates manually or upload them via a file. Previously, with the 3 options on that page, the novice users found the page daunting.</p>

        <p>Hint text has been added to the project name page to help give clarity to why they are being asking for it.</p>

        <p>The start and end dates pages now have some text explaining they should allow some extra time, otherwise they'll need to start the process again if they miss the given dates.</p>

        <p>Project background and activity details text fields have been removed completely as legal said they weren't required.</p>

        <p>A summary of the activity the user has picked from the 'Check if you need a marine licence' journey is played back on the Check answers page.</p>

        <p>The file upload component was updated so it uses the latest improved version from the Design System.</p>

        <p>The 'Defra account bar' with the account name is a placeholder borrowed from another Defra service. We'd possibly be looking to use the new Service navigation component from the Design System and incorporate the account links into that.</p>

        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Scenario 2 details
            </span>
          </summary>
          <div class="govuk-details__text">

            <p>You live in Hammersmith London W6 9TS with a private garden fronting onto the River Thames.</p>
            <p>You'd like to install a new private pontoon of 20m<sup>2</sup>, accessible via gangway, enabling independent access to the River Thames. You'll employ a builder to do this work for you.</p>
            <p>Five of your neighbours properties have a similar pontoon.</p>
            <p>The Pontoon and gangway will be constructed and installed on site.</p>
            <p>You have also applied for permission from the Marine Harbour Authority.</p>
            <p>Works are planned to be conducted in one phase, over an estimated period of 2 days in the period April-May 2025.</p>

          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="iteration4">Iteration 4</h2>

        <h3 class="govuk-heading-s">Project name page moved before task list</h3>
<p>Users now see the 'Project name' page immediately after signing in or creating an account. This change ensures a draft project is saved with a name before reaching the task list.</p>
<p>Previously, if users reached the task list and left without clicking save, no project would be created.</p>

<h3 class="govuk-heading-s">Dashboard</h3>
<p>A new dashboard now shows users a list of their projects. They can access it by clicking on 'Projects home'.</p>
<p>Projects are listed with their name, type, status, and a reference number (once available). Users can return to a draft project or view the details of a completed exemption notification.</p>
<p>This gives users a clearer view of their progress and makes it easier to manage multiple applications.</p>

<h3 class="govuk-heading-s">Start and end dates now on the same page</h3>
<p>Previously, start and end dates were entered on separate pages. They are now combined into one page.</p>
<p>This change was made following user research, where a neurodiverse participant using a screen ruler (an assistive tool) mistakenly entered the start date twice. When they moved from the start date page to the end date page, the layout looked so similar that it appeared to be the same page.</p>
<p>Putting both dates on a single page reduces the risk of confusion, particularly for users relying on assistive technology, and makes the task quicker and more intuitive for everyone.</p>

<h3 class="govuk-heading-s">Reworded site location question</h3>
<p>We changed the question from 'Do you have the site coordinates?' to 'Do you want to draw the site on our map?'</p>
<p>This was based on feedback from novice users during research. Some users thought they couldn't continue without coordinates and didn't realise they'd be given the option to draw the site on a map. The new wording makes it clear that they can draw on a map and the professional users can select the coordinates option.</p>

<h3 class="govuk-heading-s">Help text added to file upload page</h3>
<p>We added expandable help text to the 'Which type of file do you want to upload?' page to explain the different file types: Shapefile, MapInfo TAB, and KML.</p>
<p>This change was based on user research. One participant didn't recognise any of the file types and said they would have to “Google them” before continuing. By providing brief descriptions up front, users can now understand what each option is for.</p>

<h3 class="govuk-heading-s">Coordinate entry options simplified and clarified</h3>
<p>We iterated on the 'How do you want to enter the coordinates?' page to reduce confusion and better support user behaviour.</p>
<p>In earlier versions, users were given three options: circle, square, or multiple coordinates. We removed the square option in a later step as it was very similar to the circle and added complexity without clear value.</p>
<p>Research consistently showed that most users can provide a single pair of coordinates but were mistakenly choosing the 'multiple coordinates' route – then only entering one pair. This led to incorrect submissions and user frustration.</p>
<p>To support this behaviour, we updated the page to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Focus on two options: creating a circular site or entering multiple coordinates</li>
  <li>Added help text under each option to explain when to use it</li>
</ul>
<p>This change aims to guide users more clearly based on the level of detail they can provide, helping them choose the correct path more confidently.</p>

<h3 class="govuk-heading-s">Multiple coordinates page updated to follow design system</h3>
<p>We updated the 'Enter multiple coordinates' page to improve accessibility, consistency and error handling.</p>
<p>Previously, the page used a custom side-by-side layout for entering latitude and longitude. While it made visual sense, especially for users familiar with coordinates, the layout didn't follow the GOV.UK Design System. It also introduced a few challenges:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Accessibility: Although hidden labels were added to support screen readers, the layout still didn't follow the standard GOV.UK pattern of visible labels above inputs. This could cause confusion for some users, and wasn't as clear or robust as the default approach.</li>
  <li>Error handling: The bespoke layout didn't support GOV.UK Design System error messaging – it was difficult to display inline errors without breaking the layout.</li>
</ul>
<p>In iteration 4, we moved to a stacked layout with visible labels above each field – even on desktop. This:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Brings the page in line with GOV.UK form conventions</li>
  <li>Makes the form clearer and more consistent for all users</li>
  <li>Enables native error handling without extra work</li>
</ul>
<p>The earlier layout was inherited from the previous alpha, but this change makes the page more usable, more accessible, and easier to maintain.</p>

<h3 class="govuk-heading-s">Phone support added to help users complete the service</h3>
<p>We added a support phone number to the 'Check if you need a marine licence' start page and the 'Draw the site on a map' page.</p>
<p>This is to help users who might struggle to complete the service on their own, including those having difficulty providing a site location. Clear contact details give users confidence they can get support if they're unsure or stuck – especially at key points where issues are more likely to arise.</p>

<details class="govuk-details govuk-!-margin-bottom-2">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     The scenarios to follow for this iteration
    </span>
  </summary>
  <div class="govuk-details__text">
   
    <p>We tested with novice and professional users, so both scenarios are relevant for this iteration.</p>

    <h2 class="govuk-heading-m">Scenario 1</h2>

    <p>You're looking to carry out some research involving analysis of sediments from just off the coast of Worthing, by the pier.</p>
    <p>You need to carry out a survey taking 1 sample within 100m of the pier.</p>
    <p>You'll travel to the sample sites by boat and lower a grab overboard.</p>
    <p>The grab will be used to extract 0.3m<sup>3</sup> of material from the surface of the sea floor.</p>
    <p>The material removed will be returned to the vessel and taken anyway for testing and analysis.</p>
    <p>The material will be disposed to land once testing and analysis is complete.</p>
    <p>A colleague advised that you might need to get permission from the Marine Management Organisation before you carry out this activity.</p>

    <h2 class="govuk-heading-m">Scenario 2</h2>

    <p>You live in Hammersmith London W6 9TS with a private garden fronting onto the River Thames.</p>
    <p>You'd like to install a new private pontoon of 20m<sup>2</sup>, accessible via gangway, enabling independent access to the River Thames. You'll employ a builder to do this work for you.</p>
    <p>Five of your neighbours properties have a similar pontoon.</p>
    <p>The Pontoon and gangway will be constructed and installed on site.</p>
    <p>You have also applied for permission from the Marine Harbour Authority.</p>
    <p>Works are planned to be conducted in one phase, over an estimated period of 2 days in the period April-May 2025.</p>

  </div>
</details>
    </div>

    <!-- Right 3rd of the home screen.   Mostly admin stuff  -->
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
        <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">


        <div class="govuk-!-margin-bottom-7">
                <h3 class="govuk-heading-s govuk-!-margin-top-3">Previous alpha</h3> 
                <p><a href="alpha-2024.html">2024 prototype</a></p>   
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h3 class="govuk-heading-s govuk-!-margin-top-3">For designers</h3>
            <p><a href="templates/a-list-of-templates">Templates </a></p>
            <p><a href="templates/a-list-of-helpful-features">Helpful features</a></p>
            <p><a href="documentation">Documentation</a></p>
        </div>

    </div>

</div>

{% endblock %}