{% extends "layouts/main.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Exemptions – Private beta
{% endset %}

{% set navActive = "exemptions-private-beta" %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{{ pageHeadingTextHTML }} - Marine Management Organisation
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: ''
}) }}

<a class="govuk-back-link" href="index.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageHeadingTextHTML }}
    </h1>

    <!-- Start of session warning text -->
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon info" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Remember to <a href="/manage-prototype/clear-data" class=" govuk-link--no-visited-state">clear session data</a>
        every time you start a journey
      </strong>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!-- End of session warning text -->

    <!-- Start of Multiple Sites v2 -->
    <h2 class="govuk-heading-m">Private beta MVP – Exemptions<strong class="govuk-tag govuk-tag--green"
        style="float:right">Finished</strong></h2>

    <p>(Previously known as 'Multiple sites v2')</p>

    <p>This version provides enhanced support for multiple sites, allowing users to provide coordinates through file
      upload and manual entry within the same exemption journey. You can add and delete sites multiple times using
      different methods.</p>

    <p>This is a prototype. You are not required to upload a file – just select 'Continue' on the upload page. The
      mapped coordinates shown are generic.</p>

    <h3 class="govuk-heading-s">Exemption notifications – start from:</h3>

    <ul class="govuk-list govuk-list--spaced">
      <li><a
          href="versions/multiple-sites-v2/check/exemption?headerName=Check%20if%20you%20need%20a%20marine%20licence&headerNameExemption=Apply%20for%20a%20marine%20licence&exemption=sample-notification&errorthispage=false&errortypeone=false&exempt-information-1-status=completed&"
          class="govuk-link--no-visited-state">The 'You are exempt' page of the 'Check if you need a licence'
          section</a></li>
      <li><a
          href="versions/multiple-sites-v2/check/exemption?user_type=organisation&headerName=Check%20if%20you%20need%20a%20marine%20licence&headerNameExemption=Apply%20for%20a%20marine%20licence&exemption=sample-notification&errorthispage=false&errortypeone=false&exempt-information-1-status=completed&"
          class="govuk-link--no-visited-state">The 'You are exempt' page for a multi-organisation user - radios</a></li>
      <li><a
          href="versions/multiple-sites-v2/check/exemption?user_type=organisation&component_type=autocomplete&headerName=Check%20if%20you%20need%20a%20marine%20licence&headerNameExemption=Apply%20for%20a%20marine%20licence&exemption=sample-notification&errorthispage=false&errortypeone=false&exempt-information-1-status=completed&"
          class="govuk-link--no-visited-state">The 'You are exempt' page for a multi-organisation user -
          autocomplete</a></li>
      <li><a
          href="versions/multiple-sites-v2/exemption/task-list?headerName=Check%20if%20you%20need%20a%20marine%20licence&headerNameExemption=Apply%20for%20a%20marine%20licence&exemption=sample-notification&exemption-project-name-text-input=South%20coast%20sea%20samples&errorthispage=false&errortypeone=false&exempt-information-1-status=completed&organisation-name=Sam%20Evans"
          class="govuk-link--no-visited-state">Task list with project name completed</a></li>
      <li><a
          href="versions/mvp-multi-sites/exemption/task-list?headerName=Check%20if%20you%20need%20a%20marine%20licence&headerNameExemption=Apply%20for%20a%20marine%20licence&exemption=sample-notification&exemption-project-name-text-input=South%20coast%20sea%20samples&errorthispage=false&errortypeone=false&exempt-information-1-status=completed&"
          class="govuk-link--no-visited-state">Archived 'Your sites' version</a></li>
    </ul>


    <details class="govuk-details govuk-!-margin-bottom-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Internal user pages
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="versions/multiple-sites-v2/exemption/notifications/activity01"
              class="govuk-link--no-visited-state">Exempt activity notification 1 - individual applicant</a></li>
          <li><a href="versions/multiple-sites-v2/exemption/notifications/activity02"
              class="govuk-link--no-visited-state">Exempt activity notification 2 - individual applicant</a></li>
          <li><a href="versions/multiple-sites-v2/exemption/notifications/activity03"
              class="govuk-link--no-visited-state">Exempt activity notification 3 - individual applicant – no applicant
              details</a></li>
          <li><a href="versions/multiple-sites-v2/exemption/notifications/activity04"
              class="govuk-link--no-visited-state">Exempt activity notification 4 - organisation applicant</a></li>
        </ul>
      </div>
    </details>

    <details class="govuk-details govuk-!-margin-bottom-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Cookie banners and help pages
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="versions/multiple-sites-v2/help/cookies" class="govuk-link--no-visited-state">Cookies page</a>
          </li>
          <li><a href="versions/multiple-sites-v2/help/cookie-banner" class="govuk-link--no-visited-state">Cookie
              banner</a></li>
          <li><a href="versions/multiple-sites-v2/help/cookie-banner-accept"
              class="govuk-link--no-visited-state">Cookies accepted banner</a></li>
          <li><a href="versions/multiple-sites-v2/help/cookie-banner-reject"
              class="govuk-link--no-visited-state">Cookies rejected banner</a></li>
          <li><a href="versions/multiple-sites-v2/help/privacy" class="govuk-link--no-visited-state">Privacy notice</a>
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details govuk-!-margin-bottom-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          IAT replica journeys
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="versions/multiple-sites-v2/start" class="govuk-link--no-visited-state">Start the IAT replica
              journey</a></li>
          <li><a href="versions/multiple-sites-v2/start-improved" class="govuk-link--no-visited-state">Start the IAT
              replica journey with the improved content</a></li>
        </ul>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Error pages
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="versions/multiple-sites-v2/errors/403" class="govuk-link--no-visited-state">403 / Access
              required</a></li>
          <li><a href="versions/multiple-sites-v2/errors/404" class="govuk-link--no-visited-state">404 / Page not
              found</a></li>
          <li><a href="versions/multiple-sites-v2/errors/500" class="govuk-link--no-visited-state">500 / Service
              error</a></li>
          <li><a href="versions/multiple-sites-v2/errors/503" class="govuk-link--no-visited-state">503 / Service
              unavailable (unplanned downtime)</a></li>
        </ul>
      </div>
    </details>

  </div>

  {% include "includes/proto-nav.html" %}

</div>

{% endblock %}
