{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Marine Management Organisation",
    serviceUrl: ""
  }) }}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
2025 alpha prototype
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Marine Management Organisation
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: ''
      }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {{ pageHeadingTextHTML }}
        </h1>
        
        <!--<span>
        {{ govukButton({
          text: "Go to start",
          href: "versions/2025-03-03/check/start",
          isStartButton: true
        }) }}
        </span>
          

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->

        <!-- Start of iteration 3 -->
        <!--<strong class="govuk-tag govuk-tag--green" style="float:right">Finished</strong>-->
        <h2 class="govuk-heading-m">Iteration 3</h2>
        

        <p><a href="versions/2025-03-03/check/start" class="govuk-link--no-visited-state">Start the iteration 3 journey</a></p>
  
        <p>When entering the location details all options are available apart from file upload, where only KML files can be uploaded.</p>

        <!--<p><a href="#">Read about all the iterations here</a>.</p>-->

        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             The scenarios to follow for this iteration
            </span>
          </summary>
          <div class="govuk-details__text">
           
            <p>The scenario from iteration 1 still works, but we have been testing with scenario 2, pontoon construction, which is more appropriate for novice users.</p>

            <h2 class="govuk-heading-m">Scenario 2</h2>

            <p>You live in Hammersmith London W6 9TS with a private garden fronting onto the River Thames.</p>
            <p>You'd like to install a new private pontoon of 20m<sup>2</sup>, accessible via gangway, enabling independent access to the River Thames. You'll employ a builder to do this work for you.</p>
            <p>Five of your neighbours properties have a similar pontoon.</p>
            <p>The Pontoon and gangway will be constructed and installed on site.</p>
            <p>You have also applied for permission from the Marine Harbour Authority.</p>
            <p>Works are planned to be conducted in one phase, over an estimated period of 2 days in the period April-May 2025.</p>

          </div>
        </details>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Internal shortcuts
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="versions/2025-03-03/check/exemption.html" class="govuk-link--no-visited-state">Exemption page</a></li>
              <li><a href="versions/2025-03-03/exemption/task-list.html" class="govuk-link--no-visited-state">Task list page</a></li>
              
          </ul>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- End of iteration 3 -->

        <!-- Start of session warning text -->
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon info" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Remember to <a href="/manage-prototype/clear-data" class=" govuk-link--no-visited-state">clear session data</a>  every time you go through a journey
          </strong>
        </div>
        <!-- End of session warning text -->

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- Start of iteration 2 -->
        <!--<strong class="govuk-tag govuk-tag--green" style="float:right">Finished</strong>-->
        <h2 class="govuk-heading-m">Iteration 2</h2>
        
        <p><a href="versions/2025-02-17/check/start" class="govuk-link--no-visited-state">Start the iteration 2 journey</a></p>
  
        <p>When entering the location details all options are now available apart from file upload, where only KML files can be uploaded.</p>

        <!--<p><a href="#">Read about all the iterations here</a>.</p>-->

        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             The scenarios to follow for this iteration
            </span>
          </summary>
          <div class="govuk-details__text">
           
            <p>The scenario from iteration 1 still works, but we have now added a pontoon construction scenario more appropriate for a novice user.</p>

            <h2 class="govuk-heading-m">Scenario 2</h2>

            <p>You live in Hammersmith London W6 9TS with a private garden fronting onto the River Thames.</p>
            <p>You'd like to install a new private pontoon of 20m<sup>2</sup>, accessible via gangway, enabling independent access to the River Thames. You'll employ a builder to do this work for you.</p>
            <p>Five of your neighbours properties have a similar pontoon.</p>
            <p>The Pontoon and gangway will be constructed and installed on site.</p>
            <p>You have also applied for permission from the Marine Harbour Authority.</p>
            <p>Works are planned to be conducted in one phase, over an estimated period of 2 days in the period April-May 2025.</p>

          </div>
        </details>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Internal shortcuts
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="versions/2025-02-17/check/exemption" class="govuk-link--no-visited-state">Exemption page</a><br>
                Defaults to pontoon scenario 2 if no data is saved</li>
              <!--<li><a href="versions/2025-02-17/check/exemption" class="govuk-link--no-visited-state">Exemption required page</a></li>
              <li><a href="versions/2025-02-17/exemption/what-is-your-name.html" class="govuk-link--no-visited-state">Exemption form start</a></li>-->
              <li><a href="versions/2025-02-17/exemption/about-the-location-of-the-activity.html" class="govuk-link--no-visited-state">Location details start</a><br>Defaults to pontoon scenario 2 if no data is saved</li>
              <li><a href="versions/2025-02-17/check/marine-protected-areas.html" class="govuk-link--no-visited-state">Marine protected area page (scientific sample scenario 1)</a></li>              
          </ul>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- End of iteration 2 -->

        <!-- Start of iteration 1 -->
        <!--<strong class="govuk-tag govuk-tag--green" style="float:right">Finished</strong>-->
        <h2 class="govuk-heading-m">Iteration 1</h2>

        <p><a href="versions/2025-01-27/check/start" class="govuk-link--no-visited-state">Start the iteration 1 journey</a></p>
        
        <p>When entering the location details the options available are draw on a map and specify the centre of a square and its width.</p>

        <!--<p><a href="#">Read about all the iterations here</a>.</p>-->

        <details class="govuk-details govuk-!-margin-bottom-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             The scenario to follow for this iteration
            </span>
          </summary>
          <div class="govuk-details__text">
            
            <h2 class="govuk-heading-m">Scenario 1</h2>

            <p>You're looking to carry out some research involving analysis of sediments from just off the coast of Worthing, by the pier.</p>
            <p>You need to carry out a survey taking 1 sample within 100m of the pier.</p>
            <p>You'll travel to the sample sites by boat and lower a grab overboard.</p>
            <p>The grab will be used to extract 0.3m<sup>3</sup> of material from the surface of the sea floor.</p>
            <p>The material removed will be returned to the vessel and taken anyway for testing and analysis.</p>
            <p>The material will be disposed to land once testing and analysis is complete.</p>
            <p>A colleague advised that you might need to get permission from the Marine Management Organisation before you carry out this activity.</p>
          </div>
        </details>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Internal shortcuts
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="versions/2025-01-27/check/exemption" class="govuk-link--no-visited-state">Exemption page</a></li>
              <li><a href="versions/2025-01-27/exemption/what-is-your-name.html" class="govuk-link--no-visited-state">Start of exemption form</a></li>
          </ul>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- End of iteration 1 -->

         
    </div>

    <!-- Right 3rd of the home screen.   Mostly admin stuff  -->
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
        <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">

          <div class="govuk-!-margin-bottom-7">
            <h3 class="govuk-heading-s govuk-!-margin-top-3">2025 alpha</h3> 
            <p><a href="about-the-prototype.html">About the prototype and iterations</a></p>   
        </div>

        <div class="govuk-!-margin-bottom-7">
                <h3 class="govuk-heading-s govuk-!-margin-top-3">Previous alpha</h3> 
                <p><a href="alpha-2024.html">2024 prototype</a></p>   
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h3 class="govuk-heading-s govuk-!-margin-top-3">For designers</h3>
            <p><a href="templates/a-list-of-templates">Templates </a></p>
            <p><a href="templates/a-list-of-helpful-features">Helpful features</a></p>
            <p><a href="documentation">Documentation</a></p>
        </div>

    </div>

</div>

{% endblock %}