{% extends "layouts/main.html" %}

{% set pageName="Prototype journeys" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Prototype journeys
        </h1>

        <ul class="govuk-list">
          <li><a class="govuk-link" href="/versions/multiple-sites-v2/low-complexity-v3/emails/inbox-transfer?organisation-name=Jurassic%20Coast%20SUP%20Ltd&user_type=organisation&low-complexity-project-name-text-input=Installation%20of%20floating%20pontoon%2C%20Lyme%20Regis%20Harbour%2C%20Dorset">Journey 1</a></li>
          <li><a class="govuk-link" href="/versions/multiple-sites-v2/low-complexity-v3/emails/inbox-reject?organisation-name=Southwest%20Marine%20Works%20Ltd&user_type=organisation&low-complexity-project-name-text-input=Plymouth%20Sound%20cable%20laying">Journey 2</a></li>
        </ul>

</div>





{% endblock %}
