{% extends "layouts/main.html" %}

{% set pageName="Prototype journeys" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Prototype journeys
        </h1>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="versions/multiple-sites-v2/low-complexity-v2/sign-in?user_type=&goto=homepage&mpp-version=2">Individual user</a></li>
          <li><a class="govuk-link" href="versions/multiple-sites-v2/low-complexity-v2/sign-in?user_type=organisation&goto=homepage&mpp-version=2">Organisation user</a></li>
          <!--<li><a class="govuk-link" href="#">Application answers complete</a></li>-->
        </ul>


</div>





{% endblock %}
