{% extends "../layouts/low-complexity-v2.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
    <a class="govuk-back-link govuk-link--no-visited-state" href="javascript:history.back()">Back</a>
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Declaration
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
{{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>

		<p class="govuk-body">I confirm that I:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>am authorised to make this agreement</li>
			<li>to the best of my knowledge, the information provided is correct</li>
			<li>could be prosecuted if I give information I know, or suspect is false</li>
			<li>understand I may be sued if I give incorrect information, knowingly or recklessly</li>
		</ul>

		<form action="declaration-router" method="post" novalidate>
			{{ govukButton({
				text: "Confirm and send information"
			}) }}
		</form>

	</div>
</div>

{% endblock %}

