{% extends "../layouts/low-complexity.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

{% set pageHeadingTextHTML %}
Are you sure you want to delete this project?
{% endset %}

{# Set project details from passed variables or session data #}
{% set projectType = projectTypeFromQuery or data['project-type'] %}
{% set currentProject = projectFromQuery or data['project'] %}
{% set projectName = projectNameFromQuery or data['project-name'] %}
{% set returnPage = returnPageFromQuery or data['return-page'] %}

{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Get permission for marine work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>

    <div class="govuk-inset-text">
      {# Uncomment the line below to show the application type prefix #}
      {% if projectType %}{{ projectType }}: {% endif %}
      {{ projectName or "Project name" }}
    </div>
 
    <form action="delete-router?project={{ currentProject }}" method="post" novalidate>
      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: "Yes, delete project",
		  classes: "govuk-button--warning"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="{% if returnPage %}{{ returnPage }}{% else %}projects{% endif %}">Cancel</a>
    </div>
    </form>

  </div>

</div>

{% endblock %}
