{% extends "../layouts/low-complexity.html" %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% if data['user_type'] === 'organisation' %}
        {% include "../includes/organisation-switcher.html" %}
    {% endif %}
{% endblock %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
Marine licence start page
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }} - {{ data['headerNameExemption'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">{{ data['low-complexity-project-name-text-input'] }}</span>
		<h1 class="govuk-heading-l">
			{{ pageHeadingTextHTML }}
		</h1>
		<p class="govuk-body">When you provide your information you'll need to complete all sections before you can send your application.</p>
		<p class="govuk-body">Your progress will be saved as you go if you need to come back later.</p>

		<h2 class="govuk-heading-m">Project details</h2>
		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="project-name" aria-describedby="project-name-status">
				  Project name
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="project-name-status">
				Completed
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="project-details/project-background" aria-describedby="project-background-status">
				  Project background
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="project-background-status">
				{% if data['low-complexity-project-background-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="project-details/duration" aria-describedby="duration-status">
				  Duration of project
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="duration-status">
				{% if data['low-complexity-duration-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="project-details/dates-of-marine-works" aria-describedby="dates-status">
				  Dates of marine works
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="dates-status">
				{% if data['low-complexity-dates-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="project-details/cost-of-marine-works" aria-describedby="cost-status">
				  Cost of marine works
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="cost-status">
				{% if data['low-complexity-cost-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>
		</ul>

		<h2 class="govuk-heading-m">Site details</h2>
		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="site-details/" aria-describedby="site-details-status">
				  Site details
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="site-details-status">
				{% if data['low-complexity-site-name-completed'] and data['low-complexity-type-of-activity-completed'] and data['low-complexity-activity-description-completed'] and data['low-complexity-site-duration-completed'] and data['low-complexity-schedule-completed'] and data['low-complexity-impacts-completed'] %}
					Completed
				{% elif data['has-visited-site-details'] %}
					<strong class="govuk-tag govuk-tag--light-blue">
						In progress
					</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--blue">
						Not yet started
					</strong>
				{% endif %}
			  </div>
			</li>
		</ul>

		<h2 class="govuk-heading-m">Environmental assessments</h2>
		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="environmental-assessments/european-sites" aria-describedby="european-sites-status">
				  European sites
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="european-sites-status">
				{% if data['low-complexity-european-sites-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="environmental-assessments/marine-conservation-zones" aria-describedby="mcz-status">
				  Marine Conservation Zone Assessment
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="mcz-status">
				{% if data['low-complexity-mcz-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="environmental-assessments/sites-of-special-scientific-interest" aria-describedby="sssi-status">
				  Sites of special scientific interest
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="sssi-status">
				{% if data['low-complexity-sssi-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="environmental-assessments/water-framework-directive" aria-describedby="wfd-status">
					Water Framework Directive assessment
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="wfd-status">
				{% if data['low-complexity-wfd-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>
		</ul>

		<h2 class="govuk-heading-m">Other permissions</h2>
		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="other-permissions/special-legal-powers" aria-describedby="special-legal-powers-status">
				  Special legal powers
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="special-legal-powers-status">
				{% if data['low-complexity-special-legal-powers-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="other-permissions/harbour-authority" aria-describedby="harbour-authority-status">
				  Harbour authority
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="harbour-authority-status">
				{% if data['low-complexity-harbour-authority-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="other-permissions/other-authorities" aria-describedby="other-authorities-status">
				  Other authorities
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="other-authorities-status">
				{% if data['low-complexity-other-permissions-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>

			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="other-permissions/consultation-and-advertising" aria-describedby="consultation-status">
				  Public consultation
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="consultation-status">
				{% if data['low-complexity-consultation-completed'] %}
				Completed
				{% else %}
				<strong class="govuk-tag govuk-tag--blue">
					Not yet started
				</strong>
				{% endif %}
			  </div>
			</li>
		</ul>

		<h2 class="govuk-heading-m">Sharing your project information publicly</h2>
		<ul class="govuk-task-list">
			<li class="govuk-task-list__item govuk-task-list__item--with-link">
			  <div class="govuk-task-list__name-and-hint">
				<a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="sharing-your-project-information-publicly" aria-describedby="sharing-information-status">
				  Sharing your project information publicly
				</a>
			  </div>
			  
			  <div class="govuk-task-list__status" id="sharing-information-status">
				{% if data['low-complexity-sharing-information-completed'] %}
					Completed
				{% else %}
					<strong class="govuk-tag govuk-tag--blue">
						Not yet started
					</strong>
				{% endif %}
			  </div>
			</li>
		</ul>

	{% if data['low-complexity-project-background-completed'] and data['low-complexity-duration-completed'] and data['low-complexity-dates-completed'] and data['low-complexity-cost-completed'] and data['low-complexity-site-name-completed'] and data['low-complexity-type-of-activity-completed'] and data['low-complexity-activity-description-completed'] and data['low-complexity-site-duration-completed'] and data['low-complexity-schedule-completed'] and data['low-complexity-impacts-completed'] and data['low-complexity-european-sites-completed'] and data['low-complexity-mcz-completed'] and data['low-complexity-sssi-completed'] and data['low-complexity-wfd-completed'] and data['low-complexity-special-legal-powers-completed'] and data['low-complexity-harbour-authority-completed'] and data['low-complexity-other-permissions-completed'] and data['low-complexity-consultation-completed'] and data['low-complexity-sharing-information-completed'] %}
	<form action="check-your-answers" method="post">
		<button class="govuk-button" data-module="govuk-button">
			Check and send your application
		</button>
	</form>
	{% endif %}

	</div>
</div>
{% endblock %}
