{% extends "../layouts/low-complexity.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% include "../includes/phase-banner.html" %}
    {% include "../includes/back-link.html" %}
{% endblock %}

{% set pageHeadingTextHTML %}
Are you sure you want to withdraw this project?
{% endset %}

{% block pageTitle %}
    {{ pageHeadingTextHTML }} - Get permission for marine work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageHeadingTextHTML }}
    </h1>

    <div class="govuk-inset-text">
      {% if data['project'] == 'branscombe' %}
        {% if data['project-type'] %}{{ data['project-type'] }}: {% endif %}Branscombe bore holes
      {% elif data['project'] == 'worthing' %}
        {% if data['project-type'] %}{{ data['project-type'] }}: {% endif %}Worthing sediment samples
      {% else %}
        {% if data['project-type'] %}{{ data['project-type'] }}: {% endif %}Project name
      {% endif %}
    </div>
 
    <form action="withdraw-router?project={{ data['project'] }}" method="post" novalidate>
      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: "Yes, withdraw project",
		  classes: "govuk-button--warning"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="{% if data['return-page'] %}{{ data['return-page'] }}{% else %}projects{% endif %}">Cancel</a>
    </div>
    </form>

  </div>

</div>

{% endblock %}
