{% extends "layouts/main.html" %}
{% set pageTitle = "Page not found" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Page not found</h1>

    <p class="govuk-body">We cannot find the page you are looking for. It may have been moved or deleted.</p>

    <h2 class="govuk-heading-m">What you can do</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>If you pasted the web address, check you copied the entire web address</li>
      <li>Go to the <a class="govuk-link" href="#">Marine Licensing start page</a></li>
    </ul>

    <h2 class="govuk-heading-m">If you still cannot find what you need</h2>
    <p class="govuk-body">Contact us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Email: <a class="govuk-link" href="#">info@marinemanagement.org.uk</a></li>
      <li>Telephone: <a class="govuk-link" href="#">0300 123 1032</a></li>
    </ul>

    <p class="govuk-body">The helpline is open 9am to 4:30pm, Monday to Thursday, and 9am to 4pm on Friday. For queries
      outside these times, email us and we will respond the next working day.</p>

  </div>
</div>
{% endblock %}