{% extends "layouts/main.html" %}
{% set pageTitle = "Sorry, the service is unavailable" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>


    <!-- <p class="govuk-body">You will be able to use the service from 9am on Monday 10 September 2025.</p> -->
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">Contact our helpline if you have any questions.</p>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Phone</h2>
    <p class="govuk-body govuk-!-margin-bottom-0">0191 376 2791</p>


    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-1">Email</h2>
    <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link"
        href="mailto:marine.consents@marinemanagement.org.uk">marine.consents@marinemanagement.org.uk</a></p>


    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-1">Opening times</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Monday to Thursday: 9am to 4:30pm</p>
    <p class="govuk-body govuk-!-margin-bottom-0">Friday: 9am to 4pm</p>


  </div>
</div>
{% endblock %}