{% extends "layouts/main.html" %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    List of sites
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
          {{ pageHeadingTextHTML }}
        </h1>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


        {% if data['showsite1'] == "true" %}

            {{
                govukSummaryList
                ({
                    rows:
                    [
                        {
                            key:
                            {
                                text: "File uploaded"
                            },
                            value:
                            {
                                text: "" +  data['sites-upload-perimeter-file-upload']
                            },
                            actions:
                            {
                                items:
                                [
                                    {
                                        href: "check-answers",
                                        text: "View",
                                        visuallyHiddenText: "name"
                                    }
                                ]
                            }
                        }
                    ]
                })
            }}
        {% endif %}

        {% if data['showsite2'] == "true" %}

            {{
                govukSummaryList
                ({
                    rows:
                    [
                        {
                            key:
                            {
                                text: "Circle"
                            },
                            value:
                            {
                                text:  data['sites-circle-width-number-input'] + " meters wide"
                            },
                            actions:
                            {
                                items:
                                [
                                    {
                                        href: "check-answers",
                                        text: "View",
                                        visuallyHiddenText: "name"
                                    }
                                ]
                            }
                        }
                    ]
                })
            }}

        {% endif %}


        <!-- go to routes.js for routing  -->
        <form action="add-site-router" method="post" novalidate>

            {{ govukButton({ text: "Add site" }) }}

        </form>


    </div>


</div>


{% endblock %}
